.imvu-button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    padding: 0 8px;
    text-shadow: 0 1px 1px #fff;
}
/* Some chat room tests about text selections fail without this.
   Need to root cause that and remove this. */
button.imvu-button {
    -moz-user-select: none;
}
    /* HelveticaNeue/Arial is now part of base fonts (/css/font.css)
    .imvu-button * {
        font-family: arial, sans-serif;
    }
    */
    .imvu-button.dark-gray { text-shadow: none; color: #fff; }
    .imvu-button.light-gray { text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6); }

    /* Don't display the dotted outline on <button>s when focused. */
    .imvu-button::-moz-focus-inner {
        border: 0;
    }
    .imvu-button[disabled] {
        cursor: default;
        opacity: 0.5;
        color: rgba(0, 0, 0, 0.25);
    }
        .imvu-button.white-text[disabled]  { color: rgba(255, 255, 255, 0.25); }
        .imvu-button.yellow-text[disabled] { color: rgba(255, 204, 0, 0.25); }
    .imvu-button .icon {
        display: inline-block;
    }
    .imvu-button.white-text  { color: #fff; }
    .imvu-button.yellow-text { color: #fc0; }

    .imvu-button.interstitial {
        -moz-border-image: url(imvu-button-level1.png) 8 stretch;
        border-width: 8px;
        font-size: 12px;
        
        font-weight: bold;
        height: 36px;
        min-width: 106px;
        padding-bottom: 2px;
    }
        .imvu-button.interstitial:not([disabled]):hover  { -moz-border-image: url(imvu-button-level1-hover.png)  8 stretch;  } 
        .imvu-button.interstitial:not([disabled]):active { -moz-border-image: url(imvu-button-level1-active.png) 8 stretch;  }

        .imvu-button.interstitial.dark-gray { -moz-border-image: url(imvu-button-level1-dark-gray.png) 8 stretch; }
        .imvu-button.interstitial.dark-gray:not([disabled]):hover  { -moz-border-image: url(imvu-button-level1-dark-gray-hover.png)  8 stretch;  }
        .imvu-button.interstitial.dark-gray:not([disabled]):active { -moz-border-image: url(imvu-button-level1-dark-gray-active.png) 8 stretch;  }
        
        .imvu-button.interstitial.light-gray { -moz-border-image: url(imvu-button-level1-light-gray.png) 8 stretch; }
        .imvu-button.interstitial.light-gray:not([disabled]):hover  { -moz-border-image: url(imvu-button-level1-light-gray-hover.png)  8 stretch;  }
        .imvu-button.interstitial.light-gray:not([disabled]):active { -moz-border-image: url(imvu-button-level1-light-gray-active.png) 8 stretch;  }

    .imvu-button.level1 {
        -moz-border-image: url(imvu-button-level1.png) 8 stretch;
        border-width: 8px;
        font-size: 14px;
        height: 36px;
        min-width: 106px;
        padding-bottom: 2px;
    }
        .imvu-button.level1:not([disabled]):hover  { -moz-border-image: url(imvu-button-level1-hover.png)  8 stretch;  }
        .imvu-button.level1:not([disabled]):active { -moz-border-image: url(imvu-button-level1-active.png) 8 stretch;  }

        .imvu-button.level1.dark-gray { -moz-border-image: url(imvu-button-level1-dark-gray.png) 8 stretch; }
        .imvu-button.level1.dark-gray:not([disabled]):hover  { -moz-border-image: url(imvu-button-level1-dark-gray-hover.png)  8 stretch;  }
        .imvu-button.level1.dark-gray:not([disabled]):active { -moz-border-image: url(imvu-button-level1-dark-gray-active.png) 8 stretch;  }
        
        .imvu-button.level1.light-gray { -moz-border-image: url(imvu-button-level1-light-gray.png) 8 stretch; }
        .imvu-button.level1.light-gray:not([disabled]):hover  { -moz-border-image: url(imvu-button-level1-light-gray-hover.png)  8 stretch;  }
        .imvu-button.level1.light-gray:not([disabled]):active { -moz-border-image: url(imvu-button-level1-light-gray-active.png) 8 stretch;  }

    .imvu-button.level2 {
        -moz-border-image: url(imvu-button-level2.png) 7 stretch;
        border-width: 7px;
        font-size: 12px;
        height: 30px;
        min-width: 84px;
        padding-bottom: 1px;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    }
        .imvu-button.level2:not([disabled]):hover  { -moz-border-image: url(imvu-button-level2-hover.png)  7 stretch;  }
        .imvu-button.level2:not([disabled]):active { -moz-border-image: url(imvu-button-level2-active.png) 7 stretch;  }

        .imvu-button.level2.dark-gray {
            -moz-border-image: url(imvu-button-level2-dark-gray.png) 7 stretch;
            text-shadow: none;
        }
        .imvu-button.level2.dark-gray:not([disabled]):hover  { -moz-border-image: url(imvu-button-level2-dark-gray-hover.png)  7 stretch;  }
        .imvu-button.level2.dark-gray:not([disabled]):active { -moz-border-image: url(imvu-button-level2-dark-gray-active.png) 7 stretch;  }

        .imvu-button.level2.light-gray { -moz-border-image: url(imvu-button-level2-light-gray.png) 7 stretch; }
        .imvu-button.level2.light-gray:not([disabled]):hover  { -moz-border-image: url(imvu-button-level2-light-gray-hover.png)  7 stretch;  }
        .imvu-button.level2.light-gray:not([disabled]):active { -moz-border-image: url(imvu-button-level2-light-gray-active.png) 7 stretch;  }

    .imvu-button.level2.arrow {
        -moz-border-image: none;
        -moz-background-clip: border, border, padding !important;
        -moz-background-origin: border !important;
        background-image: url(imvu-button-level2-left.png),
                          url(imvu-button-level2-arrow-right.png),
                          url(imvu-button-level2-mid.png);
        background-position: 0 0, 100% 0, 0 0;
        background-repeat: no-repeat, no-repeat, repeat-x;
        border-left: solid 8px transparent;
        border-right: solid 16px transparent;
    }
        .imvu-button.level2.arrow:not([disabled]):hover {
            -moz-border-image: none;
            background-image: url(imvu-button-level2-left-hover.png),
                              url(imvu-button-level2-arrow-right-hover.png),
                              url(imvu-button-level2-mid-hover.png);
            background-position: 0 0, 100% 0, 0 0;
            background-repeat: no-repeat, no-repeat, repeat-x;
        }
        .imvu-button.level2.arrow:not([disabled]):active {
            -moz-border-image: none;
            background-image: url(imvu-button-level2-left-active.png),
                              url(imvu-button-level2-arrow-right-active.png),
                              url(imvu-button-level2-mid-active.png);
            background-position: 0 0, 100% 0, 0 0;
            background-repeat: no-repeat, no-repeat, repeat-x;
        }

    .imvu-button.level2.dark-gray.arrow {
        -moz-border-image: none;
        -moz-background-clip: border, border, padding !important;
        -moz-background-origin: border !important;
        background-image: url(imvu-button-level2-dark-gray-arrow-left.png),
                          url(imvu-button-level2-dark-gray-right.png),
                          url(imvu-button-level2-dark-gray-mid.png);
        background-position: 0 0, 100% 0, 0 0;
        background-repeat: no-repeat, no-repeat, repeat-x;
        border-left: solid 16px transparent;
        border-right: solid 8px transparent;
    }
        .imvu-button.level2.dark-gray.arrow:not([disabled]):hover {
            background-image: url(imvu-button-level2-dark-gray-arrow-left-hover.png),
                              url(imvu-button-level2-dark-gray-right-hover.png),
                              url(imvu-button-level2-dark-gray-mid-hover.png);
            background-position: 0 0, 100% 0, 0 0;
            background-repeat: no-repeat, no-repeat, repeat-x;
        }
        .imvu-button.level2.dark-gray.arrow:not([disabled]):active {
            background-image: url(imvu-button-level2-dark-gray-arrow-left-active.png),
                              url(imvu-button-level2-dark-gray-right-active.png),
                              url(imvu-button-level2-dark-gray-mid-active.png);
            background-position: 0 0, 100% 0, 0 0;
            background-repeat: no-repeat, no-repeat, repeat-x;
        }

    .imvu-button.level3 {
        -moz-border-image: url(imvu-button-level3.png) 4 stretch;
        border-width: 4px;
        
        font-size: 11px;
        font-weight: 400;
        height: 24px;
        min-width: 90px;
        text-shadow: none;
        padding-bottom: 1px;
    }
        .imvu-button.level3:not([disabled]):hover { -moz-border-image: url(imvu-button-level3-hover.png) 4 stretch; }

        .imvu-button.level3.light-gray { -moz-border-image: url(imvu-button-level3-light-gray.png) 4 stretch; }
        .imvu-button.level3.light-gray:not([disabled]):hover { -moz-border-image: url(imvu-button-level3-light-gray-hover.png) 4 stretch; }

        .imvu-button.level3.dark-gray {
            -moz-border-image: url(imvu-button-level3-dark-gray.png) 4 stretch;
            text-shadow: none;
        }
        .imvu-button.level3.dark-gray:not([disabled]):hover { -moz-border-image: url(imvu-button-level3-dark-gray-hover.png) 4 stretch; }

    .imvu-button.level4 {
        -moz-border-image: url(imvu-button-level4.png) 4 stretch;
        border-width: 3px;
        
        font-size: 10px;
        font-weight: 400;
        height: 18px;
        min-width: 36px;
        text-shadow: none;
    }
        .imvu-button.level4:not([disabled]):hover { -moz-border-image: url(imvu-button-level4-hover.png) 4 stretch; }

        .imvu-button.level4.light-gray { -moz-border-image: url(imvu-button-level4-light-gray.png) 4 stretch; }
        .imvu-button.level4.light-gray:not([disabled]):hover { -moz-border-image: url(imvu-button-level4-light-gray-hover.png) 4 stretch; }

        .imvu-button.level4.dark-gray { -moz-border-image: url(imvu-button-level4-dark-gray.png) 4 stretch; }
        .imvu-button.level4.dark-gray:not([disabled]):hover { -moz-border-image: url(imvu-button-level4-dark-gray-hover.png) 4 stretch; }

    .imvu-button.level5 {
        -moz-border-image: url(imvu-button-level5.png) 8 stretch;
        border-width: 8px;
        font-size: 13px;
        height: 29px;
        min-width: 106px;
        padding-bottom: 2px;
        text-shadow: 0 -1px 1px #000;
    }
        .imvu-button.level5:not([disabled]):hover  { -moz-border-image: url(imvu-button-level5-hover.png)  8 stretch;  }
        .imvu-button.level5:not([disabled]):active { -moz-border-image: url(imvu-button-level5-active.png) 8 stretch;  }

.imvu-button.level1 {
    /* 600 looks good weight-wise on Level 1 against yellow, but it slightly
       fattens the font. 500 still looks good and is shaped better. */
    font-weight: 500;
}
.imvu-button.level1.light-gray {
    /* Have to override back to 600 for this, since the default for this
       level was bumped down to 500. */
    font-weight: 600;
}
.imvu-button.level1.dark-gray,
.imvu-button.level2.dark-gray,
.imvu-button.level3.dark-gray {
    /* 600 appears much heavier than it is against dark gray. However, 400 appears much
       lighter than it is against yellow. So, special case dark gray @ 400. */
    font-weight: 400;
}

.imvu-button.no-bg {
    background: none;
    color: #fff;
    font-weight: 400;
}
    .imvu-button.no-bg:hover {
        color: #7f7f7f;
    }
