#paginator-head {
    position: absolute;
    right: 0px;
    padding-right: 20px;
    z-index: 1;
    clear: both;
    top: 58px; 
}

        #paginator-head #paginator #numbers {
            border: 0;
            margin: 0;
            padding: 0;
        }
        
        #paginator-head #paginator li {
            padding: 0px 5px;
            border: none;
            font: 14px;
            cursor: pointer;
            color: white;
            border: 0;
            margin-bottom: -7px;
            margin-left: 5px;
        }
        
        #paginator-head #paginator li .number {
            padding: 3px 5px;
        }
        
            #paginator-head #paginator .number:hover {
                background-color: grey;
            }
        
        #paginator-head #paginator .next, .previous {
            text-align: center;
            display: inline-block;
            cursor: default;
            margin-bottom: -5px;
        }
            
            #paginator-head #paginator #next-image, #previous-image {
                display: block;
                vertical-align: center;
                cursor: pointer;
            }
            
        
        #paginator-head #paginator .info {
            padding-right: 10px;
            border: none;
            cursor: default;
            font: 12px;
            color: #bbbbbb;
        }

        #paginator-head #paginator .current-page {
            color: black;
            border: none;
            background-color: gold;
            cursor: default;
        }
        
            #paginator-head #paginator .current-page:hover {
                background-color: gold;
            }