/* begin tooltip bundle */
.button-bubble-template {
    width: 310px;
    position: absolute;
    top: 40px;
    left: 30px;
    background: -moz-linear-gradient(top, #FDD71D, #FBAF0F);
    -moz-border-radius: 13px;
    -moz-box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.8);
    padding: 10px 4px 10px 4px;
    text-shadow: 0px 1px 1px #FEE921;
    z-index: 9999;
}

.button-bubble-tail {
    width: 0px;
    height: 0px;
    position: absolute;
    left: -28px;
    top: 16px;
    border-color: transparent transparent #FDD71D transparent;
    border-color: transparent #FCC717 transparent transparent;
    border-width: 14px 14px 14px 14px;
    border-style: solid;
}

.button-bubble-msg-1 {
    margin-top: 0px;
    margin-left: 5px;
    color: black;
    font: bold 14px arial;
    text-align: left;
}

.button-bubble-msg-2 {
    margin-top: 2px;
    margin-left: 36px;
    color: black;
    font: bold 14px arial;
    text-align: left;
}
/* end tooltip bundle */
