div.paginator.yui-skin-sam {
    position: absolute;
    z-index: 0;
    right: 29px;
    top: 8px;
    
    font-size:12px;
    font-weight:bold;
    color:#ccc;
}

div.paginator.yui-skin-sam.paginatorBottom {
    position: relative;
    z-index: 0;
    right: 0px;
    top: 0px;
    float:right;
}

div.paginator.yui-skin-sam.yui-skin-sam .yui-pg-pages {
    clear:both;
}

div.paginator.yui-skin-sam .yui-pg-pages .yui-pg-current-page {
    color:#000;
    background:#f4d002;
    cursor:default;
}

.paginator .yui-pg-current {
    font-weight:normal;
}

div.paginator.yui-skin-sam .yui-pg-page {
    cursor:pointer;
    margin:0 0 0 5px;
    background:#333;
    color:#ccc;
    border:0px;
    text-decoration:none;
    padding:3px 5px;
}

div.paginator.yui-skin-sam a.yui-pg-next,
div.paginator.yui-skin-sam a.yui-pg-previous {
    padding:0px 0px 0px 0px;
}

div.paginator.yui-skin-sam span.yui-pg-next,
div.paginator.yui-skin-sam span.yui-pg-previous {
    display:none;
}

div.paginator.yui-skin-sam .yui-pg-pages {
    clear:both;
}

div.paginator.yui-skin-sam .yui-pg-current {
    font-weight:normal;
    margin-right: 0;
}

div.paginator.yui-skin-sam .yui-pg-page {
    cursor:pointer;
    margin:0 0 0 5px;
    background:#333;
    color:#ccc;
    border:0px;
    text-decoration:none;
}

div.paginator.yui-skin-sam a.yui-pg-next,
div.paginator.yui-skin-sam a.yui-pg-previous {
    padding:0px 0px 0px 0px;
}

div.paginator.yui-skin-sam span.yui-pg-next,
div.paginator.yui-skin-sam span.yui-pg-previous {
    display:none;
}

div.paginator.yui-skin-sam img {
    vertical-align:middle;
}

div.paginator.yui-skin-sam a.yui-pg-page:hover, 
div.paginator.yui-skin-sam a.yui-pg-previous:hover, 
div.paginator.yui-skin-sam a.yui-pg-next:hover {
    background:#555;
}
