body, html {
    -moz-user-select: -moz-none;
}

body {
    background:#F0F0E8;
}

#info-panel {
    border:none;
    background:#E4E4D8;
    height:275px;
    width: 419px;
    overflow: auto;
}

#close-button {
    position: absolute;
    right:4px;
    top:5px;
    width:30px;
    height:30px;
    background: url(../../img/panel_x_inner.png);
    cursor: pointer;
}

.dialog-body {
    background:#F0F0E8;
    padding:15px;
}

.main-title {
    height:33px;
    padding-left:15px;
    padding-top:7px;
    font-size:15px;
    color:#FFF;
    background:#4c4c4c;
}

.sub-header {
    
    font-weight:bold;
    font-size:14px;
    color:#666
}

.main-text {
    
    font-size:11px;
    color:#000
}

.info-title {
    
    font-weight:bold;
    font-size:14px;
    color:#333;
    margin-left:3px;
}

.info-title-text {
    position:relative;
    top:5px;
}

.info-text {
    
    font-size:11px;
    color:#666;
    margin-left:34px;
    margin-top:-10px;
}

.info-text ul { 
    padding-left: 20px;
    margin-top: 6px;
}

.info-text ul li { 
    margin-top: 5px;
}

.tip-title {
    display:block;
}
.tip-text {
    position:relative;
    top:3px;
}

.optional {
    display: none;
}
