.hint-widget-container {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.hint-overlay {
  margin: 0;
  padding: 5px;  /* necessary for hover mouse out to work in overlay */
  display: inline-block;
}

.hint-widget {
  font-size: 14px;
  text-align: center;
  position: relative;
  padding: 15px;
  margin: 0;
  border: 2px solid #fff;
  color: black;
  cursor: default;
  background: #fcc115;  
  min-width: 8em;
  max-width: 16em;
  -moz-border-radius:10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 5px #888;
  -webkit-box-shadow: 0px 2px 5px #888;
  box-shadow: 0px 2px 5px #888;
}

.nub-common {
  width:19px;
  height:19px;
  position:absolute;
}

.nub-down {
  background: url(img/nub_down.png) no-repeat;
}

.nub-up {
  background: url(img/nub_up.png) no-repeat;
}

.nub-right {
  background: url(img/nub_right.png) no-repeat;
}

.nub-left {
  background: url(img/nub_left.png) no-repeat;
}

.close-button {
  width:11px;
  height:10px;
  cursor: pointer;
  position:absolute;
  top:6px;
  right:6px;
}

.hint-widget:hover .close-button {
  background: url(img/x.png) no-repeat;
}

.hint-widget .close-button.show-always {
  background: url(img/x.png) no-repeat;
}

.hint-widget .do-not-show {
    font-size: smaller;
    margin-top: 10px;
    bottom: 0px;
    left: 0px;
    text-align: left;
}
.hint-widget .do-not-show label {
    padding-left: 5px;
    vertical-align: top;
}
