@import url("../css/new-visd-base.css");

body {
    background: url(../creator_landing/img/BG_Orbs_Left.png) no-repeat,
                url(../creator_landing/img/BG_Orbs_Right.png) no-repeat,
                url(../creator_landing/img/BG_Leaves_Left.png) no-repeat,
                url(../creator_landing/img/BG_Leaves_Right.png) no-repeat,
                url(../img/background-pattern.png),
                -moz-linear-gradient(top, #272727, #323232, #323232 85%, #4c4c4c 100%);
    background-position: bottom left, bottom right, bottom left, bottom right, top left;
    background-attachment: fixed, fixed, fixed, fixed, fixed;
    color: #B8B8B8;
    padding: 20px;
}

h1 {
    color: #FDD400;
    cursor: default;
    text-transform: capitalize;
    
    font-size: 29px;
    height: 42px;
    line-height: 26px;
}

th {
    color: #fff;
    font: 16px sans-serif;
    padding: 0 15px 10px 0;
}

td {
    vertical-align: middle;
    padding: 0 15px 0 0;
    text-align: center;
}
    td.na {
        color: #ccc;
        font: 16px sans-serif;
    }

#further-guidance {
    margin: 0 0 10px 0;
}

#dialogs {
    margin: 15px 0 0 0;
}
    #dialogs h2, h3 { padding: 0 0 10px 0; }
    #dialogs iframe { border: 0; margin: 0 0 10px 0; }
