body {
    overflow:hidden;
    margin: 0px;
}

#dialog { 
    background:#202020;
    height:100px;
    width:500px;
    position:relative;
    color:#e0e0e0;
    border:2px solid #a0a0a0;
}

#circle_dial {
    position:absolute;
    top:20px;
    left:30px;
    width:60px;
    height:60px;
}

#message_big {
    font: 20px;
    position:absolute;
    top:25px;
    left:100px;
}

#message_small_panel {
    position:absolute;
    top:50px;
    left:100px;
}

#percent_loaded {
    color:#ffffff;
    font: bold 10px;
}

#message_small {
    font: 10px;
}

