div.search-box {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0.5em;
    height: 20px;
}

div.search-box div.input {
    background: transparent url(/content/shop/img/search_bg.png) repeat-x;
    position: absolute;
    top: 0px;
    right: 5px;
    bottom: 0px;
    left: 18px;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

div.search-box div.input form input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    font-size: 13px;
    z-index: 1;
}

div.search-box div.input span {
    position:absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: #5F5F5F;
    padding-left: 3px;
    padding-top: 2px;
    margin: 0;
    font-size: 13px;
    z-index: -1;
    text-align: left;
}

div.search-box.has-text div.input span {
    display: none;
}

div.search-box.focused div.input span {
    display: none;
}

div.search-box div.lt {
    position:absolute;
    top: 0px;
    left: 0px;
    display:inline-block;
    background:transparent url(/content/shop/img/search_lt.png) no-repeat;
    width:18px;
    height:20px;
    padding: 0;
}

div.search-box div.rt {
    position:absolute;
    top: 0px;
    right: 0px;
    display:inline-block;
    background:transparent url(/content/shop/img/search_rt.png) no-repeat;
    width:5px;
    height:20px;
}