@import url(../css/new-visd-dialog.css);

* {
    -moz-user-select: -moz-none;
}

#dialog {
    margin: 0;
}

.dialog-header {
    background: url(img/shared_room.png) left center no-repeat;
    margin-left: 2px;
    margin-top: -3px;
    margin-bottom: 5px;
    height: 40px;
}

.dialog-header .title {
    font-weight: bold;
    color: #ffcc00;
    padding-left: 49px;
    height: 40px;
    line-height: 40px;
}

.room-list {
    background-color: #000;
    border: 1px solid grey;
    padding-left: 7px;
}

.room-record-title {
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    color: #b1abb1;
    font-size: 11px;
}

#close-button {
    position:absolute;
    background:url(../../img/panel_x_inner.png);
    top:1px;
    right:3px;
    cursor:pointer;
    width:30px;
    height:32px;
    z-index: 10;
}

.room-list {
    overflow-y: auto;
    height: 342px;
    margin-bottom: 10px;
}

.room-record {
    margin: 7px;
    width: 100px;
    display: inline-block;
    border: 3px solid #000;
}

.room-record img {
    width: 100px;
    height: 80px;
}

.room-record.selected {
    border: 3px solid #0076b0;
}

#button-bar {
    padding-right: 0px;
    float: right;
}

.imvu-button {
    display: inline-block;
}

.selected-room-name-block {
    display: inline-block;
    color: #b1abb1;
    margin-left: 10px;
    font-size: 12px;
    width: 275px;
}
    .selected-room-name-block .selected-room-name {
        font-style: italic;
    }
    .selected-room-name-block > div {
        height: 17px;
        font-size: 12px;
        overflow: hidden;
    }


.footer-separator  {
    margin-top: 30px;
}

.footer {
    margin-top: 10px;
}
.active-selection {
    float:left;
}

.selected-room-image {
    width: 34px;
    height: 34px;
}