.ui-toaster {
    background:black none repeat scroll 0% 0%;
    margin:0px;
    padding:0;
    text-decoration:none;
}

.ui-toaster-sticky,
.ui-toaster-closable { cursor:pointer; }

body {
    overflow: hidden;
    }

body > #ui-toaster-tl,
body > #ui-toaster-tr,
body > #ui-toaster-bl,
body > #ui-toaster-br { 
    position:fixed; 
    *absolute;
}

#ui-toaster-tl { top:    0px; left:  0px; } /* Top Left */
#ui-toaster-tr { top:    0px; right: 0px; } /* Top Right */
#ui-toaster-bl { bottom: 0px; left:  0px; } /* Bottom Left */
#ui-toaster-br { bottom: 0px; right: 0px; } /* Bottom Right */

.ui-toaster .ui-toaster-body {
    background:black;
    margin:0;
    overflow:hidden;
    overflow:hidden;
}
.ui-toaster .ui-toaster-body div {
    padding:0px;
}
.ui-toaster .ui-toaster-close {
    float:right;
    font-size:80%;
    margin:0px;
    cursor:pointer;
}
.ui-toaster a.ui-toaster-close:hover { 
    font-weight:bold;
}

.ui-toaster .ui-toaster-border-tl, 
.ui-toaster .ui-toaster-border-tc, 
.ui-toaster .ui-toaster-border-tr, 
.ui-toaster .ui-toaster-border-bl, 
.ui-toaster .ui-toaster-border-bc, 
.ui-toaster .ui-toaster-border-br { display:none; }
