@import url(../css/font.css);

/* 
@import url(../../css/new-visd-base.css);
*/

* {
    -moz-user-select: -moz-none;
    -moz-user-focus: ignore;
}

body {
    background: transparent;
    overflow: hidden;
    margin: 10px;
    padding: 0;
}

#avatarMenu {
    background: rgba(0,0,0,0.8);
    -moz-border-radius: 4px;
    border: 1px solid #626262;
    height: 350px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

#title {
    margin-left: 4px;
    margin-right: 3px;
    height: 18px;
    margin-top: 9px;
}

#badge {
    float: left;
    position: relative;
    width: 25px;
    height: 26px;
    top: -2px;
    left: -4px;
    display: none;
}

#avatarName {
    float: left;
    position: relative;
    overflow: hidden;
    
    /* if does not fit in one line, do not show the 2nd line */
    line-height: 20px;
    height: 20px;
    
    /* this is set by javascript depending on badge is shown or not 
    to keep everything in one line for long avatar name without intefering with dismiss button
    (how can we do it only with css?) 
    width: 180px;
    */
    
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    cursor: default;
}

#badge.owner {
    background: url(img/room_owner.png) no-repeat;
    display: block;
}

#badge.lieutenant {
    background: url(img/room_lieutenant.png) no-repeat;
    display: block;
}

#dismiss {
    float: right;
    position: relative;
    width: 20px;
    height: 18px;
    top: 3px;
    right: -3px;
    background: url(../img/icon_16_close.png) no-repeat;
    cursor: pointer;
}

#dismiss:hover {
    background: url(../img/icon_16_close_hover.png) no-repeat;
}

.bd {
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.ui-accordion { 
    height: 290px;
}

#context-message {
    position: relative;
    height: 22px;
    margin-top: 4px;
    padding-top: 1px;
    padding-left: 11px;
    line-height: 19px;
    width: 180px;
    border: 1px solid #333232;
    color: #ffd200;
    font-size: 14px;
    background-color: #1f1e1e;
}

#context-buttons {
    margin-left: 2px;
    padding-bottom:5px;
    cursor: default;
}

.context-button {
    width: 22px;
    height: 25px;
    margin-right: 1px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: 10px;
}

.context-button.info {
    background: transparent url(img/inactive_INFO.png) no-repeat;
}
.context-button.info:hover {
    background: transparent url(img/hover_INFO.png) no-repeat;
}
.context-button.info.selected {
    background: transparent url(img/active_INFO.png) no-repeat;
}

.context-button.friend {
    background: transparent url(img/inactive_FRIEND.png) no-repeat;
}
.context-button.friend:hover {
    background: transparent url(img/hover_FRIEND.png) no-repeat;
}
.context-button.friend.selected {
    background: transparent url(img/active_FRIEND.png) no-repeat;
}

.context-button.gift {
    background: transparent url(img/inactive_GIFT.png) no-repeat;
}
.context-button.gift:hover {
    background: transparent url(img/hover_GIFT.png) no-repeat;
}
.context-button.gift.selected {
    background: transparent url(img/active_GIFT.png) no-repeat;
}

.context-button.invite {
    background: transparent url(img/inactive_WALKOFF.png) no-repeat;
}
.context-button.invite:hover {
    background: transparent url(img/hover_WALKOFF.png) no-repeat;
}
.context-button.invite.selected {
    background: transparent url(img/active_WALKOFF.png) no-repeat;
}

.context-button.shop-together {
    background: transparent url(img/inactive_SHOP_TOGETHER.png) no-repeat;
}
.context-button.shop-together:hover {
    background: transparent url(img/hover_SHOP_TOGETHER.png) no-repeat;
}
.context-button.shop-together.selected {
    background: transparent url(img/active_SHOP_TOGETHER.png) no-repeat;
}

.context-button.flag {
    background: transparent url(img/inactive_FLAG.png) no-repeat;
}
.context-button.flag.show-five-buttons {
    margin-left: 56px;
}
.context-button.flag.show-six-buttons {
    margin-left: 30px;
}
.context-button.flag.show-seven-buttons {
    margin-left: 4px;
}
.context-button.flag:hover {
    background: transparent url(img/hover_FLAG.png) no-repeat;
}
.context-button.flag.selected {
    background: transparent url(img/active_FLAG.png) no-repeat;
}

.context-button.mute {
    background: transparent url(img/inactive_MUTE.png) no-repeat;
}
.context-button.mute:hover {
    background: transparent url(img/hover_MUTE.png) no-repeat;
}
.context-button.mute.selected {
    background: transparent url(img/active_MUTE.png) no-repeat;
}

.context-button.boot {
    background: transparent url(img/inactive_BOOT.png) no-repeat -1px 0;
}
.context-button.boot:hover {
    background: transparent url(img/hover_BOOT.png) no-repeat -1px 0;
}
.context-button.boot.selected {
    background: transparent url(img/active_BOOT.png) no-repeat -1px 0;
}

.context-button.block {
    background: transparent url(img/inactive_BLOCK.png) no-repeat;
}
.context-button.block:hover {
    background: transparent url(img/hover_BLOCK.png) no-repeat;
}
.context-button.block.selected {
    background: transparent url(img/active_BLOCK.png) no-repeat;
}

.context-button.friend,
.context-button.shop-together,
.context-button.gift,
.context-button.invite,
.context-button.flag,
.context-button.mute,
.context-button.boot,
.context-button.block {
    display: none;
}

#avatarMenu.forOtherUser .context-button {
    display: inline-block;
}

#flag-menu {
    display: none;
    position: absolute;
    left: 115px; 
    top: 115px;
    border: 1px solid #f1bf00;
    background: black;
    -moz-border-radius: 5px;
    font: 11px;
    color: #4f99fe;
    padding: 3px 9px 5px 9px;
    line-height: 16px;
}

.flag-menu-item {
    cursor: pointer;
}

#flag-menu-tick {
    background: transparent url(img/flag_menu_tick.png) no-repeat;
    position: absolute;
    left: 28px;
    top: -9px;
    width: 12px;
    height: 10px;
}

.section-title {
    font: 12px;
    margin-left: 2px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 3px;
    cursor: pointer;
}

.section-icon {
    background: url(img/actions_icon.png) no-repeat;
    width: 12px;
    height: 11px;
    position: relative;
    top: 1px;
    margin-right: 5px;
    display: inline-block;
}

#actions {
    font: 11px Arial;
    font-weight: bold;
    height: 222px;
    overflow: auto;
    margin-right: 4px;
}

#actions.hidden {
    display:none;
}

.hasTriggers #actions {
    height: 104px;
}

#triggers {
    font: 11px Arial;
    font-weight: bold;
    color: #fff;
    height: 95px;
    display: none;
    overflow: auto;
    margin-right: 4px;
}

#triggers-section-title {
    display: none;
}

.hasTriggers #triggers-section-title,
.hasTriggers #triggers {
    display: block;
}

.category {
    display: block;
}

.category.two_party {
    display: none;
}

.forOtherUser .category {
    display: none;
}

.forOtherUser .category.two_party {
    display: block;
}
.forOtherUser .category.two_party .action.twoPartyDisable,
.forOtherUser .category.two_party.twoPartyDisable {
    display: none;
}
.forOtherUser.showSpinner .category.two_party:not(.collapsed) {
    display: block;
    background: transparent url(../img/spinner_white_small.apng) no-repeat;
    background-position: 27px 17px;
    height: 50px;
}
.forOtherUser.showSpinner .category.two_party .action {
    display: none;
}

.category .title {
    height: 17px;
    cursor: pointer;
    padding-top: 1px;
}

.action,
.trigger {
    padding-left: 36px;
    height: 17px;
    padding-top: 1px;
    cursor: pointer;
    display: block;
}

.tick {
    background: url(img/expanded_tick.png) no-repeat;
    width: 14px;
    height: 10px;
    margin-left: 5px;
    margin-right: 2px;
    position: relative;
    top: 1px;
    display: inline-block;
}

.apIcon {
    background: transparent url(../img/icon_ap_small.png) no-repeat;
    opacity: 0.5;
    width: 18px;
    height: 12px;
    margin-left: 3px;
    position: relative;
    top: 4px;
    display: inline-block;
}

.vipIcon {
    background: transparent url(../img/icon_vip_small.png) no-repeat;
    opacity: 0.5;
    width: 20px;
    height: 12px;
    margin-left: 3px;
    position: relative;
    display: inline-block;
}

.friendIcon {
    background: url(img/friendonlyaction_icon.png) no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    position: relative;
    top: 1px;
    display: inline-block;
}

.collapsed .tick {
    background: url(img/collapsed_tick.png) no-repeat;
}

.action:hover,
.trigger:hover,
.title:hover {
    background: #404040;
}

.category.collapsed .action,
.category.collapsed .trigger {
    display: none;
}

#triggers.hidden {
    display:none;
}

#triggers.expanded { 
    height: 200px;
}

#actions.expanded { 
    height: 200px;
}

#no_actions_available {
    font-style: italic;
    display: none;
}
