.card {
    background:#f0f0e8;
}

.card .titlebar .close-button { 
    top:7px;
    right:7px;
}

.card .titlebar .hd { 
    font-family: arial;
    background:#3d3d3d url(../../img/panel_hd.png) repeat-x;
    color:#FFF;
    padding:6px 0px 7px 10px;
    font-size:15px;
    letter-spacing:1px;
    margin-top:5px;
    width:100%;
}

.card #bd {
    margin:0;
    padding:0 5px 20px;
    background:#f0f0e8 url(../img/card_bg.png) repeat-x 0 100%;
}

.card #ft {
    background:#f0f0e8 url(../img/card_ft_bg.gif) repeat-x;
    position:absolute;
    bottom:0;
    right:0px;
    width:100%;
    height:41px;
    overflow:hidden;
    padding:0 25px 0 0;
    -moz-user-select:-moz-none;
}

.card #ft .tab {
    text-shadow: 0px 1px 0px #d6d5d1;
    font-size:10px;
    color:#111;
    padding:5px 15px;
    float:right;
    cursor:pointer;
    margin:0 0 0 2px;
}

.card #ft .selected {
    background:#dbd8d1 url(../img/card_tab_bg.png) repeat-x 0 100%;
    border:1px solid #000;
    border-top:0;
    cursor:default;
    padding:5px 14px;
}

.card #ft .tab b {
    display:inline-block;
    margin:0 auto;
    padding:0 0 2px;   
}

.card #ft .tab b:hover {
    text-decoration:underline;
}

.card #ft .selected b:hover {
    text-decoration:none;
}

.card #ft #tab_info b {
    background:url(../img/info_icon.png) no-repeat 0 0;
    padding-left:17px;
}

.card #ft #tab_pets b {
    background:url(../img/pets_icon.png) no-repeat 0 0;
    padding-left:19px;
}

#dialog .content {
    display:none;
    overflow:hidden;
}

#dialog .content.selected {
    display:block;
}
