#themed-room div { 
    font-size: 13px;
    color: #efefef;
    font-weight: normal; 
    text-shadow: 1px 1px 3px #000000;
}

#themed-room {
    background-color: #3E3E3E;
}
#themed-room .imvu-button.take-themed-room-snapshot {
    opacity: .3;
}
#themed-room #close-button {
    position: absolute;
    right:8px;
    top:8px;
    width:21px;
    height:21px;
    background: url(../img/close_nohover.png);
    cursor: pointer;
}
#themed-room #close-button:hover {
    background: url(../img/close_hover.png);
}
a:focus, a:active {
  border: 0;
}
