* {
    -moz-user-select: -moz-none;
    -moz-user-focus:ignore;
}

body {
    background:transparent;
    overflow:hidden;
    margin:0;
    padding:0;
}

#cameraWidget {
    position:absolute;
    right:0;
    top:0;
    width:77px;
    height:175px;
}

#widgetBody {
    position:absolute;
    top:0;
    right:0;
    background:url(img/background.png);
    width:77px;
    height:174px;
}

.collapsed #widgetBody {
    display:none;
}

#closeIcon {
    position:absolute;
    top:0;
    right:0;
    width:19px;
    height:19px;
    background:url(img/close.png);
    cursor:pointer;
}
#closeIcon:hover { background:url(img/close_roll.png); }

.collapsed #closeIcon { background:url(img/open.png); }
.collapsed #closeIcon:hover { background:url(img/open_roll.png); }

#zoomin, #zoomout {
    position:absolute;
    top:77px;
    right:4px;
    width:13px;
    height:13px;
    background:url(img/zoomin.png);
    cursor:pointer;
}
#zoomin:hover { background:url(img/zoomin_roll.png); }

#zoomout {
    top:135px;
    background:url(img/zoomout.png);
}
#zoomout:hover { background:url(img/zoomout_roll.png); }

#zoomHandle {
    position:absolute;
    top:97px;
    right:2px;
    width:17px;
    height:17px;
    background:url(img/zoomhandle.png);
    cursor:pointer;
}
#zoomHandle:hover { background:url(img/zoomhandle_roll.png); }

.panarrow {
    position:absolute;
    top:46px;
    right:30px;
    width:17px;
    height:17px;
    background:url(img/pan_arrow.png);
    cursor:pointer;
}
.panarrow:hover { background:url(img/pan_arrow_roll.png); }

#pan_r {
    -moz-transform:rotate(-90deg);
    top:30px;
    right:14px;
}

#pan_l {
    -moz-transform:rotate(90deg);
    top:30px;
    right:46px;
}

#pan_u {
    -moz-transform:rotate(180deg);
    top:15px;
    right:30px;
}

#birdsEye {
    position:absolute;
    top:153px;
    right:0px;
    width:21px;
    height:21px;
    background:url(img/birdseye.png);
    cursor:pointer;
}
#birdsEye:hover { background:url(img/birdseye_roll.png); }

#birdsEye.on { background:url(img/birdseye_on.png); }
#birdsEye.on:hover { background:url(img/birdseye_on_roll.png); }

#panHandleHolder {
    position:absolute;
    top:30px;
    left:68px;
    width:0px;
    height:17px;
    -moz-transform-origin:-29.5px 50%;
    -moz-transform:rotate(90deg);
}
.collapsed #panHandleHolder {
    display:none;
}

#panHandle {
    right:0px;
    position:relative;
    left:-7px;
    width:17px;
    height:17px;
    background:url(img/zoomhandle.png);
    cursor:pointer;
    z-index: 3;
}
#panHandle:hover { background:url(img/zoomhandle_roll.png); }
