html, body {
    margin:0;
    padding:0;
    overflow:hidden;
    background:#333;
}

h1 {
    margin:0;
    padding:0;
    right:20px;
    top:90px;
    color:#fff;
    font-size:32px;
    
    display:inline-block;
    position:relative;
    top:-5px;
    left:3px;
}

#spinner {
    display:inline-block;
}

#loading {
    width:700px;
    margin:250px auto 0;
    text-align:center;
}

#body {
    position:relative;
    width:750px;
    height:440px;
}

#close_button {
    top:2px;
    right:2px;
}