.hearts {
    display: inline-block;
    background: url(img/RoomSearch_hearts_gray.png) repeat-x;
    width: 65px;
    height: 13px;
    padding: 0;
}
    .hearts .fill {
        width: 0;
        height: 13px;
        background: url(img/RoomSearch_hearts_selected.png) repeat-x;
    }

    .hearts.BigStar {
        width: 24px;
        height: 24px;
        background: url(img/star-large_disabled.png) repeat-x;
    }
    
        .hearts.BigStar .fill {
            width: 0px;
            height: 24px;
            background: url(img/star-large_selected.png) repeat-x;
        }
        
    .hearts.SmallStar {
        width: 16px;
        height: 16px;
        background: url(img/star-avgreview_disabled.png) repeat-x;
    }
    
        .hearts.SmallStar .fill {
            width: 0px;
            height: 16px;
            background: url(img/star-avgreview_selected.png) repeat-x;
        }