
#loading_mask_outer {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: black;
    opacity: 0.66;
    display: none;
}

#loading_mask_middle {
    display: table;
    height: 100%;
    margin: 0 auto;
}

#loading_mask_inner {
    display: table-cell;
    vertical-align: middle;
}

#loading_mask_image {
    width: 41px;
    height: 41px;
}
