@import url(../../css/font.css);

html, body {
    background-color:#111111;
    text-align:left;
    -moz-user-select: -moz-none;
}

#toast {
    height: 146px;
    /*overflow:hidden;*/
    display:none;
}

#hd {
    border-top:2px solid #333330;
    background-image:url(img/messagetray_message_header_with_shadow.png);
    background-repeat: repeat-x;
    /*background: -moz-linear-gradient(top,#757575,#909090);*/
    height:27px;
    position: relative;'
    top:0px;
    left:0px;
    right: 0px;
    z-index: 100;
}

#msgtray_icon {
    background:url(img/message_tray_icon.png) no-repeat;
    width:15px;
    height:13px;
    float: left;
    padding:3px;
    position:relative;
    top:3px;
    left:2px;
}

#hd #title {
    font-size:12px;
    color: #d6d6d6;
    float: left;
    padding-top: 2px;
}

#btn_close {
    background:url(../friends/img/icon_close.png) no-repeat;
    width: 10px;
    height: 10px;
    opacity: 0.7;
    float:right;
    position: relative;
    right: 3px;
    top: 4px;
    cursor: pointer;
}

.pane {
    background-color:#E5E5E5;
    position: relative;
    top: -7px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 12px;
}

#request {
    height: 55px;
}

#friend_pic {
    width: 40px;
    height:55px;
    float: left;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
}


#request #text{
    font-size:12px;
    float: left;
    width: 220px;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
}


#buttons {
    clear: both;
    height: 30px;
    padding-bottom: 4px;
}


#accept {
    float: right;
    margin-right: 10px;
    margin-left: 2px;
}

#invite {
    float: right;
}

#ignore {
    float: right;
}

#show {
    float: right;
}

#ft {
    border-top:1px solid #333330;
    background:url(../friends/img/bg_friend_ft.png) repeat-x;
    height:8px;
    width:100%;
    position:relative;
    bottom:0px;
    left:0px;
}
