body { 
    overflow: hidden;
}

#dialog { 
    width: 551px;
    height: 521px;
}

#main-content { 
    width: 506px;
    height: 501px;
    position: relative;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 25px 10px 15px;
}
 .subtitle { 
    font-size: 20px;
    color: black;
    padding-top: 129px;
    font-weight: bold;
    text-align: center;
 }

.list-header { 
    margin-top: 32px;
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.benefits { 
    margin: 17px 0;
    margin-right: auto;
    margin-left: auto;
    width:266px;
    font-size: 14px;
    color: black;
}

.benefits li { 
    margin: 13px 0;
}
.benefits img { 
    vertical-align: middle;
}

.cta { 
    position: absolute;
    bottom: 30px;
    right: 25px;
}

.cta button { display: none;}
.cta.has-vip button.go { 
    display: inline-block;
}

.cta:not(.has-vip) button.get-vip { 
    display: inline-block;
}

.cta:not(.has-vip) button.not-now { 
    display: inline-block;
}

