body {
    background-color: #131313;    
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    -moz-user-select: -moz-none;
}

body, html {
    height: 100%;
    -moz-user-select: -moz-none;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
}

.content {
    display: table-cell;
    color: #ffffff; 
    width: 100%;    
    height: 100%;
    vertical-align: middle;
}

.title {    
    width: 100%;
}

.title div {        
    margin: 30px auto 40px;        
    text-align: center;   
    font-size: 36px;        
}
