body {
    background-color: #111;
    overflow: hidden;
}
h2 {
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

.end-of-internet-container {
    width: 670px;
    height: 420px;
    background-color: #2F2F2F;    
    margin: 0 auto;
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 2px 6px #000;
}

.end-of-internet {
    margin: 0 auto;
    vertical-align: middle;
}

    .end-of-internet h2 {
        margin-top: 50px;
        padding-top: 50px;
        font-weight: bold;
    }

    .end-of-internet img {
        margin: 30px auto 0;
        align: center;
        display: block;
    }

    .end-of-internet .content {
        margin-top: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    
.loading-spinner{
    display: none;
    width: 670px;
    height: 420px;
    background: no-repeat url(../img/spinner_white.apng) center center transparent;
    margin: 0 auto;    
    padding: 8px 0 0 44px;
    color: white;
}
.loading .loading-spinner {
    display: block;
}

.loading + .vote-button-footer {
    display: none;
}

.loading.side-bar {
    display: none;
}

.preview-mode {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    background-color: #2F2F2F;
}

.preview-mode .text {        
    color: #F5BE01;
    padding: 5px;    
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.preview-mode .close {
    vertical-align: middle;
    display: inline-block;
    width: 21px;
    height: 21px;
    cursor: pointer;    
    background: no-repeat url(../dialogs/img/close.png) 0 4px transparent;
}

.header.preview {
    margin: 10px auto 0;
}

.header {    
    margin: 42px auto 0;
    position: relative;
    width: 800px;
}
.loading .pane {
    display: none;
}
.container {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.pane-collection {
    position: relative;
    margin: 0 auto;
    width: 670px;
    height: 450px;
}

.pane {
    background-color: #2F2F2F;
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 2px 2px #000;
    position: absolute;
    text-indent: 0.0; /* animation hack. don't remove. */
}

.layer1 {
    width: 670px;
    height: 420px;
    z-index: 3;
}

.layer2 {
    /*-moz-transform: scale(0.9, 0.9); Apparently, -moz-box-shadow breaks when using -moz-transform... */
    top: 15px;
    z-index: 2;
}

.layer3 {
    /*-moz-transform: scale(0.8, 0.8); Apparently, -moz-box-shadow breaks when using -moz-transform... */
    top: 30px;
    z-index: 1
}

.profile .pane {
    height: 440px;
    -moz-border-radius: 0;
}

.profile .layer2,
.profile .layer3,
.preview .layer2,
.preview .layer3 {
    display: none;
}

.loading .vote-button-footer {
    display: none;
} 

.side-bar {
    width: 164px;   
    position: absolute;
    right: -110px;
    top: 44px;    
}

.survey {
    font-size: 12px;
    color: #E1E1E1;
    line-height: 16px;
    padding-top: 20px;
}
    .survey a {
        color: #E1E1E1;
        text-decoration: underline;
        cursor: pointer;
    }

.search-preferences {
    margin: 42px auto 0;
    position: relative;
    width: 670px;
    height: 440px;
    background-color: #2F2F2F;
    color: #fff;
}

.search-desc-container {
    float: left;
    padding: 20px;
    width: 280px;
    height: 400px;
    background: no-repeat url(img/searchbg320x440.png) 0 0 transparent;
}

.search-desc-container .heading {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.search-desc-container .subheading {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.search-desc-container .description {
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.search-desc-container img {
    position: absolute;
    left: 80px;
    bottom: 80px;
}

.search-options-container {
    float: right;
    padding: 20px;
    width: 310px;
    height: 400px;
    color: #ddd;
}

.search-options-container hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.search-options-container .heading {
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: bold;
}
.search-options-container .item {
    margin: 12px 0;
    font-weight: bold;
}

.search-options-container .langOpt{
    width: 200px;
}

.search-options-container .age-d .range {
    margin-left: 20px;
}

.search-options-container .ui-corner-all {
    -moz-border-radius: 20px;
}

.search-options-container .ui-slider-horizontal {
    height: 0px;
}

.search-options-container .ui-widget-content {
    border: 1px solid black;
}

.search-options-container .ui-slider-horizontal .ui-slider-handle {
    border: 0;
    top: -0.6em;
}

.search-options-container .gender {
}

.search-options-container .gender-desc {
    width: 50px;
}

.search-options-container .hint {
    font-size: 12px;
    font-style: italic;
    background: no-repeat url(img/q_mark_button15x15.png) 0 3px transparent;
    padding-left: 17px;
    margin-top: 5px;
    color: #AAA;
}

.hint:hover {
    cursor: pointer;
    color: #DDD;
}

.ap-upsell:hover, .vip-upsell:hover {
    cursor: pointer;
}

.search-options-container .ap_ga .ap,
.search-options-container .ap_ga .ga,
.search-options-container .ap_ga .all,
.search-options-container .vip,
.search-options-container .gender .female,
.search-options-container .gender .male {
    background: #898989;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 10px;
    margin-right: 5px;
    vertical-align: middle;
    opacity: 0.5;
}

.search-options-container .ap_ga .ap.active,
.search-options-container .ap_ga .ga.active,
.search-options-container .ap_ga .all.active,
.search-options-container .vip.active,
.search-options-container .gender .female.active,
.search-options-container .gender .male.active {
    background: #f6cb00;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 10px;
    margin-right: 5px;
    opacity: 1;
}

.search-options-container .ap_ga .ap.active {
    background: #DD456B;
    opacity: 1;
    color: #fff;
}
.search-options-container .ap_ga .ap {
    background: #DD456B;
    opacity: 0.5;
    color: #fff;
}

.search-options-container .ap_ga .ga.active {
    background: #7ED321;
    opacity: 1;
    color: #fff;
}

.search-options-container .ap_ga .ga {
    background: #7ED321;
    opacity: 0.5;
    color: #fff;
}

.search-options-container .ap_ga .all.active {
    background: #4A90E2;
    opacity: 1;
    color: #fff;
}

.search-options-container .ap_ga .all {
    opacity: 0.5;
    background: #4A90E2;
    color: #fff;
}

.search-options-container .ap_ga .all,
.search-options-container .ap_ga .ap,
.search-options-container .ap_ga .ga{
   text-transform: uppercase; 
}

.search-options-container .types .ap_ga {
    float: left;
}

.search-options-container .types .vip_col {
    margin-left: 180px;
}

    .search-options-container.teen .types .vip_col {
        margin-left: 0;
    }

.search-options-container span.vip-upsell,
.search-options-container span.ap-upsell {
    display: inline-block;
    width: 25px;
}

.search-preferences-button-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.my-profile {
    width: 70px;
    height: 44px;
    position: relative;
    background: no-repeat #2F2F2F url(img/profiledropdown_50x24.png) center center;
    cursor: pointer;
    border-radius: 3px;
}

.my-profile .options {
    display: none;
    color: #E1E1E1;
    background-color: #2F2F2F;
    position: absolute;
    top: 44px;
    width: 164px;    
}

.my-profile .options li {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #211f20;
    cursor: pointer;
    position: relative;
    padding-left: 38px;
}
.my-profile .options li:hover {
    background-color: #5C5C5C;
}
.profile .my-profile .options .show-profile {
    display: none;
}
.my-profile .options li img {
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 10px;
}
.preview-mode:not([style*="display: none"]) + .container .side-bar {
    display: none;
}

.my-profile .options li:last-child {
    border-bottom: 0;
}

.avatar-pic-container {
    position: relative;
    width: 320px;
    height: 420px;   
    float: left;
    -moz-border-radius: 6px 0 0 6px;
}

.avatar-pic {
    width: 100%;
    height: 100%;
    background: no-repeat url(img/add_profile_pic_main.png) 0 0 transparent;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    -moz-border-radius: 6px 0 0 6px;
}

.layer1 .avatar-pic:hover {
    cursor: pointer;
}

.profile .avatar-pic {
    width: 100%;
    height: 393px;
    -moz-border-radius: 0;
}

.profile .avatar-pic-container {    
    padding: 10px 0 10px 10px;
    width: 300px;
    height: 420px;
    -moz-border-radius: 0;
}

.feature-photo-text {
    font-size: 14px;
    color: #898989;
    padding-top: 10px;
    display: none;
}

.profile .feature-photo-text {
    display: block;
}

.user-info {
    width: 290px;
    height: 360px;
    float: left;
    color: #FFF;
    padding: 30px;
    position: relative;
}

.profile .user-info {
    padding: 10px 20px 30px 30px;
    width: 310px;
}

.my-profile-text {
    display: none;
    font-weight: bold;
    border-bottom: 1px solid #464646;
    padding-bottom: 5px;
}

.links  {
    width: 200px;
}

.deactivate, .activate {
    display: none;
    cursor: pointer;
    float: left;
    font-size: 12px;
    color: #ccc; 
    font-weight: 100;
    text-decoration: underline;
    line-height: 26px;
    height: 26px;
}

.re-order-photos {
    display: none;
    cursor: pointer;
    font-size: 11px;
    color: #ccc;
    font-weight: 100;
    text-decoration: underline;
    line-height: 14px;
    position: relative;
    top: -2px;
}

.profile .re-order-photos {
    display: inline-block;
}

.profile .my-profile-text {
    display: block;
}

.profile .user-details {
    padding: 5px 0 20px;
    font-weight: 700;
    font-size: 16px;
}

.avatarname {
    margin-right: -4px;
}

.avatarname, .age, .profile-gender {
    font-weight: 700;
    font-size: 16px;
}

.enhancements {
    margin-top: 10px;
}

.user-details.has-ap .ap {
    display: inline-block;
}

.ap-upsell .ap,
.user-info .ap,
.search-preferences .ap-upsell {
    background: url(../img/badges_sprite.png) no-repeat -20px 0 transparent;
    width: 23px;
    height: 18px;
    margin-left: -2px;
    vertical-align: middle;
    display: none;
}

.user-details.has-vip .vip {
    display: inline-block;
}

.user-info .vip,
.search-preferences .vip-upsell {
    background: url(../img/badges_sprite.png) no-repeat -24px -42px transparent;
    width: 24px;
    height: 18px;
    margin-left: 2px;
    vertical-align: middle;
    display: none;
}

.story {
    font-size: 11pt;
    color: #FFF;
    margin: 10px 0 20px 0;
    font-style: italic;
    font-weight: 100;
    word-wrap: break-word;
}

.avatar-pic-container .remove {
    background: no-repeat url(img/remove_pic_x_primary.png) 0 0 transparent;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 10px;
    display: none;
    cursor: pointer;
}

.profile .remove {
    display: block;
}

.profile .empty + .remove {
    display: none;
}

.my-story-text {
    display: none;
    font-weight: bold;    
}

.profile .my-story-text {
    display: inline-block;
}

.edit-button {
    display: none;
    margin-left: 4px;
    color: #ccc;
    background: no-repeat url(img/editicon.png) 2px 4px transparent;
    padding-left: 15px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 11px;
    position: relative;
    top: -2px;
}

.profile .edit-button {
    display: inline-block;
}

.edit-story {
    width: 300px;
    height: 150px;
    background-color: white;
    display: none;
    margin-top: 20px;
}

.edit-mode .story {
    display: none;
}

.edit-mode .edit-story {
    display: block;
}

.edit-story-footer {
    display: none;
    margin-top: 10px;    
    width: 300px;
}

.edit-mode .edit-story-footer {
    display: block;
}

.edit-story-button-footer {
    float: right;
}

button.imvu-button.level2.cancel-button {
    min-width: 64px;
}

button.imvu-button.level2.save-button {
    min-width: 64px;
}

.char-remaining {
    font-size: 12px;
    color: #555;
}

.edit-mode + .footer-container {
    display: none;
}

.heart {
    width: 93px;
    height: 93px;
    background: no-repeat url(img/checkbutton.png) 0 0 transparent;
    display: inline-block;
    cursor: pointer;
}

.ex {
    width: 93px;
    height: 93px;
    background: no-repeat url(img/xbutton.png) 0 0 transparent;
    display: inline-block;
    margin-right: 80px;
    cursor: pointer;
}

.preview .heart,
.preview .ex {
    display: none;
}

.heart:hover {
    background: no-repeat url(img/checkbutton.png) 0 -93px transparent;    
}

.ex:hover {
    background: no-repeat url(img/xbutton.png) 0 -93px transparent;
}

.heart:active {
    background: no-repeat url(img/checkbutton.png) 0 -186px transparent;    
}

.ex:active {
    background: no-repeat url(img/xbutton.png) 0 -186px transparent;
}

.dialog-bg {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: table;
    top: 0;
    left: 0;
}

.dialog-bg-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.dialog-bg-inner .close-btn {
    width: 28px;
    height: 28px;
    background: no-repeat url(img/photo_viewer_x.png) 0 0 transparent;
    position: absolute;
    top: 20px;
    right: 45px;
    cursor: pointer;
}

.dialog-bg-inner ul {
    overflow-y: auto;
}

.dialog-bg-inner img {
    display: block;
    margin: 0 auto 25px;

}

.dialog-bg-inner img:first-child {
    margin-top: 25px;
}

.dialog-bg-inner .enlarged-img {
    max-height: 560px;
}

.photos-text {
    font-weight: bold;
    color: #E1E1E1;
    margin: 20px 0;
}

.no-photos .photos-text {
    display: none;
}

.profile .photos-text {
    display: none;
}

.my-photos-text {
    display: none;
    font-weight: bold;
}

.profile .my-photos-text {
    display: block;
}

.flag-button {
    cursor: pointer;
    color: #E1E1E1;
    font-weight: bold;
    padding-left: 12px;
    background: no-repeat url(img/flagicon_8x10.png) 0 5px transparent;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.profile .flag-button {
    display: none;
}

.header .ap-only {
    visibility: hidden;
}

.header.profile .ap-only {
    visibility: visible;
    opacity: 0.3;
}
.header.profile .ap-only.active {
    opacity: 1;
}

.ap-only .box {
    background: url(img/checkbox25x25-spritesheet.png) 0 0 no-repeat;
    background-position: -40px -5px;
    height: 25px;
    width: 25px;
    position: relative;
    top: 8px;
    display: inline-block;
    overflow: hidden;
    margin: 0 10px;
}
.ap-only.active .box:hover {
    cursor: pointer;
}
.ap-only .box.checked {
    background-position: -5px -5px;
}
.ap-only .ap {
    display: inline-block;
}

.ap-only .faux-link {
    color: #4499FE;
}

.button-footer {
    margin-top: 25px;
    text-align: right;
    display: none;    
}

.profile .button-footer {
    display: block;
}

.vote-button-footer {
    margin-top: 20px;
    text-align: center;
}

.profile > .vote-button-footer {
    display: none;
}

.preview-mode:not([style="display: none"]) > .vote-button-footer {
    display: none;
}

.preview .flag-button {
    display: none;
}

.preview > .flag-button {
    display: none;
}

.photos .select-photo {    
    width: 100%;
    height: 100%;
    background-position: center center;
    -moz-background-size: 137% auto;
    background-repeat: no-repeat;
    cursor: pointer;
}

.photos .remove {
    background: no-repeat url(img/remove_pic_x_secondary.png) 0 0 transparent;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
}

.profile .photos .remove {
    display: block;
}

.photos .empty + .remove {
    display: none;
}

.photos li {
    position: relative;
    display: inline-block;
    width: 68px;
    height: 68px;
    margin-right: 2px;
    margin-left: -2px;    
}

.photos .empty {
    visibility: hidden;
    background: no-repeat url(img/addphoto_thumb.png) 4px 4px transparent;    
}

.profile .avatar-pic.empty {
    background: no-repeat url(img/add_profile_pic_my_profile.png) 0 0 transparent;
    width: 316px;
    height: 394px;
}

#photo_id0.no-photo {
    background: no-repeat url(img/add_profile_pic_main.png) 320px 420px transparent;    
}

.profile #photo_id0.no-photo {
    background: no-repeat url(img/add_profile_pic_my_profile.png) 316px 394px transparent;    
}

.profile .photos .empty {
    visibility: visible;
    display: inline-block;
}

.photos {
    margin-top: 12px;
}

.photos .select-photo:last-child {
    margin-right: 0;
}

.progress, .progress * {
    cursor: pointer;
}

.progress-bar {
    width: 58px;
    height: 8px;
    position: relative;
    background-color: #4D4D4D;
    margin: 10px 0;
}

.percent-done {
    height: 100%;
    background-color: #F5BE01;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-text {
    font-weight: bold;
    margin-bottom: 20px;
    color: #E1E1E1;
}

.profile-complete {
    font-size: 18px;
    color: #F5BE01;
    font-weight: bold;
}

.vip-match-text {
    font-size: 10px;
    display: inline-block;
    height: 20px;
    width: 70px;
    vertical-align: top;
    line-height: 12px;
    margin-top: -2px;
    color: #AAA;
}

.instruction {
    color: #AAA;
    font-size: 11px;
    display: inline-block;
    height: 20px;
    width: 65px;
    vertical-align: top;
    line-height: 12px;
    margin: -2px 0 0 20px;
}

.spinner {
    position: absolute;
    background: no-repeat url(../img/spinner_white.apng) center center transparent;
    width: 64px;
    height: 64px;
    top: 180px;
    left: 288px;
    display: none;
}

.loading.search-preferences .spinner {
    display: block;
}

.ap-profile {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 57px;
    height: 42px;
    background: no-repeat url(img/ap_profile_indicator_rounded.png) 0 0 transparent;
}

.pane.is-ap-profile .ap-profile {
    display: block;
}

.profile .pane.is-ap-profile .ap-profile {
    right: -3px;
    background: no-repeat url(img/ap_profile_indicator_square.png) 0 0 transparent;
}
