.title {
    float: left;
    margin: 1px 0 0 5px;
    min-width: 113px;
    height: 29px;
    font:normal 18px arial;
    color:#cccccc;
    text-align:left;
    vertical-align:middle;
    padding-left:5px;
    padding-top:4px;
}
