@import url(../css/dialog.css);
@import url(../css/card.css);


body {
    overflow: hidden;
    margin: 0px;
    background-color:#f0f0e8;
}

* {
    -moz-user-select: -moz-none;
}

input[type="radio"] {
    position:relative;
    top:1px;
    margin-bottom:11px;
    margin-right:2px;
}

.hd {
    font-size:15px !important;
    font-weight: bold !important;
    margin:0 !important;
    height: 17px !important;
    letter-spacing: 0 !important;
    padding-top: 7px !important;
    padding-bottom: 8x !important;
    color:white;
    background-color:#53544e;
    height:25px !important;
    padding-left:15px !important;
}

.bd:before {
    content:url(../../img/icon_24_warning.png);
    position:absolute;
    left:15px;
    top:53px;
}

.bd {
    margin:27px 0 0 57px;
}

.buttons {
    position:absolute;
    right:16px;
    bottom:23px;
}

.choices {
    margin-top:21px !important;
}

.singular .plural {
    display:none;
}

#dialog {
    width:452px;
    height:241px;
    position:relative;
    font-size:14px;
    color:black;
}

#bd {
    padding: 0 0 20px !important;
    background:none !important;
}

#btn_cancel {
    margin-right:1px;
}

#btn_cancel, #btn_delete {
    float:left;
}

#total {
    font-weight:bold;
}

#categories {
    width:190px;
    height:20px;
    background-color:white;
    display:inline-block;
    margin:0;
    position:relative;
    top:5px;
    margin-left:5px;
}

#categories .label {
    color:#2b2b2b;
    margin:1px 0 0 5px;
    white-space:nowrap;
    overflow:hidden;
}