*:focus {
    outline-style: none;
}

.yui-dt-empty {
    display:none;
}

.yui-dt-col-buttons .yui-dt-liner {
    text-align:right;
}

.yui-dt-col-buttons .yui-dt-liner .accept, .yui-dt-col-buttons .yui-dt-liner .ignore {
    padding:1px 5px 0 20px;
}

.yui-dt-col-buttons .yui-dt-liner .accept {
    background:transparent url(img/accept_sp.png) no-repeat 0 4px;
    margin-right:15px;
    color: #FFF;
}

.yui-dt-col-buttons .yui-dt-liner .ignore {
    background:transparent url(img/ignore_sp.png) no-repeat 0 4px;
    font-weight:normal;
    color: #FFF;
}

.yui-dt-col-buttons .yui-dt-liner .ignore:hover, .yui-dt-col-buttons .yui-dt-liner .accept:hover {
    background-position:0 -82px;
}

.yui-dt-col-friendRequestStaticText .yui-dt-liner {
    background:url(img/inbox_friend_request_old.png) no-repeat 0 4px;
    padding:0 0 0 20px;
}

.buttons > div {
    display:inline-block;
    margin: 0 4px;
    cursor: pointer;
}

.buttons > div:hover {
    text-decoration:underline;
}

.buttons .accept {
    font-weight: bold;
}