#tabBar {
    
}

#tabBar .bottom {
    width:100%;
    height:27px;
    background:url(img/tabbar-bottom.png) repeat-x;
}

.tab {
    cursor:pointer;
}

.tab-left {
    float:left;
    width:5px;
    height:33px;
    background:url(img/tab-left-inactive.png);
}

.tab-middle {
    float:left;
    height:33px;
    background:url(img/tab-mid-inactive.png);
    color:#c8c6c7;
    font-weight:bold;
}

.tab-right {
    float:left;
    width:5px;
    height:33px;
    background:url(img/tab-right-inactive.png);
    margin-right:6px;
}

#tabs {
    height:32px;
}

.tabtext {
    position:relative;
    top:8px;
}
.tabtext .bg {
    color:black;
}
.tabtext .fg {
    position:absolute;
    top:-1px;
}

.active .tab-left { background:url(img/tab-left-active.png); }
.active .tab-middle { background:url(img/tab-mid-active.png); }
.active .tab-right { background:url(img/tab-right-active.png); }

.active .tabtext .bg { color: #c6bca3; }
.active .tabtext .fg { color: black; }
.active .tabtext { top: 9px; }

#buttons {
    position:absolute;
    top:17px;
    right:0;
}

#buttons > div {
    cursor:pointer;
    font-weight: bold;
    color:#d0d0d0;
    float: right;
    margin-left: 20px;
    margin-top:6px;
    line-height:20px;
    font-size:11px;
}

#buttons > div:hover {
    color:#fff;
}

#refresh-button {
    background:url(../img/refresh.gif) no-repeat;
    padding-left: 20px;
}
#refresh-button:hover { background-image:url(../img/refresh_hover.gif); }

#new-message-button {
    background:url(img/inbox_send_message_icon.png) no-repeat 0 3px;
    padding-left: 20px;
}
#new-message-button:hover { background-image:url(img/inbox_send_message_icon_hover.png); }

#play-get-matched-button {
    background:transparent url(img/inbox_getmatched_sprite.png) no-repeat;
    padding:1px 5px 0 31px;
}

#play-get-matched-button:hover {
    color: #fff;
    background-position:0 -85px;
}


.tab-contents {
    display:none;
    position:absolute;    
    bottom:0;
    top:75px;
    right:0;
    left:10px;
}

.tab-dynamic-contents {
    position:absolute;
    bottom:0;
    top:36px;
    right:0;
    left:0;
    overflow:auto;
}

.tab-contents.visible { display:block; }

#backToTab {
    display:block;
    background:url(../img/btn_back_gray.png) no-repeat;
    width:55px;
    height:21px;
    text-indent:-9999px;
    cursor:pointer;
    position:relative;
    top:4px;
    left:7px;
}
