/* DataTable */
.tab-dynamic-contents {
    margin-bottom:16px;
}

.yui-dt-col-selected {
    width:22px;
}

.yui-dt-col-avpic_url {
    width:25px;
}

.yui-dt-col-online {
    width:28px;
}

.yui-dt-message { 
    position: absolute;
    top: 0;
    left: 0;
}

.yui-dt-loading {
    z-index: 999;
    background: #121212 url(../img/spinner_white.apng) no-repeat center center;
    opacity: .8;
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 76px;
    left: 10px;
    right:0px;
    bottom:0px;
}

.inbox-list-view {
    padding-right:8px;
}

.inbox-list-view table {
    text-align: left;
    width: 100%;
    font:11px;
    margin-bottom:0;
}

.inbox-list-view thead {
    display:none;
}

.tab-contents th div {
    display: none;
}

.inbox-list-view td {
    color:#fff;
    padding:0;
    border:0;
    border-bottom:1px solid #000;
    color: #999999;
}

.inbox-list-view td .yui-dt-liner {
    overflow: hidden;
    height:20px;
    line-height:18px;
}

.yui-dt-col-avatarname {
    width:170px;
    overflow:hidden;
}

.yui-dt-col-avatarname .avatarname {
    cursor:pointer;
    white-space:nowrap;
    overflow:hidden;
    display:inline-block;
    max-width:200px;
    font-size:13px;
    font-weight: 700;
    color: #FFF;
    padding-right: 4px;
}

.yui-dt-col-avatarname .vip-icon, .yui-dt-col-avatarname .ap-icon {
    display:inline-block;
    height: 14px;
    margin-left:2px;
}

.tab-contents .yui-dt-col-avpic_url .yui-dt-liner {
    height: 32px;
}

.yui-dt-col-avatarname .ap-icon {
    width: 18px;
    background: transparent url(../img/icon_ap_small.png) no-repeat;
}

.yui-dt-col-avatarname .vip-icon {
    width: 20px;
    background: transparent url(../img/icon_vip_small.png) no-repeat;
}

.yui-dt-col-avatarname .avatarname:hover {
    text-decoration:underline;
}

.yui-dt-col-message_type {
    width:25px;
}

.yui-dt-col-message_text .yui-dt-liner {
    padding-right:10px;
    cursor:pointer;
}

.yui-dt-col-message_text .yui-dt-liner:hover {
    text-decoration:underline;
}

.inbox-list-view {
    border-top: 2px solid #2f2a2a;
}
.inbox-list-view tr {
    border-bottom: 2px solid #2f2a2a;
    /*background:url(img/message_background.png) repeat 0 0;*/
}

.inbox-list-view tr:hover {
    border-bottom: 2px solid #2f2a2a;
    background: #2f2a2a;
    /*background:url(img/message_background_highlighted.png) repeat 0 0;*/
}

.inbox-list-view .select {
    margin: 3px 10px 0;
}

.inbox-list-view .online-indicator {
    width: 18px;
    height: 18px;
    margin:0 5px;
}

.inbox-list-view .date-time {
    width:1%;
    min-width:100px;
    text-align: right;
    color: #FFF;
}

.inbox-list-view .is-online .online-indicator {
    background: transparent url(../img/available.png) no-repeat;
}

.inbox-list-view .type {
    height: 20px;
    margin: 5px;
}


.inbox-list-view .message .type {
    background: transparent url(img/inbox_message_old.png) no-repeat;
    width: 15px;
    height: 10px;

}

.inbox-list-view .chat-invite .type {
    background: transparent url(img/inbox_invite.png) no-repeat;
    width: 15px;
    height: 13px;
}

.inbox-list-view .friend-request .type {
    background: transparent url(img/inbox_friend_request.png) no-repeat;
    width: 13px;
    height: 11px;

}

.inbox-list-view .gift {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.inbox-list-view .music-gift .gift {
    background: transparent url(img/inbox_music.png) no-repeat;
    width:16px;
    height:20px;
}

.inbox-list-view .product-gift .gift {
    background: transparent url(img/inbox_gift.png) no-repeat;
    width:14px;
    height:16px; 
    margin-top:-1px;   
}

.inbox-list-view .badge-gift .gift {
    background: transparent url(img/inbox_badge.png) no-repeat;
    width:16px;
    height:20px;     
}
