#carousel_buy_dialog *:focus {
    -moz-outline-style: none;
}

#carousel_buy_dialog h1 {
    font-size:18px;
    color:#212121;
    
    margin-bottom:5px;
    padding-left:27px;
}

#carousel_buy_dialog .room, #carousel_buy_dialog .clothing, #carousel_buy_dialog .furniture {
    display:none;
}

#carousel_buy_dialog.room .room {
    display:block;
}

#carousel_buy_dialog.clothing .clothing {
    display:block;
}

#carousel_buy_dialog.furniture .furniture {
    display:block;
    padding-left:20px;
}

#carousel_buy_dialog h1.clothing {
    background:transparent url('img/buy_dialog_clothing.png') no-repeat;
}

#carousel_buy_dialog h1.room {
    background:transparent url('img/buy_dialog_room.png') no-repeat;
}

#carousel_buy_dialog h1.furniture {
    background:transparent url('img/buy_dialog_furniture.png') no-repeat;
}

div.carousel-buy-dialog {
    color:#000;
}

div.carousel-buy-dialog div.carousel-buy-body  {
    max-height:385px;
    overflow-y:auto;
    overflow-x:hidden;
    margin-bottom:10px;
}

#carousel-buy-clothing, #carousel-buy-room, #carousel-buy-furniture {
    max-height:150px;
    overflow-y:auto;
    overflow-x:hidden;
    margin-bottom:10px;
}

div.carousel-buy-dialog div.carousel-buy-footer {
    height:100px;
    position:relative;
}

div.carousel-buy-dialog div.carousel-buy-footer div.balance {
    position:absolute;
    bottom:10px;
    left:0;
    font-size:10px;
   
}

div.carousel-buy-dialog div.carousel-buy-footer div.balance h3 {
    font-weight:bold;
    font-size:12px;
    height:16px;
    margin:0 0 5px;
}

div.carousel-buy-dialog div.carousel-buy-footer div.balance p {
    margin:0;
    clear:both;
}

div.carousel-buy-dialog div.carousel-buy-footer div.balance p label {
    font-weight:normal;
    margin-right:3px;
}

div.carousel-buy-dialog div.carousel-buy-footer div.balance p span {
    font-weight:bold;
    font-size:11px;
}

div.carousel-buy-dialog div.carousel-buy-footer div.balance p.more-credits {
    font-size:12px;
    color:blue;
    text-decoration:underline;
    clear:both;
    padding-top:5px;
    overflow:hidden;
}

div.carousel-buy-dialog div.carousel-buy-footer div.button-buy-outfit {
    position:absolute;
    right:0px;
    bottom:0px;
}

div.carousel-buy-dialog div.carousel-buy-footer div.totals {
    position:absolute;
    right:0;
    bottom:40px;
   
    font-size:12px;
}

div.carousel-buy-dialog div.carousel-buy-footer div.totals p {
    position:relative;
    text-align:right;
    margin:0 0 5px 0;
}

div.carousel-buy-dialog div.carousel-buy-footer div.totals p.discount {
    color:#ff0000;
    display:none;
}

div.carousel-buy-dialog.discounted div.carousel-buy-footer div.totals p.discount {
    display:block;
    background:#fff;
    position:relative;
}

div.carousel-buy-dialog.discounted div.carousel-buy-footer div.totals p.discount img {
    position:absolute;
    left:-2px;
    top:-3px;
}

div.carousel-buy-dialog div.carousel-buy-footer div.totals p.total span {
    font-size:16px;
}

div.carousel-buy-dialog div.carousel-buy-footer div.totals label {
    font-size:12px;
    font-weight:normal;
    width:80px;
    display:block;
    float:left;
    margin-right:5px;
}

div.carousel-buy-dialog div.carousel-buy-footer div.totals span {
    font-size:12px;
    font-weight:bold;
}

div.carousel-buy-dialog div.product-info div.balance {
    display:none;
}

div.carousel-buy-body {
    max-height:385px;
    overflow-y:auto;
    overflow-x:hidden;
    margin-bottom:10px;
    width:549px;
    height:auto;
    position:relative;
    padding:0;
}

div.carousel-buy-item.product-info {
    background:#696966;
    width:540px;
    height:50px;
    padding:0;
    overflow:hidden;
}

div.carousel-buy-item.product-info div.ap, div.carousel-buy-item.product-info div.ap-title {
    display:none;
}

div.carousel-buy-item.product-info.ap div.ap-title {
    display:block;
    position:static;
    float:left;
    margin-left:5px;
    width:23px;
    height:19px;
    background:transparent url(../widgets/product/img/ap.png) no-repeat;
}


div.carousel-buy-item.product-info.odd {
    background:#777773;
}

div.carousel-buy-item.product-info img.thumbnail {
    width:50px;
    height:40px;
    border:none;
    left:5px;
    top:5px;
    -moz-box-shadow: 0px 1px 5px black;
}

div.carousel-buy-item.product-info div.buy-details {
    position:absolute;
    top:0px;
    left:60px;
    padding-top:2px;
    margin-left:0;
    height:60px;
}

div.carousel-buy-item.product-info div.buy-details div.info-text {
    left:0px;
    top:0px;
}

div.carousel-buy-item.product-info div.buy-details div.info-text h2 {
    font-size:12px;
    
    font-weight:bold;
    color:#e3e3e2;
    float:left;
}

div.carousel-buy-item.product-info div.buy-details div.info-text h3 {
    display:none;
}

div.carousel-buy-item.product-info div.buy-details div.info-text h4 {
    display:none;
}

div.carousel-buy-item.product-info div.buy-details div.info-text div.balance {
    display:none;
}

div.carousel-buy-item.product-info div.buy-details div.cart-buttons {
    position:absolute;
    display:block;
    bottom:16px;
    right:235px;
}

div.carousel-buy-item.product-info div.price {
    right:30px;
    height:20px;
    background:transparent url(img/credits_black.png) no-repeat scroll 0px 0px;
    font-size:12px;
    line-height:17px;
    padding-left:23px;
}

div.carousel-buy-item.product-info div.price span {
    font-size:12px;
}

div.carousel-buy-footer div.balance {
    font-size:12px;
}

div.carousel-buy-item.product-info div.price span.original_price {
    font-size: 80%;
    text-decoration: line-through;
}

div.carousel-buy-item.product_info div.price.two_priced span.original_price {
    display: inline;
}

div.carousel-buy-footer div.balance p {
    clear:both;
}

div.carousel-buy-footer div.balance label {
    font-size:12px;
    font-weight:normal;
    width:80px;
    display:block;
    float:left;
}

div.carousel-buy-footer div.balance span {
    display:block;
    text-align:right;
    width:35px;
    float:left;
}

#save_outfit {
    position:absolute;
    right:24px;
    top:45px;
    font-size:12px;
}

#save_outfit input {
    vertical-align:middle;
}