@import url('../../css/new-visd-base.css');
@import url(../../css/new-visd-buttons.css);

body {
    overflow: hidden;
}

#dialog {
    width: 620px;
    height: 400px;      
}

.re-activate h1,
.de-activate h1,
.progress h1,
.intro h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #FFF;
    padding-top: 40px;
    margin-bottom: 38px;
    text-shadow: 0 1px 4px #000;
}

.progress h1 {
    margin-bottom: 21px;
}


.bd {
    width: 616px;
    height: 400px;
    position: relative;
    display: none;
    color:#ffffff;  
    background:url(../img/texture_bg.jpg);
    border: 2px solid #979797;    
}

#dialog.make-profile-ap .make-profile-ap,
#dialog.make-profile-ga .make-profile-ga {
    display: block;
    width: 420px;
    height: 160px;
}

.make-profile-ap .text,
.make-profile-ga .text {
    margin: 40px 40px;
}

#dialog.intro .intro.bd { 
    display: block;
    background: no-repeat url(img/tutorialbg_620x400.png) 0 0 transparent;
    width: 616px;
    height: 400px;
}

#dialog.progress .progress { 
    background: no-repeat url(img/profilecompletion_bg_430x440.png) 0 0 transparent;
    display: block;
    width: 430px;
    height: 440px;
}

#dialog.re-activate .re-activate { 
    display: block;
    width: 616px;
    height: 400px;
}

#dialog.de-activate .de-activate { 
    display: block;
    width: 616px;
    height: 400px;
}

#dialog.its-a-match .its-a-match { 
    display: block;
    width: 430px;
    height: 440px;
}

#dialog.re-order .re-order {
    display: block;
    width: 630px;
    height: 212px;
}

.header h2, .header h6 {
    display: inline-block;
}

.re-order .header {
    background-color: grey;
    padding: 20px;
}

.re-order .photos .empty {
    display: none;
}

.re-order .photos li.placeholder {
    border: 2px solid white;
    width: 106px;
    height: 106px;
}

.re-order .photos li {
    float: left;
    width: 110px;
    height: 110px;
    margin-right: 10px;
}

.re-order .photos .photo:hover {
    cursor: move;
}

.re-order .photos {
    margin: 20px 0 0 20px;
}

.re-order .photo {
    width: 110px;
    height: 110px;
    background-color: grey;
    background-position: center center;
    -moz-background-size: 137% auto;
    background-repeat: no-repeat;
}
.re-order .action-ok {
    position: absolute;
    right: 20px;
    top: 18px;
}

.re-order .action-close {
    position: absolute;
    right: 110px;
    top: 18px;
}

.re-order .title {
    font-size: 18px;
    font-weight: bold;
}

.re-order .directions {
    font-size: 12px;
    padding-left: 8px;
}

.tricol {
    width: 660px;
    margin: 0 auto;
}

.tricol .col {
    display: inline-block;
    text-align: center;
    width: 165px;
    vertical-align: top;   
    margin-right: 30px;
}

.tricol .col:first-child {
    margin-left: 30px;
}

.re-activate p,
.de-activate p,
.tricol .text {
    font-size: 14px;
    text-align: left;
    line-height: 20px;
}

.re-activate p.strong,
.de-activate p.strong {
    font-weight: bold;
}

.tricol .image {    
    width: 165px;
    height: 165px;
    margin-bottom: 10px;
}

.image.first {
    background: no-repeat url(img/one_165x165.png) 0 0 transparent;    
}

.image.second {
    background: no-repeat url(img/two_165x165.png) 0 0 transparent;    
}

.image.third {
    background: no-repeat url(img/three_165x165.png) 0 0 transparent;    
}

.check {
    display: inline-block;
    position: relative;
    top: 8px;
    width: 24px;
    height: 25px;
    background: no-repeat url(img/smallcheck20x18.png) 0 0 transparent;
}
.x {
    display: inline-block;
    position: relative;
    top: 8px;
    width: 20px;
    height: 25px;
    background: no-repeat url(img/smallx20x18.png) 0 0 transparent;
}

.button-bar {
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}

/* maybe all button bars should positioned like the progress one??? */
.make-profile-ap .button-bar,
.make-profile-ga .button-bar,
.progress .button-bar {
    bottom: 20px;
    padding: 0;
    right: 20px;
    position: absolute;
}

.horizontal-list {
    display: inline-block;
    vertical-align: middle;
}
.album-detail {
    display: inline-block;
    float: left;
}
.album-detail .thumbnail {
    position: relative;
    clip: rect(30px, 160px ,150px ,0px);
    top: -10px;
    width: 160px;
    height: 220px;
}
.album-detail.album-template {
    display: none;
}
.album-detail:hover {
    outline: 1px solid #ffd200;
}

.re-activate .content,
.de-activate .content {
    width: 460px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
}

.progress .content {
    width: 430px;
    margin: 0 auto;
}

.progress .header {
    size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin: 0px 40px 30px 40px;
}

.progress .bar {
    background: url(img/progress-spritesheet.png) no-repeat;
    background-position: 0px 0px;
    width: 26px;
    height: 212px;
    float: left;
    margin: 0 32px 0 72px;
}
.progress .steps {
    display: inline-block;
    width: 300px;
}

.progress ul {
    list-style-type: none;
    position: relative;
    top: -10px;
    left: -10px;
}
.progress ul li {
    font-weight: bold;
    line-height: 48px;
    size: 15px;
    color: #fff;
}
.progress li .box {
    background: url('img/progress-spritesheet.png') no-repeat;
    background-position: -149px -40px;
    height: 25px;
    width: 25px;
    position: relative;
    top: 8px;
    display: inline-block;
    overflow: hidden;
    margin: 0 10px;
}

.progress ul li .box.done{
    background-position: -149px -5px;
}

.progress .status {
    font-weight: bold;
    size: 15px;
    color: #F5BD01;
}

.progress li .link {
    text-decoration: underline;
}

.progress li .link:hover {
    cursor: pointer;
}

.de-activate .image {
    background: url('img/deactivategraphic_200x130.png');
    width: 200px;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.re-activate .image {
    background: url('img/reactivategraphic125x125.png');
    width: 121px;
    height: 122px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.its-a-match.bd {    
    background: no-repeat url(img/itsamatch_bg_430x440.png) 0 0 transparent;
    border: 2px solid #fff;
}

.its-a-match h1 {
    font-size: 30px;
    font-weight: bold;
    color: #FFD632;
    text-shadow: 0 1px 4px #000;
    margin-top: 34px;
    text-align: center;
}

.chat-bubble {
    background: no-repeat url(img/chat.png) 0 0 transparent;
    width: 27px;
    height: 19px;
    position: absolute;
    left: -8px;
}

.its-a-match .match-text {
    text-align: center;
    margin-top: 12px;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
}

.its-a-match .match-text .avatarname {
    text-decoration: underline;
    cursor: pointer;
}

.its-a-match .glowing-check {
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 120px;
    background: no-repeat url(img/glowingcheck_120x120.png) 0 0 transparent;
    margin-top: 134px;
    left: 155px;
}

.picture {
    margin-top: 38px;
    float: left;
    width: 160px;
    height: 185px;
    border: 5px solid #FFF;    
    -moz-box-shadow: 0 2px 4px #000;
    background-repeat: no-repeat;
    background-position: center center;
}

.left.picture {
    margin-left: 36px;
    margin-right: 14px;
    -moz-transform: rotate(-4deg);
}

.right.picture {
    -moz-transform: rotate(4deg);
    cursor: pointer;
}

.button-footer {
    width: 100%;    
    text-align: center;
}

.button-footer.first {
    margin-top: 252px;
}

.first + .button-footer {
    margin-top: 10px;
}

button.continue-button.imvu-button.dark-gray {
    font-weight: bold;
    width: 158px;
}

button.invite-button.imvu-button, button.send-message-button.imvu-button {
    font-weight: bold;
    width: 158px;
    position: relative;
}

.invite-button .text {
    padding-left: 24px;
}
