/* Gem inventory colors */

#walkoff .gem_inventory_segment {
    background: -moz-linear-gradient(top, #393737, #313030);
}

#walkoff .gem_inventory_segment.r {
    background: -moz-linear-gradient(top, #731418, #32090A);
}

#walkoff .gem_inventory_segment.r.bright {
    background: -moz-linear-gradient(top, #D5000B, #960003);
}

#walkoff .gem_inventory_segment.y {
    background: -moz-linear-gradient(top, #84670C, #4C2B01);
}

#walkoff .gem_inventory_segment.y.bright {
    background: -moz-linear-gradient(top, #FFDA3A, #A35E13);
}

#walkoff .gem_inventory_segment.b {
    background: -moz-linear-gradient(top, #16427E, #08193F);
}

#walkoff .gem_inventory_segment.b.bright {
    background: -moz-linear-gradient(top, #0279FF, #0034C3);
}

#walkoff .gem_inventory_segment.p {
    background: -moz-linear-gradient(top, #8D2454, #300A1A);
}

#walkoff .gem_inventory_segment.p.bright {
    background: -moz-linear-gradient(top, #F54991, #CD1B61);
}

#walkoff .gem_inventory_segment.g {
    background: -moz-linear-gradient(top, #1F4C1D, #10270F);
}

#walkoff .gem_inventory_segment.g.bright {
    background: -moz-linear-gradient(top, #0DCB01, #0A9601);
}

/* The next two color specifications for the energy meter must
   not be changed beyond changes to the specific hex color values */

#walkoff > .game > .status_bar .energy_meter {
    background: -moz-linear-gradient(top, #272727, #404040);
}

#walkoff > .game > .status_bar .energy_meter .bar {
    color: #14B0FF;
    background: -moz-linear-gradient(top, #FFFFFF, #13A4DF);
}

/* Okay, that's over. Now you can be more creative with the CSS again. */

/* Repeating the text shadow (for the actual energy number on the bar) makes the shadow darker. */
#walkoff > .game > .status_bar .energy_meter .label {
    text-shadow: 0 0 1px #0E223A, 0 0 1px #0E223A, 0 0 1px #0E223A, 0 0 1px #0E223A;
}

/* Colors for the various states of the power move buttons */

#walkoff > .game > .status_bar .power_move .name {
    color: #B5B5B5;
}

#walkoff > .game > .status_bar .power_move .button {
    background: -moz-linear-gradient(top, #939393, #8B8B8B);
}

#walkoff > .game > .status_bar .power_move .button.enabled {
    background: -moz-linear-gradient(top, #EED758, #EEA958);
    border: 1px outset black;
    /* glow around the button: */
    box-shadow: 0 0 5px 1px #FF00FF;
}

#walkoff > .game > .status_bar .power_move .button.enabled:hover {
    background: -moz-linear-gradient(top, #F4CF00, #F4A100);
    border: 1px outset black;
}

#walkoff > .game > .status_bar .power_move .button.enabled:active {
    background: -moz-linear-gradient(top, #CBB435, #CB8635);
    border: 1px inset black;
}

#walkoff > .game > .status_bar .power_move .button.availableToOpponent {
    background: -moz-linear-gradient(top, #E1DFD2, #726E6A);
    border: 1px inset black;
}

/* This is the glow around the inventory bar next to an enabled power move button */

#walkoff > .game > .status_bar .power_move .inventory.enabled {
    box-shadow: 0 0 5px 3px #FF00FF
}

