

* {
    -moz-user-select: -moz-none;
}

input {
    -moz-user-select: text;
}

body {
    text-align:left;
}

#header {
    overflow:hidden;
    position:relative;
    padding:0 0 0 10px;
    min-width:415px;
}

#header h2 {
    margin:10px 0 0;
    padding:0;
    font:normal 138.5% ;
    color:#aeadad;
    float:left;
}

#refresh-button {
    float:left;
    color:#D0D0D0;
    background:url(../img/refresh.gif) no-repeat 0 -1px;
    margin:15px 0 0 15px;
    padding:2px 0 2px 20px;
    cursor:pointer;
    font-weight: bold;
    font-size:11px;
}

#refresh-button:hover { 
    background-image:url(../img/refresh_hover.gif);
    color:#fff; 
}
#refresh-button.spinning {
    background:url(../img/refresh-animated.gif) no-repeat;
}
#header #title {
    float:left;
}

#header #util_links {
    float:right;
}

#util_links ul {
    padding:0;
    margin:12px 0 0;    
}

#util_links li {
    float:right;
    color:#fff;
    list-style:none;
    margin-left:7px;
    cursor:pointer;
}

#util_links li span {
    display:block;
    
    text-align: center;
    font-size: 11px;
    
    
}

#util_links #friend_invite .text {
     background: url(../tool/friends/img/icon_view_friends.png) no-repeat 0px 3px;
     display: block; 
     padding-left: 20px;
}

#util_links #friend_add .text {
     background: url(../tool/friends/img/icon_add_friend.png) no-repeat 0px 3px;
     display: block;
     padding-left: 20px;
}

#util_links li.open {
    background:url(img/bg_util_tab.png) repeat-x;
}

#util_links #friend_settings {
    margin-left:0px;
}

#util_links #friend_settings span {
    background:url(img/btn_header.png) no-repeat;
    color: #c8c8c8;
    padding-top: 2px;
    background-position:6px -164px;
    width:25px;
    height:25px;
}

#util_links #friend_settings.open span {
    background-position:-89px -164px;
}

#util_links #friend_search span {
    background:url(img/btn_header.png) no-repeat;
    color: #c8c8c8;
    padding-top: 2px;
    background-position:6px -103px;
    width:26px;
    height:25px;
}

#util_links #friend_search.open span {
    background-position:-89px -103px;    
}

#title_util_links {
    overflow:hidden;
}

.util-menu {
    display:none;
    background:url(img/bg_util_menu.png) repeat-x;
    padding:6px 7px;
    overflow:hidden;
}

.util-menu ul {
    padding:0;
    margin:0;
    overflow:hidden;
}

.util-menu li {
    float:right;
    font-size:77%;
    font-weight:bold;
    color:#343434;
    list-style:none;
    overflow:hidden;
    margin-left:20px;
    background:url(img/settings_icons.png) no-repeat;
    cursor:pointer;
}

.util-menu li:hover, .util-menu label:hover {
    color:#fff;
}

.util-menu li input, .util-menu li label {
    float:left;
    margin-right:5px;
    cursor:pointer;
}

.util-menu li label {}

#friend_settings_view {
    padding-left:32px;
    background-position:0 1px;
}

#friend_settings_alerts {
    padding-left:15px;
    background-position:0 -39px;
}

#friend_settings_offline {
    background:none;
}

.util-menu.open {
    display:block;
}

#friend_search_menu {
    padding-top:3px;
    padding-bottom:3px;
}

.search-field {
    float:right;    
}

.search-field .cl {
    background:url(img/search_bg.png) no-repeat;
    width:9px;
    height:19px;
    float:left;
}

.search-field input {
    background:url(img/search_bg.png) repeat-x 0 -60px;
    border:none;
    font-size:11px;
    padding:2px 0;
    float:left;
    width:237px;
}

.search-field .cr {
    background:url(img/search_bg.png) no-repeat 0 -120px;
    width:9px;
    height:19px;
    float:left;    
}

#friend_list {
    position: fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    margin:37px 0px 10px 0;
    padding:0px;
    overflow-x:hidden;
    overflow-y:auto;
}

#friend_list.open {
    margin-top:64px;    
}

#no_friend_no_chat_container {
    display:none;
    margin-top:2px;
    text-align: center;
    font-size: 13px;
    color: #CCC;
    padding:25px 0;
}

    #no_friend_no_chat_container img {
        height:26px;
    }

#recent_chats_container {
    margin-top:2px;
}
    #recent_chats_container .no-people img {
        height:26px;
    }

#birthdays_container {
    display:none;
}

#birthdays_container.has-people {
    display:block;
}

.people-list {
    overflow:hidden;
    margin:0 0 0 10px;
    background:url(img/bg_people_list.png) repeat-x 0 0;
}

.people-list-header {
    font-weight: bold;
    font-size: 85%;
    vertical-align: middle;
    background: url(img/header_bar.png) repeat-x;
    height: 20px;
    margin:0 0 0 10px;
    position: relative;
    cursor: pointer;
    color:#fff;
}

.people-list-header .tick {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 10px;
    height: 10px;
    background: url(img/expanded_tick.png) no-repeat;
}

.people-list-container {}

.people-list-container.collapsed .tick {
    background: url(img/collapsed_tick.png) no-repeat;
    top: 5px;
    left: 7px;
}

.people-list-header .title {
    display:inline-block;
    margin:3px 0 0 22px;
}

.people-list-header .title .count {
    font-weight: normal;
}

#birthdays_header .title .count {
    display: none;
}

.people-list-header .title .number-total:before {
    content: '/';
}

.people-list-header .titleUnbold {
    font-weight: normal;  
}

.people-list-container.collapsed .people-list {
    display: none;
}

.people-list-header .title {}

.people-list .no-people {
    text-align: center;
    font-size: 13px;
    color: #CCC;
    display: block;
    padding:25px 0;
}

.has-people .people-list .no-people {
    display: none;
}

.people-list .no-people a {
    color:#fff;
    text-decoration: underline;
}

#no_friend_no_chat_container button,
.people-list .no-people button {
    font-weight: bold;
    margin-top: 10px;
    height: 40px; 
    width: 150px;
}

#no_friend_no_chat_container button img,
.people-list .no-people button img {
    vertical-align: middle;
    margin-right: 3px;
}

.people-list .people-bucket {
    display: inline;
}

.people-list .avatar {
    width:255px;
    height:64px;
    margin:5px 10px 0 0;
    border-bottom:1px solid #454545;
    padding:0 0 5px;
    overflow:hidden;
    float:left;
    position:relative;
}

.people-list .avatar.birthday {
    background:url(img/bday-bg-list.jpg) no-repeat 0 -5px;
}

.people-list .avatar .tn, 
.people-list .avatar .details {
    float:left;
}

.people-list .avatar .tn {
    width:40px;
    cursor:pointer;
    border-right:1px solid #212021;
    background:#fff;
}

.people-list .avatar .tn img {
    width:40px;
    height:55px;
    display:block;
    z-index:0;
}

.people-list .avatar .details {
    width:200px;
    z-index:1;    
}

.people-list .avatar .info-icon {
    position:absolute;
    top:1px;
    right:-3px;
    z-index:2;
    width:20px;
    height:20px;
    background:url(../img/icon_16_info.png) no-repeat;
    display:none;
}

.people-list .avatar .name {
    overflow:hidden;
    margin-left:5px;
    height:16px;
}

.people-list .avatar .avatar-name, 
.people-list .avatar .vip-icon,  
.people-list .avatar .ap-icon,
.people-list .avatar .mp-icon,  
.people-list .avatar .now-at {
    float:left;
}

.people-list .avatar .location-details .vip-icon,
.people-list .avatar .location-details .mp-icon,
.people-list .avatar .location-details .ap-icon{
    display:none;
}

.people-list .avatar .location-details.vip .vip-icon,
.people-list .avatar .location-details.mp .mp-icon,
.people-list .avatar .location-details.ap .ap-icon{
    display:block;
}

.people-list .avatar .vip-icon, 
.people-list .avatar .mp-icon, 
.people-list .avatar .ap-icon {
    margin:3px 0 0 2px;
    display:none;
    cursor:pointer;
}

.people-list .avatar .avatar-name {
    font-size:100%;
    text-decoration:underline;
    cursor:pointer;
    color:#aaa;
}

.people-list .avatar .availability {
    overflow:hidden;
    font-size:93%;
    color:#ababab;
    margin:1px 0 0 5px;
    display:none;
}

.people-list .avatar .online-icon,
.people-list .avatar .location-details {
    float:left;
}

.people-list .avatar .location-details {
    margin-top:2px;
    width:170px;
    overflow:hidden;
    font-size:93%;
    color:#ababab;
}

.people-list .avatar .location-details .locating-text, .people-list .avatar .location-details .location-text,.people-list .avatar .location-details .online-text {
    display:none;
}  

.people-list .avatar .location-details.locating .locating-text {
    display:block;
}

.people-list .avatar .location-details.has-location .location-text {
    display:block;
    height:15px;
    overflow:hidden;
    cursor:pointer;
}

.people-list .avatar .location-details.has-location .now-at-text {
    float:left;
}

.people-list .avatar .location-details.has-location .location {
    word-wrap:break-word;
    display:inline-block;
}

.people-list .avatar .location-details.has-location .location {
    max-width:132px;
}

.people-list .avatar .location-details.has-location.ap .location,
.people-list .avatar .location-details.has-location.mp .location,
.people-list .avatar .location-details.has-location.vip .location {
    max-width:110px;
}

.people-list .avatar .location-details.has-location.vip.ap .location {
    max-width:89px;
}

.people-list .avatar .location-details.no-location .online-text {
    display:block;
}

.people-list .avatar .location {
    font-weight:bold;
    text-decoration:underline;
    cursor:pointer;
}

.people-list .avatar .actions {
    display:none;
    overflow:hidden;
    width:204px;
    font-size:77%;
    color:#565654;
    position:absolute;
    top:40px;
    right:0px;
    padding:1px 5px 3px;
    background:#000;
}

.people-list .avatar .actions ul {
    float:left;
    padding:0;
    margin:0;
}

.people-list .avatar .actions li, .people-list .avatar .actions .add, .people-list .avatar .actions .remove, .people-list .avatar .actions .pending {
    text-transform:lowercase;
    cursor:pointer;
    background:url(img/action_icons.png) no-repeat;
    padding:0 0 0 17px;
    font-weight:bold;        
}
    
.people-list .avatar .actions .add {
    padding-left:19px;    
}    

.people-list .avatar .actions .remove {
    padding-left:17px;    
}

.people-list .avatar .actions .pending {
    padding-left:19px;
    cursor:default;
    opacity:0.5;
}
    
.people-list .avatar .actions li {
    float:left;
    list-style:none;
    margin-right:10px;
}

.people-list .avatar .actions li:hover, .people-list .avatar .actions .add:hover, .people-list .avatar .actions .remove:hover {
    color:#ddd;
}

.people-list .avatar .actions li.invite {
    background-position:0 2px;
    display:none;
}

.people-list .avatar .actions li.message {
    background-position:0 -39px;
}

.people-list .avatar .actions li:nth-child(2n) {
    margin-right:0;
}

.people-list .avatar .actions .remove {
    float:right;
    background-position:0 -88px;
}

.people-list .avatar .actions .add, .people-list .avatar .actions .pending {
    float:right;
    background-position:0 -138px;
}

.people-list .avatar .birthday-content {
    color: #07cdcc;
    margin-top: 1px;
    margin-left: 5px;
    margin-bottom: 39px;
    display: none;
}

.people-list .avatar.birthday .birthday-content {
    display: block;
}

.people-list .avatar .birthday-text {
    font-size: 85%;
    width: 100%;
}

.people-list .avatar .birthday-icon {
    background: transparent url(img/cake.png) no-repeat;
    float: left;
    margin-right: 6px;
    width: 14px;
    height: 16px;
}

.people-list .avatar .gift {
    cursor: pointer;
    height: 20px;
    margin-right: 0px;
    margin-top: 0px;
    float: right;
    font: normal 12px;
    top: 7px;
    color: #000;
}

/* the following rules are conditionally applied to .avatar */
.people-list .friend .actions .remove {
    background-position:0px -88px;
    padding-left:17px;
}

.people-list .vip .vip-icon {
    background:url(../img/icon_vip_small.png) no-repeat;
    display:block;
    width:20px;
    height:14px;
}

.people-list .mp .mp-icon {
    background:url(../img/marriage_badge_18x16.png) no-repeat; 
    display:block;
    height:18px;
    width:16px;
}

.people-list .ap .ap-icon {
    background:url(../img/icon_ap_small.png) no-repeat;
    display:block;
    width:18px;
    height:14px;
}

.people-list .online .avatar-name {
    font-weight:bold;
    color:#fff;
}

.people-list .online .availability {
    display:block;
}

.people-list .online.birthday .availability {
    display: none;
}

.people-list .online .online-icon {
    background: transparent url(../img/available.png) no-repeat;
    display:block;
    width:20px;
    height:20px;
}

.people-list .online .actions li.invite {
    display:block;
}

.people-list .mouseover {
    background:url(img/bg_gray_gradient.png) repeat-x;
}

.people-list .birthday-mouseover {
    cursor: pointer;
}

.people-list .mouseover .info-icon {
    display:block;
    cursor:pointer;
}

.people-list .mouseover .avatar-name {
    color:#000;
}

.people-list .mouseover .availability {
    
}

.people-list .mouseover .location-details {
    color:#333;
}

.people-list .mouseover .actions {
    display:block;
}

.list-view #friend_settings_view {
    background-position:0 -88px; 
}

.list-view .mouseover {
    background:none;
}

.list-view .mouseover .avatar-name {
    color:#fff;
}

.list-view .avatar {
    margin-top:4px;
    padding-bottom:6px;
    width: 100%;
    height: auto;
}

.list-view .avatar.birthday {
    background: #252525 url(img/bday-bg-list.jpg) no-repeat 0 -35px;
}

.list-view .avatar .tn {
    display:none;
}

.list-view .avatar .details {
    float:none;
    width:auto;
    margin:0 0 0 25px;
    height:16px;
}

.list-view .avatar .availability {
    position:absolute;
    top:0;
    left:0;
}

.list-view .avatar.birthday .availability {
    display: block;
}

.list-view .avatar .availability .location-details {
    display:none;
}

.list-view .mouseover .info-icon {
    display:none;
}

.list-view .online .details {}

.list-view .mouseover .actions {
    display:none;
}

.list-view .avatar .birthday-content {
    margin-top: 6px;
}

.list-view .avatar .gift {
    margin-top: -18px;
}
