* {
    -moz-user-select: -moz-none;
    user-select: none;
    cursor: default;
}

html { margin: 0; padding: 0; }
body {
    padding: 10px 50px;
    width: 880px;
    margin: auto;
    background: #191919 url(bg.jpg) 0 0 repeat-x;
    height: 100%;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    overflow: hidden;
}

a, a strong {
    cursor: pointer;
}

button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.tip {
    margin: auto;
}

.tip .title {
    background: url(bulb.png) 0 0 no-repeat;
    font-size: 22px;
    line-height: 30px;
    color: #F1BF00;
    padding-left: 35px;
}

.tip .content {
    font-size: 16px;
    line-height: 20px;
    color: #BBB;
    padding-left: 35px;
}

#adspace {
    display: none;
    float: right;
    width: 300px;
    height: 250px;
    padding-left: 50px;
    text-align: right;
}

#videoadspace {
    display: none;
    margin: auto;
    width: 780px;
    height: 295px;
}

#loadInfo {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#loadInfo svg {
    stroke: white;
    fill: white;
}
#loadInfo svg circle.backdrop {
    fill: transparent;
}
#loadInfo svg.circleDial {
    width: 45px;
    height: 45px;
    position: relative;
    top: 17px;
}

#loadInfo .loadingTip {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F1BF00;
    padding-right: 40px;
}

#loadInfo .percentLoaded {
    padding-left: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700
}
#loadInfo .loadingText {
    font-size: 15px;
    line-height: 20px;
    color: #AAA;
}
#loadInfo .loadingText:before {
    content: '- ';
}

#loadInfo .loadingText:empty:before {
    content: '';
}

.encouragement {
    text-align: center;
    float: clear;
    display: none;
}

.upsell {
    text-align: center;
    float: clear;
    display: none;
}

.upsell a {
    font-size: 14px;
    color: #C02F2F;
}

.skip {
    padding-top: 25px;
    float: right;
    display: none;
}