* { -moz-user-select: -moz-none; cursor: default; }
input, textarea { -moz-user-select: text; cursor: text; }
button, input[type=checkbox], input[type=radio], label:not(.labelover), select { cursor: pointer; }

body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    color: #a2a2a2;
    font-size: 12px;
    background-color: #3E3E3E;
}

div.manage-room-card {
    background-color: #3E3E3E;
}

div.manage-room-card>* {
    margin: 0px 17px;
}

div.manage-room-header {
    display:table;
}
div.manage-room-header-padding { /* This span wrapper is needed because padding cannot be added to elements that are display table-* */
    padding-top: 4px;
    padding-bottom: 4px;
}
div.manage-room-header * {
    display:table-cell;
    vertical-align:middle;
}

div.manage-room-header img {
    padding-left: 10px;
}

div.manage-room-header div.title {
    padding-left: 7px;
    font-size: 16px;
    font-family: Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    font-weight: bold;
    color: #ffcc00;
    dropshadow: 1px black 65% opacity -90 degrees;
    line-height: 100%;
    white-space: nowrap;
}

div.manage-room-header div.required-step {
    color: #F00;
    width:46%;
    text-align: right;
}


div#manage-room-error-box {
    display: none;
    margin-top: 0px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 65px;
    border: 3px solid #633;
    background: #fff;
    background-image: url(../../img/icon_24_warning.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    line-height: 16px;
}

div#manage-room-error-box h2 {
    font-size: 13px;
    font-weight: bold;
    color: #575757;
}

div#manage-room-error-box ul#manage-room-errors li {
    font-size: 13px;
    color: #575757;
}

div.manage-room-field-block.error-highlight input {
    border: 2px solid #633;
    margin-left: -2px;
    margin-top: -2px;
}

div.manage-room-field-block.error-highlight .imvu-dropdown canvas {
    border: 2px solid #633;
    margin-left: -2px;
    margin-top: -2px;
    -moz-border-radius: 6px;
}

div.manage-room-body {
    background-color: #282828;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-border-radius: 6px;
    border: 2px solid #514f50;
}

div.manage-room-columns {
}

div.manage-room-column {
    width: 50%;
    padding: 8px 16px;
    -moz-box-sizing: border-box; /* This prevents padding from increasing the width of the div */
}
div.manage-room-column-left {
    float:left;
}

div.manage-room-column-right {
    float: right;
}

div.manage-room-field-block {
    position: relative;
    display: block;
    margin-bottom: 8px;
}

div.manage-room-field-block .required {
    position: absolute;
    left: -3px;
    top: 5px;
    color: #F00;
    font-size: 15px;
}

div.manage-room-field-block .info-img {
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 4px;
}

div.manage-room-field-block .label {
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    padding:5px;
}

div.manage-room-field-block div {
    position: relative;
    line-height:22px;
}

div#manage-room-language-dropdown div.label,
div#manage-room-select-image-dropdown div.label,
div#manage-room-availability-dropdown div.label,
div#manage-room-maxusers-dropdown div.label {
    line-height:28px;
}

div.manage-room-field-block #manage-room-name {
    background-color: #606060;
    -moz-box-sizing: border-box;
    line-height: normal;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.manage-room-field-block textarea,
div.manage-room-field-block .field {
    width: 100%;
    height: 31px;
    padding-left:10px;
    background-color: #333333;
    color: #FFF;
    -moz-border-radius: 4px;
    border: 1px;
    border-style: solid;
    border-color: #514f50;
}

div.manage-room-field-block textarea {
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-box-sizing: border-box; /* This prevents padding from increasing the width of the div */
    background-color: #606060;
}
ul.selectBox-dropdown-menu {
    border: 2px solid #BBBBBB;
}
ul.selectBox-dropdown-menu li {
    background-color: #333333;
    position: relative;
}
ul.selectBox-dropdown-menu li.selectBox-hover span.gradient {
    background: -moz-linear-gradient(left ,  rgba(51, 153, 255, 0),#3399FF);
}

ul.selectBox-dropdown-menu li span.gradient {
    position:absolute;
    top:0px;
    right: 0px;
    bottom:0px;
    width: 30px;
    background: -moz-linear-gradient(left ,  rgba(51, 51, 51, 0),#333333);
}
ul.selectBox-dropdown-menu li a,
div.manage-room-field-block select option {
    padding: 10px 17px;
}
div.manage-room-field-block #manage-room-language-dropdown select option {
    padding-bottom: 3px;
    padding-top: 3px;
}

div.manage-room-field-block textarea {
    height: 115px;
}
div#manage-room-shell-image-container,
div.manage-room-field-block .room-image-container {
    width: 100%;
    height: 110px;
    background-color: #333333;
    color: #FFF;
    position: relative;
    overflow: hidden;
}

div#manage-room-shell-image-container .room-shell-image,
div.manage-room-field-block .room-image-container .room-image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
}

div#manage-room-shell-image-container .room-shell-image,
div.manage-room-field-block .room-image-container .room-image {
}
div#manage-room-shell-image-container {
    position: absolute;
    bottom: 8px;
    left: 12px;
    width: 50px;
    height: 50px;
    background-color: #737373;
    z-index:10;
}
div.manage-room-field-block div.image-dropdown div.label {
    padding-left: 74px;
    padding-top: 22px;
    overflow: hidden;
    white-space: nowrap;
    height:41px !important;
}

.selectBox-options li.selectBox-hover {
    background-color: #3399FF;
}

ul.selectBox-options.selectBox-dropdown-menu li.selectBox-selected a {
    background-color: transparent;
}
div#manage-room-select-image-dropdown .selectBox-dropdown {
    color: inherit;
}
div#manage-room-select-image-dropdown canvas {
    position:absolute;
    pointer-events: none;
}
ul.selectBox-options li.selectBox-hover a {
    background-color: transparent;
    color: #DDDDDD;
}

div.manage-room-field-block div#manage-room-select-image-dropdown a.selectBox {
    -moz-border-radius: 0px 0px 0px 0px;
    -moz-box-shadow: none;
    background: none;
    border: 0px;
}

div.manage-room-field-block div.image-dropdown {
    height: 65px;
}

div.manage-room-field-block input[type="radio"],
div.manage-room-field-block input[type="checkbox"] {
    margin-left: -10px;
}

div#room-shell-type.manage-room-field-block div#room-shell-type-options label {
    margin-top: -2px;
    margin-right: 5px;
    padding: 3px 3px;
    background-color: #828282;
    display: inline-block;
    width:75px;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

div#room-shell {
    margin-bottom:3px;
}
    div#room-shell-type.manage-room-field-block div#room-shell-type-options {
        width: 300px;
        position: relative;
    }
    div#room-shell-type.manage-room-field-block div#shadow {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
    }
    div#room-shell-type.manage-room-field-block div#room-shell-type-options input[type="radio"]:checked+label {
        background-color: #333333;
        -moz-box-shadow: inset 3px 3px 8px -3px black;
        border: 1px solid #737373;
    }
    div#room-shell-type.manage-room-field-block div#room-shell-type-options input[type="radio"]:not(:checked)+label {
        -moz-box-shadow: 1px 1px 1px #414141, inset 2px 2px 6px -3px white;
    }
    div#room-shell-type.manage-room-field-block div#room-shell-type-options input[type="radio"]:not(:checked)+label span {
        opacity: 0.5;
        color: #414141;
    }
    div#room-shell-type.manage-room-field-block div#room-shell-type-options input[type="radio"] {
        display:none;
    }
    div#room-shell-type.manage-room-field-block div#room-shell-type-options label {
        -moz-border-radius: 4px;
    }
    /* Admin option special case */
    div#room-shell-type.manage-room-field-block label#shell_type_cloned_label {
        margin-top: -11px;
        margin-bottom: 8px;
        padding: 0px;
        position: relative;
    }
    div#room-shell-type.manage-room-field-block label#shell_type_cloned_label input {
        margin: 0px;
    }

    .remove_furniture_block {
        margin-bottom: 15px;
        position: relative;
        color: white;
    }

.manage-room-field-block .imvu-dropdown .label,
div.manage-room-field-block label {
    padding: 0 17px;
}

div.manage-room-field-block label {
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 4px;
    color: white;
}

div.manage-room-field-block .field+label {
    color: #DDD;
}

div.manage-room-field-block .focused label,
div.manage-room-field-block .has-text label {
    display: none;
}

div.manage-room-field-block label {
    display: block;
    clear: both;
}

div.manage-room-field-block label#manage-room-description-label,
div.manage-room-field-block label#manage-room-moderators-label {
   line-height: 17px;
   padding-top: 10px;
}

div.manage-room-text {
    border: 0px;
    background-color: #FFF;
    border-top: 1px solid #888;
    -moz-border-radius: 4px;
    display: block;
}

div.manage-room-sidebar-box {
    left: 0;
    right: 0;
}

div.manage-room-sidebar-box-top {
    border-top: 1px solid #FFF;
}

div.manage-room-footer {
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    width: 100%;
}
    div.manage-room-footer button {
        position: relative;
    }
    div.manage-room-footer * {
        cursor: pointer;
    }

    div.manage-room-footer .button-wrapper {
        display: inline-block;
        float: right;
        margin-right: 32px;
        margin-top: 5px;
    }

    div.manage-room-footer .checkbox-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    #message-with-checkbox {
        display: table-cell;
    }

    div.manage-room-footer .message-wrapper {
        display: inline-block;
        max-width: 335px;
    }

    .footer-warning {
        font-size: 12px;
        color: #ff6d6d;
        font-style: italic;
        padding-left: 5px;
    }

    #message-without-checkbox span{
        display: none;
    }

    #message-with-checkbox span{
        display: none;
        line-height: 17px;
    }

    .checkbox-wrapper input{
        display: none;
    }

div.manage-room-footer button#manage-room-confirm {
    padding-left: 30px;
}
div.manage-room-footer button#manage-room-confirm img {
    position: absolute;
    left: -25px;
    height: 20px;
}

div.manage-room-footer button#manage-room-confirm .text {
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 1px 1px #fff;
    color: #000;
}

div.manage-room-footer button#manage-room-confirm[disabled] img {
    opacity: 0.5;
}

div.manage-room-info-modal {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.manage-room-info-block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    visibility: hidden;
}

div.info-arrow img {
    width: 100%;
    height: 100%;
}
div.info-arrow {
    position: absolute;
    visibility: hidden;
    width: 15px;  /* info-arrow all these values must be equal (-15 = 15) */
    height: 15px; /* info-arrow all these values must be equal (-15 = 15) */
}
div.manage-room-info-block div.info-arrow-left {
    top: 50%;
    left: -15px; /* info-arrow all these values must be equal (-15 = 15) */
}

div.manage-room-info-block div.info-arrow-up {
    top: -15px; /* info-arrow all these values must be equal (-15 = 15) */
    left: 106px;
}

div.manage-room-info-block div.info-arrow-down {
    bottom: -15px; /* info-arrow all these values must be equal (-15 = 15) */
    left: 106px;
}

div.manage-room-info-block div.info-box {
    position: relative;
    color: #252525;
    width: 241px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,.75);
    position: relative;
    background-color: #d8d8d8;
    padding: 15px;
    font-size: 11px;
    line-height: 14px;
}

div.manage-room-field-block label.restrictions-label {
    display: block;
    position:relative;
}

span#vip-upsell a.link {
    color: #009fff;
    cursor:pointer;
}
span#vip-upsell {
    color: #009fff;
    font-weight:bold;
    cursor:pointer;
}
span#vip-upsell img {
    vertical-align: middle;
    cursor:pointer;
}
span#vip-upsell span.bubble-anchor {
    position: relative;
}
span#vip-upsell div.bubble {
    position:absolute;
    top: -21px;
    left: 19px;
    width:227px;
}
span#vip-upsell div.button-bubble-msg-2,
span#vip-upsell div.button-bubble-msg-1 {
    font-family: inherit;
    font-weight: normal;
}
.button-bubble-tail {
    position:absolute !important;
}
strong {
    font-weight: bold;
}


div#manage-room-shell-image-container div.ap-icon {
    display: none;
    background: url(../../img/icon_ap_medium.png) no-repeat;
    width: 25px;
    height: 21px;
    position: absolute;
    right: 50px;
    top: 4px;
}

div#manage-room-shell-image-container.ap div.ap-icon {
    display: block;
}

div#manage-room-url-block {
    color:white;
}

div#manage-room-url {
    padding-left: 10px;
    -moz-user-select: all;
    word-wrap: break-word;
}

.manage-room-card div#manage-room-card-spinner {
    z-index: 999;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(256, 256, 256, 0.75);
    background-image: url(../../img/spinner_black.apng);
    background-repeat: no-repeat;
    background-position: center center;
}

.manage-room-field-block .imvu-dropdown {
    padding: 0px !important;
}

.manage-room-field-block .imvu-dropdown .label {
    color: #DDDDDD;
    font-weight: normal;
    overflow: hidden;
}