@import url(../css/new-visd-dialog.css);

body {
    width: 535px;
}

#title.alert.viprequired {
    margin: 0 0 0 0;
}
#dialog h1 {
    font-size: 22px;
}

#dialog #content {
    padding: 40px 5px;
}

#text {
    color: #FF6B5D;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border: 1px solid #4B4B4B;
    padding: 10px;
    padding-left: 40px;
    position: relative;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3);
}

#text #exclamation {
    width: 24px;
    height: 18px;
    position: absolute;
    left: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    background: url(../../img/icon_24_warning.png);
}

#upsell {
    width: 439px;
    height: 197px;
    position: relative;
    left: -8px;
    margin-top: 75px;
    padding: 20px;
    color: #000;
}

#dialog.guestToVIP #upsell, #dialog.lapsedVIP #upsell {
    background: url(c_creator_bg_02.png);
}

#dialog.VIPToCreator #upsell {
    background: url(c_creator_bg_01.png);
    color: #fff;
}

#upsell #upsell_avatar {
    position: absolute;
    left: -10px;
    top: -48px;
}

.upsell_body {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
}

.creator_icon {
    height: 31px;
    line-height: 31px;
    padding-left: 35px;
    background: url(c_creator_elements_01.png) no-repeat -7px -33px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.upsell_body p {
    float: right;
    clear: right;
    text-align: right;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: normal;
    width: 260px;
}

.upsell_body p#creator_learn_more {
    margin-top: 30px;
}

#dialog.guestToVIP #upsell_body_guestToVIP {
    display: block;
}

#dialog.lapsedVIP #upsell_body_lapsedVIP {
    display: block;
}

#dialog.VIPToCreator #upsell_body_VIPToCreator {
    display: block;
}