

html {
    background: #212121;
    color: white;
    overflow: hidden;
}

body {
    margin: 0px;
    padding:0px;
    text-align: left;
}
* {
    -moz-user-select: -moz-none;
}

#findPeopleFilter {
    position:absolute;
    left: 0;
    width: 301px;
    top: 0;
    bottom:0;
}

#findPeopleFilter.adPresent {
    bottom:270px;
}

/* special haxx for find people filters scrollbar. see crector, andy, or speterson if you want details. */
#findPeopleFilter .filters-all {
    overflow-y: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
}

.heading {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
}

#findPeopleSearchForm {
    text-align: center;
    background-color : #D2A911;
    padding-top: 8px;
    padding-bottom: 0;
}

#search_input {
    -moz-user-select: text;
}

#roomList {
    background-color: #212121;
    position:absolute;
    left: 317px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

#adSpace {
    display: none;
    background-color: purple;
    position:absolute;
    bottom:0;
    left:0;
    width: 301px;
    height: 250px;
}

#roomDataGrid table {
    width: 100%;
}

#roomDataGrid table tr {
    height: 35px;
}

#roomDataGrid table th,
#roomDataGrid table td {
    border-style: none;
}

#roomDataGrid .yui-dt-even {
    background-color: #343434;
}

#roomDataGrid .yui-dt-odd {
    background-color: #1a1a1a;
}

#roomDataGrid tbody tr.fullRoom {
    background-color: #8b1c15;
}

#roomDataGrid tbody tr.yui-dt-even:hover,
#roomDataGrid tbody tr.yui-dt-odd:hover {
    background-color: #a6a39a;
}

#roomDataGrid th,
#roomDataGrid td {
    padding: 0;
}

#roomDataGrid .yui-dt-label th {
    color: #bba82f;
    text-decoration: underline;
    font-weight: bold;
}

#roomDataGrid .yui-dt-liner {
    padding: 0;
}

#roomDataGrid .highlightedRow .joinButton {
    background: transparent url(/content/chatRooms/img/button_join_small.png) no-repeat;
    display:inline-block;
    width:33px;
    height:19px;
    cursor: pointer;
}

#roomDataGrid .fullRoom .joinButton {
    background: transparent url(/content/chatRooms/img/button_full_small.png) no-repeat;
    display:inline-block;
    width:33px;
    height:19px;
    cursor: default;
}

#roomDataGrid .infoButton {
    display:inline-block;
    width: 19px;
    height: 20px;
}

#roomDataGrid .highlightedRow .infoButton {
    background: transparent url(/content/img/icon_16_info.png) no-repeat;
    cursor: pointer;
}

#roomDataGrid .highlightedRow .favoriteButton {
    display:inline-block;
    width: 20px;
    height: 10px;
    background: transparent url(/content/chatRooms/img/button_add_room.png) no-repeat;
    cursor: pointer;
}
