.disabled{
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.disabled span{
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.imvu-button {
    font-family:;
    color:#222;
    cursor:pointer;
    font-size:13px;
    font-weight:bold;
    overflow:hidden;
}

.imvu-button.gift {
    overflow:visible;
    position:relative;
}

.imvu-button.disabled {
    cursor: default;
}

.imvu-button span {
    float:left;
    height:26px;
}

.imvu-button .start {
    width:20px;
    background:#2f5833 url(../../img/generic_buttons_sprite.png) no-repeat 0 -27px;
}

.imvu-button .start.red {
    background-color: #582f32;
}

.imvu-button.no-accessory .start {
    width:10px;
    background:url(../../img/generic_buttons_middle_sprite.png) 0 -27px repeat-x;
}

.imvu-button:hover .start {
    background-color:#228d2c;
}

.imvu-button:hover .start.red {
    background-color: #9f242f;
}

.imvu-button.disabled:not(.small):hover .start {
    background-color:#2f5833;
}

.imvu-button .middle {
    background-image:url(../../img/generic_buttons_middle_sprite.png);
    background-position:0 -27px;
    position:relative;
}

.imvu-button .middle .text {
    padding:4px 0;
    text-shadow: rgba(150,150,150,0.5) -1px 0 0;
}

.imvu-button .end {
    padding-left:11px;
    background-image:url(../../img/generic_buttons_sprite.png);
    background-position:-25px -27px;
    background-repeat:no-repeat;
}

.imvu-button.disabled .start,
.imvu-button.grey .start {
    background-position:0px 0px;
}

.imvu-button.disabled .middle .text,
.imvu-button.grey .middle .text {}

.imvu-button.disabled .middle,
.imvu-button.grey .middle {
    background-position:0 0;
}

.imvu-button.disabled .end,
.imvu-button.grey .end {
    background-position:-25px 0px;
}

.imvu-button.disabled .text {
    color: gray;
}

.big-button .imvu-button {
    font-size:16px;
}

.big-button .imvu-button span {
    height:34px;
}

.big-button .imvu-button .start {
    background-image:url(../../img/generic_buttons_large_sprite.gif);
    background-position:0 -39px;
    width:30px;
}

.big-button .imvu-button span .text {
    height:auto;
    padding:6px 0;
}

.big-button .imvu-button .middle {
    background-image:url(../../img/generic_buttons_large_middle_sprite.png);
    background-position:0 -39px;
    position:relative;
}

.big-button .imvu-button.grey .middle {
    background-position:-60px 0px;
}

.big-button .imvu-button .text {
    padding:5px 0;
}

.big-button .imvu-button.grey .end {
    background-position:-32px 0px;
}

.big-button .imvu-button .end {
    background-image:url(../../img/generic_buttons_large_sprite.gif);
    background-position:-32px -39px;
}

.imvu-button.gift .start {
    width:38px;
    height:47px;
    background:url(../../img/button_gift_left.png) no-repeat;
    left:-20px;
    top:-10px;
    position:absolute;
    z-index:10;
}

.imvu-button.gift .middle {
    background:url(../../img/button_gift_bg.png) repeat-x;
    padding-left:20px;
    padding-right:10px;
}

.imvu-button.gift .end {
    width:5px;
    background:transparent url(../../img/button_gift_right.png) no-repeat;
}

.imvu-button.small span{
    height: 21px;
}

.imvu-button.small .start {
    width:11px;
    background:url(../../img/btn_small_start.png) no-repeat 0 0;
}

.imvu-button.small .end {
    width:11px;
    background:url(../../img/btn_small_end.png) no-repeat 0 0;
}

.imvu-button.small .middle {
    background:url(../../img/btn_small_middle.png) repeat-x 0 0;
    background-position:0 0;
    font-size:11px;
    font-family: arial;
    color:#454545;
    line-height:1em;
    vertical-align:middle;
}

.imvu-button.small:hover .start {
    background-image:url(../../img/btn_small_start_pushed.png);
}

.imvu-button.small:hover .middle {
    background-image:url(../../img/btn_small_middle_pushed.png);
}

.imvu-button.small:hover .end {
    background-image:url(../../img/btn_small_end_pushed.png);
}

.imvu-button.small.grey .start {
    background-image:url(../../img/btn_small_grey_start.png);
}

.imvu-button.small.grey .middle {
    background-image:url(../../img/btn_small_grey_middle.png);
    color:#c8c8c8;
}

.imvu-button.small.grey .end {
    background-image:url(../../img/btn_small_grey_end.png);
}

.imvu-button.small.grey:hover .start {
    background-image:url(../../img/btn_small_grey_start_pushed.png);
}

.imvu-button.small.grey:hover .middle {
    background-image:url(../../img/btn_small_grey_middle_pushed.png);
}

.imvu-button.small.grey:hover .end {
    background-image:url(../../img/btn_small_grey_end_pushed.png);
}

