@import url(../css/new-visd-dialog.css);
@import url(../alert/Alert.css);

body {
    width: 540px;
}

#text {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
    color: #eee;
}

#copy {
    margin: 15px 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 150px;
}

.outcomes span {
    margin-right: 25px;
}

#other-avname {
    font-weight: bold;
}

#footer {
    height: 30px;
}