div.pillbox {
    padding:4px 4px 4px 4px;
    margin:0 0 0 1px;
    border:1px solid #bfbfb5;
    display:inline-block;
    font:11px;
    background:#fff;
    position:relative;
    clear:both;
    cursor:text;
    max-width:500px;
    max-height:100px;
    overflow-x:hidden;
    overflow-y:auto;
    height:20px;
}

div.pillbox input {
    display:block;
    float:left;
    border:0;
    background:transparent;
    height:17px;
    padding-top:2px;
    font-size:12px;
    color:#000;
}

a.pillbox-item {
    cursor:text;
    display:block;
    position:relative;
    float:left;
    height:19px;
    background:url(recipient_checking_bg.png) repeat-x;
    color:#fff;
    font-family:sans-serif;
    font-size:10px;
    font-weight:bold;
    padding-top:3px;
    margin-right:10px;
    margin-left:5px;
}

a.pillbox-item span.left {
    display:block;
    width:4px;
    height:19px;
    position:absolute;
    left:-4px;
    top:0;
    background:url(recipient_checking_left.png) no-repeat;
}

a.pillbox-item span.right {
    display:block;
    width:4px;
    height:19px;
    position:absolute;
    right:-4px;
    top:0;
    background:url(recipient_checking_right.png) no-repeat;
}

a.pillbox-item span.icon {
    display:block;
    position:absolute;
    width:13px;
    height:13px;
    left:-1px;
    top:3px;
    background:url(recipient_checking_icon.gif) no-repeat;
}

a.pillbox-item span.text {
    margin-left:16px;
    margin-right:12px;
}

a.pillbox-item span.close {
    background:transparent url(recipient_x.png) no-repeat scroll 1px 4px;
    cursor:pointer;
    display:block;
    height:5px;
    padding:6px;
    position:absolute;
    right:-4px;
    top:0;
    width:3px;
}

a.pillbox-item.buddy { background-image:url(recipient_buddy_bg.png); }
a.pillbox-item.buddy span.left { background-image:url(recipient_buddy_left.png); }
a.pillbox-item.buddy span.right { background-image:url(recipient_buddy_right.png); }
a.pillbox-item.buddy span.icon { background-image:url(recipient_buddy_icon.png); }

a.pillbox-item.notfound { background-image:url(recipient_notfound_bg.png); }
a.pillbox-item.notfound span.left { background-image:url(recipient_notfound_left.png); }
a.pillbox-item.notfound span.right { background-image:url(recipient_notfound_right.png); }
a.pillbox-item.notfound span.icon { background-image:url(recipient_notfound_icon.png); }

a.pillbox-item.nonbuddy { background-image:url(recipient_nonbuddy_bg.png); }
a.pillbox-item.nonbuddy span.left { background-image:url(recipient_nonbuddy_left.png); }
a.pillbox-item.nonbuddy span.right { background-image:url(recipient_nonbuddy_right.png); }
a.pillbox-item.nonbuddy span.icon { background-image:url(recipient_nonbuddy_icon.png); }