@import url(../css/new-visd-dialog.css);
@import url(ProductLookup.css);

body {
    width: 540px;
}

.admin-only#dialog {
    background: url(../../img/background-pattern.png),
                -moz-linear-gradient(left, #6A1A1A, #7B1E1F, #6A1A1A);
}
    #dialog #product-info {
        height: 148px;
        margin-top: 44px;
    }
        #dialog #product-info h3 {
            margin-bottom: 18px;
        }

h2 {
    font-size: 21px;
    position: relative;
}
    h2 svg {
        vertical-align: middle;
    }

#dialog h3 {
    color: #fff;
}

#footer {
    height: 2em;
}

#error {
    position: absolute;
    top: 44px;
    left: 13px;
    margin: 0;
}