#actionSelect {
    height: 27px;
    width: 100%;
}

#actionChooser {
    width: 443px;
    height: 27px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.actionInfo {
    border: 1px solid #262626;
    border-radius: 6px;
    -moz-border-radius: 6px;
    background: #55B1AF;
    position: absolute;
    left: 0;
    top: 34px;
    right: 0;
    bottom: 0;
}

.actionInfo select {
    padding-top: 1px;
}
.actionInfo label:first-child {
    margin-left: 0;
}
.actionInfo label {
    margin-left: 3px;
}

.actionInfo .collapsiblePanel .bd .row:first-child {
    margin-top: 0;
}
.actionInfo .collapsiblePanel .bd .row {
    margin-top: 3px;
}

.actionInfo label.checkbox input {
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.actionInfo .pillButton .fade {
    position: relative;
}

.actionInfo .pillButton {
    margin-left: 5px;
}

.actionInfo td {
    vertical-align: middle;
}

.actionInfo h1 {
    font-family:;
    font-weight: bold;
    color: black;
    font-size: 17px;
    margin-left: 5px;
    margin-top: 11px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 372px;
    cursor: pointer;
}



.actionInfo .collapsiblePanel br {
    margin-bottom: 10px;
}



#addAction {
    width: 49px;
    margin-left: 1px;
    margin-top: 7px;
    float: left;
    background: #dddddd;
    background: -moz-linear-gradient(top, #dddddd, #A1A1A1);
    color: #242424;
}
#addAction .plus {
    left: -3px;
}
#addAction .plus > * {
    background: #606060;
}

#removeAction, #playAction {
    width: 106px;
    float: right;
    margin-right: 5px;
    margin-top: -2px;
    font-weight: normal;
}

#playAction {
    width: 56px;
}

#playAction .fade {
    padding-left: 13px;
}

#playAction .media {
    position: absolute;
    left: 6px;
    width: 16px;
    height: 15px;
    background: url('img/Actions_Play.png');
}

#playAction .plus .v, #playAction .plus .h {
    display: none;
}

#removeAction .plus > * {
    background: #B8C6B9;
}

#removeAction, .actionInfo .collapsiblePanel .hd, #removeOgg {
    background: #397675;
    background: -moz-linear-gradient(top, #397675, #1e3e3d);
    color: #D3D3D3;
}

#removeEnsemble .plus > *, #removeOgg .plus > *, #removeXaf .plus > *, #removeXpf .plus > * {
    background: #D3D3D3;
}

#playAction, #addXaf, #addXpf, #addOgg {
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #ffffff, #c9c9c9);
    color: #111111;
}

#addXaf, #addXpf, #addOgg {
    width: 85px;
    display: inline-block;
}

#addEnsemble {
    background: #ffb48b;
    background: -moz-linear-gradient(top, #ffc8aa, #ffa16e);
    color: #33251d;
    width: 65px;
    display: inline-block;
}

#removeXaf, #removeXpf {
    background: #993a29;
    background: -moz-linear-gradient(top, #bb4d37, #79281c);
    color: #ffffff;
}

#removeXaf, #removeXpf, #removeOgg {
    width: 65px;
    display: inline-block;
}

#ensembleXaf, #ensembleXpf, #actionOgg {
    width: 100%;
}

#actions .collapsiblePanel .bd {
    padding: 5px;
}

#ensembleInfo .collapsiblePanel .bd {
    background: #ffab9b;
}

#ensembleInfo .collapsiblePanel .hd, #removeEnsemble {
    background: -moz-linear-gradient(top, #8F6FA6, #715786);
    background: #6d3e37;
}
#ensembleInfo .collapsiblePanel.disabled .hd {
    background: -moz-linear-gradient(top, #8F6FA6, #715786);
    background: #806396;
    color: #ccc2e4;
}
#ensembleInfo .collapsiblePanel .hd .fade {
    padding-left: 5px;
}

#ensembleParameters .collapsiblePanel, #ensembleSkeletalAnimation .collapsiblePanel, #ensembleMorphAnimation .collapsiblePanel {
    margin: 0 5px;
}
#ensembleParameters .collapsiblePanel .bd, #ensembleSkeletalAnimation .collapsiblePanel .bd, #ensembleMorphAnimation .collapsiblePanel .bd {
    background: #ef7c65;
}
#ensembleParameters .collapsiblePanel .hd, #ensembleSkeletalAnimation .collapsiblePanel .hd, #ensembleMorphAnimation .collapsiblePanel .hd { 
    background: #995d42;
    background: -moz-linear-gradient(top, #b57452, #6f3c2b);
    color: #e4d1c8;
}

#removeEnsemble {
    width: 125px;
    float: right;
    font-weight: normal;
}


.actionInfo .panels {
    margin: 0 5px;
    margin-top: 8px;
}
.actionInfo .collapsiblePanel {
    background: #bee1e1;
    margin-top: 3px;
    color: black;
}
#ensembleParameters {
    margin-top: 0px;
}
.actionInfo .collapsiblePanel.disabled .hd {
    background: #518e45;
    background: -moz-linear-gradient(top, #54994b, #498340);
    color: #91bf88;
}

.actionInfo label {
    
    font-size: 10px;
}
.actionInfo select, .actionInfo input {
    
    font-size: 10px;
    padding-left: 1px;
}
.actionInfo select option {
    padding-left: 10px;
}





#ensembleInfo {
    border: 1px solid #854526;
    background: #be553f;
    background: -moz-linear-gradient(top, #ec8c68, #be553f);
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    margin-top: 7px;
    z-index: 0;
}

#ensembleInfo #left {
    float: left;
    background: #462823;
    background: -moz-linear-gradient(top, #6d3f37, #462823);
    width: 108px;
    height: 100%;
    position: relative;
    text-align: center;
}
#ensembleInfo h1 {
    color: white;
    font-family: Arial;
    margin: 0;
    margin-top: 11px;
    font-weight: normal;
    margin-bottom: 5px;
}
#ensembleInfo > .panelsHeader {
    position: absolute;
    left: 117px;
    right: 10px;
    top: 7px;
}
#ensembleInfo > .panels {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    left: 117px;
    right: 9px;
    bottom: 9px;
    top: 34px;
    margin: 0;
    padding: 0;
}

ul#ensembles {
    position: absolute;
    background: #22211F;
    border-bottom: 1px solid #605269;
    left: 4px;
    right: 5px;
    bottom: 4px;
    top: 65px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#ensembles li {
    display: block;
    width: 100%;
    background: #232220;
    position: relative;
    border-bottom: 1px solid #3B3040;
    cursor: pointer;
    padding: 5px 1px;
}
#ensembles li .ensId {
    display: block;
    text-align: left;
    white-space: nowrap;
}
#ensembles li .ensId .text {
    position: relative;
    top: -1px;
    left: 2px;
    color: #f4d58c;
}

#ensembles li.selected {
    background: #df644a;
    background: -moz-linear-gradient(top, #e77c5c, #d84d39);
    border-bottom: 1px black solid;
}

#ensembles li.selected .ensId .text {
    color: #000000;
    font-weight: bold;
}

#actionChooser li.selected {
    background:url(img/Actions_ActionTitle_SelectedBG.png) -1px -1px;
}

.particleControls .name { 
    background: #995d42;
    background: -moz-linear-gradient(top, #b57452, #6f3c2b);
    color: #e4d1c8;
    padding: 2px 5px 0 5px;
    font-weight: bold;
    height: 17px;
}
