

* {
    -moz-user-select: -moz-none;
    margin: 0;
    padding: 0;
}
input {
    -moz-user-select: text;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 11px;
}

body {
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

#header {
    background: black;
    height: 33px;
    width: 100%;
    color: #808080;
}
#header ul {
}
#header li {
    display: inline;
}
#maximize {
    display: inline-block;
    margin-top: 3px;
    width: 26px;
    height: 25px;
    background: url(img/maximize.png);
    cursor: pointer;
    margin-left: 15px;
}
#maximize:hover {
    background: url(img/maximize-hover.png);
}
#folder {
    display: inline-block;
    width: 26px;
    height: 21px;
    background: url(img/TopBar_FolderButton.png);
    position: relative;
    top: -2px;
    cursor: pointer;
    margin-left: 15px;
}
#folder:hover { background: url(img/TopBar_FolderButton_hover.png); }

#header span {
    position: relative;
    top: -8px;
    margin-left: 21px;
}

#rightButtons {
    position: absolute;
    right: 13px;
    top: 4px;
    height: 25px;
}
#rightButtons div {
    height: 25px;
    position: absolute;
}
#upload {
    width: 103px;
    right: 0;
    background: url(img/upload-gray.png);
}
#upload.enabled {
    background: url(img/upload-yellow.png);
    cursor: pointer;
}
#savedrop {
    width: 39px;
    right: 90px;
    background: url(img/savedrop-gray.png);
}
#savedrop.enabled {
    background: url(img/savedrop-yellow.png);
    cursor: pointer;
}
#save {
    width: 69px;
    right: 130px;
    background: url(img/save-gray.png);
}
#save.enabled {
    background: url(img/save-yellow.png);
    cursor: pointer;
}
#saveAs {
    width: 109px;
    top: 26px;
    right: 90px;
    background: url(img/save-as.png);
    z-index: 999;
    display: none;
}
#saveAs.visible {
    display: block;
    cursor: pointer;
}
#applyChanges {
    width: 129px;
    right: 186px;
    background: url(img/applychanges-gray.png);
}
#applyChanges.enabled {
    background: url(img/applychanges-yellow.png);
    cursor: pointer;
}

#avview-holder {
    position: absolute;
    top: 33px;
    left: 0;
    bottom: 0;
    right: 522px;
}

#avview, #no-avview {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

#editPanel {
    position: absolute;
    top: 33px;
    bottom: 0;
    right: 0;
    width: 522px;
    background: #6F6F6D url(img/edit-panel-bg.png) repeat-x;
}

#nav {
    width: 100%;
/*    height: 39px;*/
    background: url(img/nav-bg.png);
    color: #BFBFBF;
    font-weight: bold;
    position: relative;
    font-size: 12px;
}
#nav li {
    display: inline-block;
    border-right: 1px solid rgba(0,0,0,0.6);
    height: 38px;
    text-align: center;
    cursor: pointer;
    /* min-width:50px; */
}
#nav label {
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 4px;
    cursor: pointer;
}
#nav li:hover label {
    color: white;
}

#nav li.selected {
    background: url(img/nav-bg-selected.png);
    border-right: 1px solid rgba(0,0,0,0.8);
    border-bottom: 1px solid #a2a2a2;
}
#nav li.selected label {
    position: relative;
    top: 12px;
    color: black;
    text-shadow: 0px 1px 0 #C8C8C8;
}

#hiddenPanelHolder {
    position: fixed;
    top: 3000px;
}

#activePanelHolder {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 39px;
    overflow: auto;
    overflow-x:hidden;
}

#activePanelHolder .panel {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 6px;
    top: 6px;
}

/* Config Panel */

#configInfo {
    border: 1px solid #5a4c03;
    background: #e3c704;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

    #configInfo .collapsiblePanel {
        background: #feee8c;
        margin-top: 4px;
        margin-left: 5px;
        margin-right: 5px;
        color: black;
    }

        #configInfo .collapsiblePanel .hd {
            background: #684301;
            background: -moz-linear-gradient(top, #7e5200, #523402);
            color: #fffbbd;
        }
        #configInfo .collapsiblePanel.disabled .hd {
            background: #b19100;
            background: -moz-linear-gradient(top, #b99600, #aa8c00);
            color: #e3c704;
        }

    #configInfo a {
        color: #505e51;
        text-decoration: underline
    }

    #configInfo input[type='text'] {
        height: 15px;
        border-style: solid;
        border-width: 1px;
        border-color: #807c56 #c7c1b5 #c7c1b5 #807c56;
        box-shadow: inset 1px 1px #0d0a01, 1px 1px #ffffd4;
        -moz-box-shadow: inset 1px 1px #0d0a01, 1px 1px #ffffd4;
    }

    #configInfo .pillButton {
        height: 18px;
        color: #5c5c5c;
        background: #ebe9e7;
        background: -moz-linear-gradient(top, white, #d7d4cf);
    }

        #configInfo .pillButton .plus > * {
            background: #5c5c5c;
        }

    #configSkeletonVariablesCollapsible .bd {
        height: 42px;
        padding-left: 10px;
    }
    #configSkeletonVariablesCollapsible.xsfControl.xsfAttachment .bd {
        height: 70px;
        padding-top: 5px;
        padding-left: 10px;
    }

        #configSkeletonVariablesCollapsible .firstLine {
            display: none;
        }
        #configSkeletonVariablesCollapsible.xsfControl .firstLine {
            display: block;
            padding-top: 6px;
        }

            #configSelectXsf {
                width: 317px;
                height: 18px;
                font-size: 11px;
                background-color: white;
            }

            #configAddXsf {
                display: inline-block;
                top: 3px;
                width: 77px;
                margin-left: 5px;
            }

        #configSkeletonVariablesCollapsible .secondLine {
            display: none;
        }
        #configSkeletonVariablesCollapsible.xsfAttachment .secondLine {
            display: block;
            padding-top: 10px;
        }

            #configCompatibleBodyPatternPIDsLabel {
                position: relative;
            }

            #configCompatibleBodyPatternPIDs {
                position: relative;
                top: 2px;
                left: 2px;
                width: 70px;
            }

            #configAttachmentNodeLabel {
                display: none;
            }
            .xsfControl #configAttachmentNodeLabel {
                display: inline;
                position: relative;
                left: 12px;
            }

            #configAttachmentNode {
                display: none;
            }
            .xsfControl #configAttachmentNode {
                display: inline;
                position: relative;
                top: 2px;
                left: 13px;
                width: 150px;
            }

    #configPolicyToolsCollapsible .bd {
        padding-top: 10px;
        padding-left: 10px;
        height: 66px;
    }

        #configPolicyToolsCollapsible .bd .secondLine {
            margin-top: 9px;
        }

            #configApplyMinimumCoverageGuidelineSkin {
                font-size: 10px;
                width: 228px;
                float: left;
                text-align: right;
                margin-left: 2px;
            }

            #configApplyMinimumCoverageGuidelinePose {
                font-size: 10px;
                width: 230px;
                float: right;
                text-align: right;
                margin-right: 18px;
            }

    #configClothingOverrideCollapsible .bd {
        padding-top: 7px;
        padding-bottom: 8px;
        padding-left: 7px;
        height: auto;
    }

        #configClothingOverrideCollapsible .clothingOverrideBox {
            color: #d2ba62;
            background: inherit;
        }
        #configClothingOverrideCollapsible .clothingOverrideBox.checked {
            color: #59380a;
            background: #d2ba62;
        }

    #configFogAndLightingParametersCollapsible .bd {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid transparent; /* to prevent margin collapse at bottom */
    }

        #configFogAndLightingParametersCollapsible .subpanel {
            display: block;
            color: #522000;
            background: #EEDB65;
            border-style: solid;
            border-width: 1px;
            border-color: #684301;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 12px;
            font-weight: bold;
            padding-left: 10px;
            padding-top: 8px;
        }

        #configLightingParametersSubpanel {
            height: 75px;
            margin-bottom: 5px;
        }

            #configLightingParametersSubpanel .caption {
                position: relative;
                top: 2px;
            }

            #configLightingColorPicker {
                float: right;
                width: 357px;
                margin-right: 9px;
                background-color: #a88823;
            }

        #configFogParametersSubpanel {
            height: 134px;
            margin-bottom: 5px;
        }

            #configFogParametersSubpanel .firstSection {
                height: 67px;
            }

                #configFogColorPicker {
                    float: right;
                    width: 357px;
                    margin-right: 9px;
                    background-color: #a88823;
                }

                #configFogOn {
                    cursor:pointer;
                    height: 23px;
                    width: 23px;
                    margin-top: 0px;
                    margin-left: -4px;
                    margin-bottom: 5px;
                    border-style: none;
                    background-color: inherit;
                    background-image: url(img/Config_RadioButton.png);
                }
                #configFogOn.down {
                    background-image: url(img/Config_RadioButton_Active.png);
                }

                #configFogOnLabel {
                    position: relative;
                    top: -3px;
                }

            #configFogParametersSubpanel .sectionRule {
                position: relative;
                top: 7px;
                left: -4px;
                width: 467;
                height: 1px;
                background-color: #c7b43e;
                clear: both;
            }
            
            #configFogParametersSubpanel .secondSection {
                padding-left: 60px;
                padding-top: 5px;
            }
            
                #configFogParametersSubpanel .near { 
                    position: relative;
                    top: 4px;
                }
                
                    #configFogParametersSubpanel .near label {
                        display:inline;
                    }

                    #configFogNear {
                        position: relative;
                        background-color: #a88823;
                        left: 5px;
                        width: 237px;
                    }
                    
                #configFogParametersSubpanel .far {
                    position: relative;
                    padding-left: 9px;
                    top: 4px;
                }
                
                    #configFogFar {
                        position: relative;
                        background-color: #a88823;
                        left: 5px;
                        width: 237px;
                    }

    #configPropActionSettingsCollapsible .bd {
        height: 30px;
        padding-top: 12px;
        padding-left: 106px;
    }

        #configSynchronizeAllActions {
            position: relative;
            top: 3px;
            margin-left: 3px;
            margin-right: 18px;
        }

        #configSynchronizeProps {
            position: relative;
            top: 3px;
            margin-left: 3px;
        }

    #configFlashSettingsCollapsible .bd {
        height: 61px;
        padding-top: 2px;
        padding-left: 10px;
    }

        #configFlashSettingsCollapsible .bd label {
            position: relative;
            top: -3px;
        }

        #configFlashSettingsCollapsible .firstLine {
            padding-left: 33px;
        }

            #configSelectSwf {
                width: 200px;
                height: 18px;
                background-color: white;
                width: 123px;
            }

            #removeFlashWidget { 
                display: inline-block;
                width: 130px;
            }

            #configAddSwf {
                display: inline-block;
                top: 2px;
                width: 77px;
                margin-top: 4px;
                margin-left: 2px;
                margin-right: 7px;
            }

            #configSelectTriggerType {
                width: 200px;
                height: 18px;
                background-color: white;
                width: 119px;
            }

        #configFlashSettingsCollapsible .secondLine {
            margin-top: 5px;
        }

            #configFlashParameters {
                height: 17px;
                width: 179px;
                margin-right: 86px;
            }

            #configTurnFlashWidgetOff {
                height: 17px;
                width: 17px;
            }

/* Meshes Panel */

#meshSelect {
    height: 27px;
    width: 100%;
}
.hideMeshInfo #meshSelect {
    display: none;
}
.hideMeshInfo .meshInfoHeader {
    display: none;
}

#addMesh {
    width: 49px;
    margin-left: 1px;
    margin-top: 7px;
    float: left;
    background: #dddddd;
    background: -moz-linear-gradient(top, #dddddd, #A1A1A1);
    color: #242424;
}
#addMesh .plus {
    left: -3px;
}
#addMesh .plus > * {
    background: #606060;
}

#meshChooser {
    width: 443px;
    height: 27px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.meshInfo {
    border: 1px solid #737172;
    border: 1px solid #262626;
    border-radius: 6px;
    -moz-border-radius: 6px;
    background: #62B155 url(img/meshes-bg.png) repeat-x;
    position: absolute;
    left: 0;
    top: 34px;
    right: 0;
    bottom: 0;
}

.meshInfo h1 {
    font-family:;
    font-weight: bold;
    color: black;
    font-size: 17px;
    margin-left: 5px;
    margin-top: 11px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 372px;
}

#removeMesh {
    width: 106px;
    float: right;
    margin-right: 5px;
    margin-top: -2px;
    font-weight: normal;
    background: #397738;
    background: -moz-linear-gradient(top, #397738, #1E3C20);
    color: #B8C6B9;
}
#removeMesh .plus > * {
    background: #B8C6B9;
}

.meshInfo .panels {
    margin: 0 5px;
    margin-top: 8px;
}
.meshInfo .collapsiblePanel {
    background: #C2E0BC;
    margin-top: 3px;
    color: black;
}
.meshInfo #materialSubmeshInfo {
    margin-top: 0;
}

.meshInfo .collapsiblePanel .hd {
    background: #3A763A;
    color: #D3D3D3;
}
.meshInfo .collapsiblePanel.disabled .hd {
    background: #518e45;
    background: -moz-linear-gradient(top, #54994b, #498340);
    color: #91bf88;
}
#meshAsset .bd {
    height: 36px;
}

.assetChooser {
    width: 203px;
    height: 19px;
    float: left;
}

#meshAsset .assetChooser {
    margin-left: 20px;
    margin-top: 10px;
}

.meshInfo select {
    
    font-size: 10px;
    padding-left: 1px;
}
.meshInfo select option {
    padding-left: 10px;
}

.addAsset {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff, #e0e0e0);
    color: #2e2e2e;
    float: left;
    width: 77px;
    font-size: 11px;
}
.addAsset .plus {
    left: -3px;
}
.addAsset .plus > * {
    background: #606060;
}

#meshAsset .addAsset {
    margin-top: 9px;
    margin-left: 7px;
}

#submeshText {
    color: black;
    float: right;
    margin-top: 11px;
    margin-right: 19px;
}
#submeshCount {
    font-weight: bold;
    margin-left: 6px;
}

#meshScale .bd {
    height: 27px;
    font-size: 10px;
    padding-top: 5px;
    padding-left: 8px;
}

#meshScale input {
    margin-right: 4px;
    margin-left: 2px;
}

#meshScaleOn {
    position: relative;
    top: 4px;
}

#meshScaleNodeName,
#meshScaleX,
#meshScaleY,
#meshScaleZ
{
    
    font-size: 11px;
    height: 14px;
    width: 26px;
    position: relative;
    top: 2px;
}
#labelNodeName {
    margin-left: 24px;
}

#meshScale #meshScaleNodeName {
    width: 96px;
    margin-right: 24px;
}

.materialInfoTopRef {
    margin-top: 10px;
}
#materialInfo {
    border: 1px solid #664a7d;
    background: #C49DDC;
    background: -moz-linear-gradient(top, #C49DDC, #8560A6);
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow: hidden;
    z-index: 0;
}
.hideMeshInfo #materialInfo {
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#materialInfo #left {
    float: left;
    background: #593E6B;
    background: -moz-linear-gradient(top, #593E6B, #382842);
    width: 108px;
    height: 100%;
    position: relative;
}
#materialInfo h1 {
    color: white;
    font-family: Arial;
    font-weight: normal;
    margin: 0;
    text-align: center;
    margin-top: 11px;
}

#materialAsset .assetChooser {
    margin-left: 0px;
    margin-top: 2px;
}

#materialAsset .addAsset {
    margin-top: 3px;    
    float : right
}

#materialInfo .panels .materialAsset {
    height:30px;
}

#materialInfo > .panels {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;

    left: 117px;
    right: 9px;
    bottom: 9px;
    top: 9px;
    margin: 0;
    padding: 0;
}

#materialInfo .collapsiblePanel .bd {
    background: #CCC2E4;
}

#materialInfo .collapsiblePanel .hd {
    background: #5E4471;
}
#materialInfo .collapsiblePanel.disabled .hd {
    background: -moz-linear-gradient(top, #8F6FA6, #715786);
    background: #806396;
    color: #ccc2e4;
}
#materialInfo .collapsiblePanel .hd .fade {
    padding-left: 5px;
}

#materialSubmeshInfo .bd      { height: 30px; }
#materialTextureAssets .bd    { height: 147px; }
#materialParameters .bd       { height: 48px; }
#materialTextureAnimation .bd { height: 86px; }

#trianglesText, #verticesText {
    float: left;
    margin-top: 7px;
    margin-left: 10px;
}
#verticesText {
    margin-left: 36px;
}
#triangleCount, #vertexCount {
    font-weight: bold;
    margin-left: 6px;
}

#materialTextureAssets .bd {
    white-space: nowrap;
    overflow: hidden;
}
#materialParameters .bd {
    font-size: 9px;
    padding-left: 9px;
    padding-top: 6px;
    white-space: nowrap;
}

#materialParameters label input {
    position: relative;
    top: 4px;
    margin-right: 4px;
}
#materialParameters .bd label {
    display: inline-block;
    width: 87px;
    margin-bottom: 3px;
}
#materialParameters .bd label.fo {
    width: 82px;
}
#materialParameters .bd label.sc {
    width: 82px;
}
#materialParameters .bd label.bm {
    width: 172px;
}
#materialParameters #blendingMode {
    width: 102px;
    height: 19px;
    position: relative;
    top: 4px;
    margin-left: 3px;
}

#materialTextureAnimation .bd {
    font-size: 9px;
}
#textureAnimationMode {
    width: 143px;
    height: 19px;
}
#materialTextureAnimation td {
    text-align: right;
}
#materialTextureAnimation td.on {
    text-align: left;
}
#materialTextureAnimation td.on label {
    position: relative;
    top: -2px;
    left: 3px;
}
#materialTextureAnimation input {
    position: relative;
    top: 0px;
    margin-left: 3px;
}
#materialTextureAnimation table {
    width: 354px;
    height: 79px;
    margin-left: 3px;
    margin-top: 3px;
}
#materialTextureAnimation input[type=text] {
    width: 26px;
    height: 14px;
    position: relative;
    top: 2px;
}
#materialTextureAnimation input[type=checkbox] {
    position: relative;
    top: 4px;
    margin-left: 4px;
}
#materialTextureAnimation label.am {
    position: relative;
    top: -2px;
}
#materialTextureAnimation select {
    position: relative;
    top: 4px;
    margin-left: 4px;
    margin-right: 5px;
}

ul#materials {
    position: absolute;
    background: #22211F;
    border-bottom: 1px solid #605269;
    left: 4px;
    right: 5px;
    bottom: 4px;
    top: 42px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
}
#materials li {
    display: block;
    width: 81px;
    height: 66px;
    background: #232220;
    position: relative;
    border-bottom: 1px solid #3B3040;
    cursor: pointer;
}
#materials li .matId {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: url(img/Meshes_SubmeshCorner.png);
    text-align: left;
}
#materials li .matId .text {
    position: relative;
    top: -1px;
    left: 2px;
    color: #DBD9DA;
}
.imgTable {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    display: table;
    width: 100%;
    height: 100%;
}
.imgHolder {
    display: table-cell;
    vertical-align: middle;
}
#materials li img {
    display: block;
    border: 1px solid #5F5967;
    width: 45px;
    height: 45px;
    margin: auto;
    box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0;
    -moz-box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0;
}

#materials li.selected {
    background: #B38BD1;
    background: -moz-linear-gradient(top, #B38BD1, #8555B9);
    height: 67px;
    border-bottom: none;
    box-shadow: rgba(0,0,0,0.4) 0px 10px 10px 0;
    -moz-box-shadow: rgba(0,0,0,0.4) 0px 10px 10px 0;
}
#materials li.selected .matId {
    background: url(img/Meshes_SubmeshCorner_Selected.png);
}

#assets {
    
    min-height: 75px;
}

#assetTableHolder {
    position: absolute;
    left: 7px;
    top: 14px;
    right: 7px;
    bottom: 30px;
    overflow-y: scroll;
    border-style: solid;
    border-width: 1px;
    border-color: #808080 white white #808080;
    box-shadow: inset 1px 1px black, 1px 1px #c0c0c0;
    -moz-box-shadow: inset 1px 1px black, 1px 1px #c0c0c0;
    color: black;
    background: #a4a4a4;
    text-align: left;
    font-weight: normal;
}

#assetTable {
    position:absolute;
    left:1px;
    top:1px;
    background-image:none;
    border-bottom: solid 1px black;
    border-collapse:collapse;
    overflow:hidden;
}

#assetTable th {
    border-bottom: solid 1px black;
    font-weight: normal;
    padding-left: 5px;
}

#assetTable td {
    line-height: 14px;
    padding-left: 5px;
    padding-bottom: 1px;
}

#assetTable tr:nth-child(even) {
    background-color: #E0E0E0;
}

#assetTable tr:nth-child(odd) {
    background-color: #CCCCCC;
}

#assetTable tr.unused:nth-child(even) {
    background-color: #DAABA5;
}

#assetTable tr.unused:nth-child(odd) {
    background-color: #C69B96;
}

#assetTable tr.selected:nth-child(even) {
    background-color: #F3EB1E;
    font-weight: bold;
}

#assetTable tr.selected:nth-child(odd) {
    background-color: #F3EB1E;
    font-weight: bold;
}

#assetTable tr.separator:nth-child(even) {
    background-color: #424242;
    color: #C7C7C7;
    font-weight: bold;
}

#assetTable tr.separator:nth-child(odd) {
    background-color: #424242;
    color: #C7C7C7;
    font-weight: bold;
}

#assetTable .nameColumn {
    padding-left: 16px;
}

#assetTable .separator .nameColumn {
    padding-left: 5px;
}

#assetTable thead .nameColumn {
    padding-left: 5px;
}

#assetTable thead {
    background-color: #C0C0C0;
}
#assetTable .nameColumn {
    width: 353px;
}
#assetTable thead .sizeColumn {
    width: 52px;
    border-left: solid 1px black;
    border-right: solid 1px black;
}
#assetTable .statusColumn {
    width: 52px;
}
#assetTable tbody .statusColumn {
    color: #D20E0F;
    font-weight: bold;
}

#assetButtonHolder {
    position: absolute;
    left: 7px;
    bottom: 0;
}

#assetButtonHolder .pillButton {
    display:inline-block;
    height: 18px;
    color: #5c5c5c;
    background: #ebe9e7;
    background: -moz-linear-gradient(top, white, #d7d4cf);
}

#assetButtonHolder .pillButton .plus > * {
    background: #5c5c5c;
}

#assetButtonHolder .pillButton .minus > * {
    background: #5c5c5c;
}

#removeAsset {
    width: 52px;
    margin-left: 2px;
    padding-left: 10px;
}

.textureMap {
    display: block;
    width: 84px;
    height: 86px;
    position: relative;
}
.textureMap img {
    display: block;
    width: 84px;
    height: 84px;
    border: 1px solid #4D385F;
    box-shadow:
        rgba(0,0,0,0.2) 2px 2px 2px 0;
    -moz-box-shadow:
        rgba(0,0,0,0.2) 2px 2px 2px 0;
    position: relative;
    background: #a3a3a3;
}
.textureView {
    display: table;
    float: left;
    color: #3A3843;
    font-size: 10px;
    
    margin: 9px;
    width: 110px;
}
.textureView h2 {
    font-size: 11px;
    color: black;
}
.textureView .text {
    margin-left: 4px;
}
.textureView .baseName, .textureView .ext {
    display: inline-block;
}
.textureView .baseName {
    max-width: 137px;
    overflow: hidden;
}
.textureView .ext {
    max-width: 23px;
    overflow: hidden;
}

.textureMap img {
    display: block;
    margin: auto;
    background: #A3A3A3;
}

#topInfo label {
  -moz-user-select: text;
}

#topInfo b {
  -moz-user-select: text;
}

#topInfo span {
    display: none;
}

#topInfo span.visible {
    display: inline;
}

.textureView .textureButtons {
    position: absolute;
    top: 30px;
    left: 17px;
    width: 50px;
}
.textureView .textureMap:hover .textureButtons {
    display: block;
}
.textureView .pillButton {
    font-weight: normal;
    background: #D9D3ED;
    background: -moz-linear-gradient(top, #D9D3ED, #B6B0CA);
    width: 50px;
    margin-bottom: 4px;
}
.textureView .pillButton.disabled {
    display: none;
}
.pen {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url(img/pen.png);
    position: relative;
    left: -7px;
    top: 0px;
}
#deleteOpacity .plus.x {
    float: none;
    margin: 0;
    position: relative;
    top: 1.5px;
    left: -2px;
    margin-left: 2px;
}

#inactiveHolder {
    display:none;
}
#tabs {
    color:#f1f1f1;
    width:450px;
}
#tabs li {
    width:99px;
    height:15px;
    background: #818181;
    background: -moz-linear-gradient(top, #818181, #626262);
    display:inline-block;
    margin-right:3px;
    text-align:center;
    padding-top:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-topleft:3px;
    cursor:pointer;
}
#tabs li.active {
    background: #E6E6E4;
    background: -moz-linear-gradient(top, #E6E6E4, #C7C7C6);
    color:#151515;
    font-weight:bold;
}
#activeHolder {
    background: #C9C9C7;
    position:absolute;
    left:0px;
    top:18px;
    bottom:0px;
    right:0px;
}
#activePanelHolder #debug {
    left:10px;
    top:20px;
    right:8px;
    bottom:8px;
}

#debug .dictViewHolder {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom: 28px;
    padding-top:3px;
    padding-left:3px;
    padding-right:3px;
    overflow:scroll;
    overflow-x:hidden;
    background:white;
    color:black;
}

#debug .buttonBar {
    position: absolute;
    bottom: 3px;
}

#debug .dictToggle {
    width:9px;
    height:9px;
    float:left;
    position:relative;
    top:6px;
    margin-right:3px;
    margin-left:3px;
}

#debug .dict .dictToggle {
    background:url(img/dictkey-collapse.png);
    cursor:pointer;
}
#debug .dict.selected .dictToggle {
    background:url(img/dictkey-collapse-inverted.png);
}
#debug .dict .dictToggle:hover {
    background:url(img/dictkey-collapse-active.png);
}
#debug .dict.selected .dictToggle:hover {
    background:url(img/dictkey-collapse-active.png);
}

#debug .collapsed .dictToggle {
    background:url(img/dictkey-expand.png);
    cursor:pointer;
}
#debug .collapsed.selected .dictToggle {
    background:url(img/dictkey-expand-inverted.png);
}
#debug .collapsed .dictToggle:hover {
    background:url(img/dictkey-expand-active.png);
}
#debug .collapsed.selected .dictToggle:hover {
    background:url(img/dictkey-expand-active.png);
}

#debug .selected {
    background: #1f2b7a;
    color: white;
    font-weight: bold;
}

#debug td {
    padding-left:3px;
    padding-right: 3px;
    line-height:18px;
}
#debug td:nth-child(2) {
    width:226px;
}
#debug tr.dict {
    cursor:pointer;
}
#debug tr:hover {
    background:#aaf2aa;
}
#debug tr.selected:hover {
    background: #137713;
    color: white;
    font-weight: bold;
}

#debug .keyField {
    height:18px;
    overflow:hidden;
    white-space:nowrap;
}
#debug table {
    border-collapse:collapse;
    width:100%;
    background:url(img/debug-bg.png);
}
.indent {
    height:1px;
    float:left;
    width:0px;
}
.hidden {
    display:none;
}

#addActor {
    color: black;
    font-size:12px;
}
#addActorText {
    margin-left:22px;
    margin-top:28px;
    margin-right:20px;
}

p {
    margin-top: 1em;
}

#debug .buttonBar .pillButton {
    display:inline-block;
    background-color: #1f2b7a;
    background: -moz-linear-gradient(top, #1f2b7a, #5D6DD5);
    width:117px;
    margin-left:3px;
}
#debug .buttonBar .pillButton:hover{
    background: #137713;
}
#debug .buttonBar .pillButton:active{
    background: #115f11;
}
#debug .buttonBar .pillButton.disabled {
    background: #aeb6ea;
}

#addActorButton {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff, #e0e0e0);
    width:97px;
    position:absolute;
    left:204px;
    top:233px;
}
#addActorButton .plus {
    left: -3px;
}
#addActorButton .plus > * {
    background: #606060;
}

#hiddenTemplates {
    display: none;
}

.particleToggle {
    position: relative;
}

.particleToggle .name {
    display: block;
    float: left;
    width: 20%;
}

.particleToggle select.state {
    float: left;
    width: 8em;
    text-align: center;
}

.particleToggle select.state option {
    padding: 0;
    margin: 0;
}

.particleToggle .clear {
    clear: both;
    width: 0;
    height: 0;
}

td{
    vertical-align: top;
}