.hchooser .ul-bg {
    background:#B5B5B5;
    position:absolute;
    left:0;
    top:6px;
    bottom:0;
    right:0px;
}

.hchooser ul {
    position:absolute;
    left:0;
    top:6px;
    height:40px;
    right:76px;
    white-space:nowrap;
    color:#F1F0EE;
    overflow-x:hidden;
}

.hchooser li {
    background:url(img/Meshes_MeshTitleBG.png) -2px -2px;
    width:82px;
    height:22px;
    display:inline-block;
    text-align:center;
    margin:1px 2px 0 1px;
    cursor:pointer;
}
.hchooser li:hover {
    background-image:url(img/Meshes_MeshTitleBG_hover.png);
}

.hchooser li.selected {
    background:url(img/Meshes_MeshTitle_SelectedBG.png) -1px -1px;
    width:84px;
    height:32px;
    position:relative;
    top:-1px;
    margin-left:0px;
    margin-right:1px;
}
.hchooser li label {
    display:inline-block;
    position:relative;
    padding:0 6px;
    top:3px;
    white-space:nowrap;
    -moz-binding:url(ellipsis-xbl.xml#ellipsis);
    cursor:pointer;
}
.hchooser li.selected label {
    position:relative;
    top:4px;
    font-weight:bold;
    color:black;
    text-shadow:0 1px 0 #79B472;
}

.hchooser .track {
    position:absolute;
    display:block;
    top:0px;
    left:1px;
    right:78px;
    height:2px;
    background:#cccccc;
}

.hchooser .slider {
    position:absolute;
    display:block;
    top:0;
    left:10px;
    right:89px;
    height:2px;
}

.hchooser .thumb {
    background:url(img/thumb-bg.png);
    position:absolute;
    height:16px;
    left:10px;
    width:114px;
    top:-10px;
    cursor:pointer;
}

.hchooser .pageright {
    width:32px;
    height:20px;
    background:url(img/mesh-page-right.png);
    position:absolute;
    top:1px;
    right:17px;
    z-index:0;
    cursor:pointer;
}
.hchooser .pageleft {
    width:29px;
    height:20px;
    background:url(img/mesh-page-left.png);
    position:absolute;
    top:1px;
    right:39px;
    z-index:1;
    cursor:pointer;
}
.hchooser .pageleft.gray { cursor:default; background-image:url(img/mesh-page-left-gray.png); }
.hchooser .pageright.gray { cursor:default; background-image:url(img/mesh-page-right-gray.png); }
