.pillButton {
    position:relative;
    cursor:pointer;
    height:18px;
    border-radius:10px;
    -moz-border-radius:10px;
    text-align:center;
    font-family:Arial;
    font-weight:bold;
    font-size:11px;
    box-shadow:
        rgba(0,0,0,0.18) -1px 0 0 0,
        rgba(0,0,0,0.18) 1px 0 0 0,
        rgba(0,0,0,0.18) 0 2px 0 0,
        rgba(0,0,0,0.42) 0 1px 0 0;
    -moz-box-shadow:
        rgba(0,0,0,0.18) -1px 0 0 0,
        rgba(0,0,0,0.18) 1px 0 0 0,
        rgba(0,0,0,0.18) 0 2px 0 0,
        rgba(0,0,0,0.42) 0 1px 0 0;
}
.pillButton .fade {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    border-radius:10px;
    -moz-border-radius:10px;
    padding-top:2px;
}
.pillButton:hover .fade {
    background:rgba(0,0,0,0.1);
}
.pillButton:active .fade {
    background:rgba(0,0,0,0.25);
}
.pillButton.down .fade {
    color:white;
    background:rgba(0,0,0,0.25);
}

.pillButton.disabled .fade {
    background:rgba(0,0,0,0.1);
}

.pillButton.down:hover .fade {
    background:rgba(0,0,0,0.38);
}
.pillButton .plus {
    width:10px;
    height:10px;
    display:inline-block;
    position:relative;
    top:1px;
    left:-6px;
}
.pillButton .minus {
    width:10px;
    height:10px;
    display:inline-block;
    position:relative;
    top:1px;
    left:-6px;
}
.pillButton .plus.x {
    -moz-transform:rotate(45deg);
    float:right;
    top:2px;
    margin-right:6px;
}

.pillButton .plus > * {
    background:black;
}

.pillButton .minus > * {
    background:black;
}

.pillButton.down .plus > * {
    background:white;
}

.pillButton.down .minus > * {
    background:white;
}

.pillButton .plus .v {
    position:absolute;
    width:2px;
    height:100%;
    top:0;
    left:4px;
}

.pillButton .plus .h {
    position:absolute;
    width:100%;
    height:2px;
    top:4px;
    left:0;
}

.pillButton .minus .h {
    position:absolute;
    width:100%;
    height:2px;
    top:4px;
    left:0;
}

.pillButton .label {
    padding-right:8px;
    padding-top:2px;
}

.pillButton .bull {
    position:absolute;
    left:8px;
    display:inline-block;
    top:-4px;
    font-size:200%;
}
.pillButton.down .bull {
    color:white;
}
