.simpleColorPicker {
    height:48px;
    width:300px;
    font-family:Arial;
    font-weight:bold;
}

.simpleColorPicker .sliders {
    display: inline-block;
    position: relative;
    top: -6px;
    width: 309px;
}

.simpleColorPicker .comboSlider {
    width: 298px;
}

.simpleColorPicker label {
    margin-top: 4px;
}

.simpleColorPicker .swatch {
    display: inline-block;
    position: relative;
    top: 2px;
    float: right;
    height: 63px;
    width: 42px;
    background-color: #97b0c4;
    background-image: url(img/long_color_box.png);
}
