@import url(../css/dialog.css);
@import url(../css/card.css);


* {
    -moz-user-select: -moz-none;
}

div {
    cursor:default;
}

strong {
    font-weight:bold;
}

#dialog { 
    height:550px;
    width:550px;
}

#hd {
    z-index:0;
    height:130px;
    overflow:hidden;
    background:#484848;
    margin:5px 5px 0;
}

#hd-inner {
    background:#484848 url(img/room_card_top_bg.png) repeat-x 0 0;
    position:relative;
}

#room-image-wrapper {
    padding:20px;
    background:#000;
    position:relative;
    float:left;
}

#room-image-wrapper #premium-logos {
    position:absolute;
    top:15px;
    right:10px;
    width:30px;
    text-align:center;
    z-index:1;
    cursor: pointer;
}

#room-image {
    width:205px;
    height:90px;
    overflow:hidden;
    vertical-align: center;
    z-index:0;
}

#room-image img {
    width:205px;
}

#room-title-bar { 
    color:#DCDCDC;
    font-weight:bold;
    font-size:14px;
    display:inline-block;
    width:260px;
    padding:6px 30px 7px 5px;
    
}

#room-title {
    font:16px;
    margin:0;    
}

#left-panel {
    display: inline-block;
    height:130px;
}

#hd-details {
    position: relative;
    background:url(img/room_card_hd_bg.png) repeat-x 0 0;
}

#hd-details-inner {
    width:260px;    
    padding:5px 30px 0 5px;
    height:100px;
    line-height: 21px;
    background:url(img/room_card_top_swoosh.png) no-repeat 100% 0;
}

#owner-label, #language-label, #rating-label { 
    color:#D3C98E;
    font-size:14px;
}

#owner-name, #language-name, #fullness-label {
    color: #e3c65a;
}

#owner-name:hover {
    cursor:pointer;
    text-decoration:underline;
}

#rating-label {
    display: none;
    position: absolute;
    float: bottom;
    bottom: 4px;
    padding-left: 5px;
}
#rating-icons {
    vertical-align:middle;
}

#fullness-label {
    position: absolute;
    right: 6px;
    top: 6px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 24px;
    min-height: 18px;
    background: url(img/occupancy_bg.png) no-repeat left center;
}


#room-metadata {
    overflow:hidden;
    font-size:11px;
    margin:5px 5px;
}

#contents-left {
    float:left;
    padding:6px 0 0 10px;
}

#contents-left span {
    display:inline-block;
    color:#686866;
    cursor:pointer;
    margin:0 10px 0 0;
}

#contents-left span:hover {
    text-decoration:underline;
}

#safety-button {
    background:url(../img/flag_icon_gray.png) no-repeat 0 1px;
    padding:0 0 0 15px;
}

#favorite-button {
    background:url(../../chat_rooms/img/room_card_favorites_sp.png) no-repeat 0 1px;
    padding:0 0 0 25px;
}

#favorite-button.is-favorite {
    background-position:0 -89px;
}

#contents-right, #contents-right > div {
    float:right;
}

#fullness-meter {
    background:url(../../chat_rooms/img/chatroom_fullness_open_mid.png) repeat-x;
    color:#fff;
    position:relative;
    overflow:hidden;
    margin:3px 20px 0 0;
}

#fullness-meter #fullness-left, #fullness-meter #fullness-right {
    background-color:#f0f0e8;
    background-image:url(../../chat_rooms/img/chatroom_fullness_open_mid.png);
    display:block;
    position:absolute;
    top:0;    
    width:3px;
    height:19px;
}

#fullness-meter #fullness-left {
    left:0;
    background-image:url(../../chat_rooms/img/chatroom_fullness_open_left.png);    
}

#fullness-meter #fullness-right {
    right:0;
    background-image:url(../../chat_rooms/img/chatroom_fullness_open_right.png);    
}

#fullness-meter #fullness-icon {
    position:absolute;
    background-image:url(../../chat_rooms/img/chatroom_fullness_people_icon.png);
    top:0;
    left:5px;
    width:16px;
    height:19px;
}

#fullness-meter #fullness-label {
    display:inline-block;
    padding:3px 6px 3px 27px;
}

#fullness-meter.full {
    background-image: url(../../chat_rooms/img/chatroom_full_open_mid.png);
}

#fullness-meter.full #fullness-right {
    background-image: url(../../chat_rooms/img/chatroom_full_open_right.png);
}

#fullness-meter.full #fullness-left {
    background-image: url(../../chat_rooms/img/chatroom_full_open_left.png);
}

#fullness-meter.full #fullness-icon {
    background-image: url(../../chat_rooms/img/chatroom_full_people_icon.png);
}

#fullness-meter.empty {
    background-image: url(../../chat_rooms/img/chatroom_empty_open_mid.png);
}

#fullness-meter.empty #fullness-right {
    background-image: url(../../chat_rooms/img/chatroom_empty_open_right.png);
}

#fullness-meter.empty #fullness-left {
    background-image: url(../../chat_rooms/img/chatroom_empty_open_left.png);
}

#fullness-meter.empty #fullness-icon {
    background-image: url(../../chat_rooms/img/chatroom_empty_people_icon.png);
}

#description, #description-body {
    height:82px;
    overflow:hidden;
}

#description {
    margin:5px 0 0;
}

#occupants {
    margin:10px 0 0;
    position:relative;
}

#occupants-friend-notice { 
    color:#549585;
    font-weight:bold;
    position:absolute;
    top:2px;
    right:0px;
    font-size:13px;
    background:transparent url(../../chat_rooms/img/icon_friend_online.png) no-repeat 0 2px;
    padding:0 0 0 15px;
    display:none;
}

#occupants-friend-notice.found-friend {
    display:block;
}

#occupants-container {
    padding:0 5px;
    position:relative;
    height: 265px;
    overflow:hidden;
}

#occupant-column-headers {
    height:20px;
    overflow:hidden;
    position:relative;
    margin:10px 0 0;
}

#occupants-container .column-header {
    color:#999;
    font-size:11px;
    font-weight:bold;
    position:absolute;
    top:4px;
}

#occupants-column-name { 
    left:60px;
}

#occupants-column-gender { 
    left:200px;
}

#occupants-column-age {
    left:275px;
}

#occupants-column-speed {
    left:330px;
}

#occupants-column-add {
    right:15px;
    text-align:right;
}

#occupants-list {
    margin:0px;
    padding:0 5px 10px;
    max-height: 225px;
    overflow-y: auto;
}

#occupants-list .occupant-list-spinner {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: white url(../../img/spinner_black.apng) no-repeat center center;
    opacity:0.4;
    z-index: 1000;
}

#occupants-list div.occupant {
    color:#303030;
    list-style:none;
    height:2em;
    font-size:11px;
    position:relative;
}

#occupants-list div.occupant img, #occupants-list div.occupant span {
    top:5px;
    position:absolute;
}

#occupants-list div.occupant > img.friendIcon {
    left:5px;
    top:4px;
}

#occupants-list div.occupant > img.flag {
    left:30px;
}

#occupants-list div.occupant > span.name {
    left:55px;
    cursor:pointer;
    text-decoration:underline;
}

#occupants-list div.occupant > span.name:hover {
    
}
    
#occupants-list div.occupant > span.age {
    left:275px;
}

#occupants-list div.occupant > span.gender {
    left:200px;
}

#occupants-list div.occupant > span.speed {
    left:317px;
}

#occupants-list div.occupant > span.add-friend {
    display:none;
}

#occupants-list div.occupant > span.add-friend.not_friended {
    background:url("img/add_friend.png") no-repeat 3px;
    right:10px;
    text-align:right;  
    display:block;
    text-decoration:underline;
    cursor:pointer;
}

div.occupant:nth-child(even) {
    background-color:#f1f1f1;
}

div.occupant.friend {
    background-color:#b5e2c7;
}

div.occupant:nth-child(odd) {
    background-color:#e4e4e4;
}
