* {
    -moz-user-select: -moz-none;
    -moz-user-focus:ignore;
}

html, body {
    background-color: #6a5777;
    /*overflow: hidden;*/
}

#tool {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#toolbar {
    position: relative;
    height: 31px;
    background: #fff url(img/toolbar_bg.png) repeat-x bottom left;
    overflow: hidden;
    padding-right: 0px; /* ensures X button does not overlap other buttons when resized horizontally */
    z-index: 4;
}
.close {
    z-index: 2;
    position: relative;
    float: right;
    margin-top: 0;
    cursor: pointer;
    padding-right: 0;
    width: 32px;
    height: 32px;
    background: url(../../img/icon_16_close.png) no-repeat;
    background-position: 8px 8px;
}
    .close:hover {
        background: url(../../img/icon_16_close_hover.png) no-repeat;
        background-position: 8px 8px;
    }
    .close:active {
        background: url(../../img/icon_16_close_active.png) no-repeat;
        background-position: 8px 8px;
    }
.btn_save .spinner {
    display:none;
    float:left;
    position:relative;
}

.spinner {
    display:none;
    position:absolute;
    top:9px;
    left:2px;
    width:15px;
    height:15px;
    opacity:0.8;
    z-index:9000;
}

#save .imvu-button {
    margin-top:6px;
    float:right;
}
#manage .imvu-button {
    margin-top:6px;
    float:right;
}

.btn_save.disabled {
    opacity:0.25;
    cursor:default;
}

#toolbar .btn_manage.disabled {
    opacity:0.25;
    cursor:default;
}

#toolbar .categories {
    position:relative;
    top:-1px;
    float: left;
    font-size: 11px;
    color: silver;
    height: 31px;
    margin: 9px 19px 0 0;
}

#toolbar .categories .show {
    margin:1px 0 0 5px;
    float:left;
    cursor:default;
}

#category_selector {
    height:17px;
    width:200px;
    background-color:#262626;
    font-size:12px;
    margin-left:5px;
    position:relative;
    text-align:left;
    float:left;
}

#category_selector .label {
    color: white;
    margin:1px 17px 0 6px;
}

#category_selector select {
    font-size:11px;
}

#category_selector option {
    padding:1px 0px 1px 4px;
    font-family:sans-serif;
    background-color:#626161;
}

#category_selector option:nth-child(2n) {
    background-color:#6a6969;
}

#toolbar .filters {
    float: left;
    cursor: pointer;
    margin-left:2px;
    margin-right: 9px;
    position:relative;
    top:-1px;
}

#toolbar .filters div {
    display: inline-block;
}

#toolbar .filters .btn_ga {
    background: transparent url(img/filter_ga.png) no-repeat center 9px;
    width: 24px;
    height: 31px;
}

#toolbar .filters .btn_ga:hover {
    background-image: url(img/filter_ga_active.png);
    opacity: 0.6;
}

#toolbar .filters .btn_ga:hover.active {
    opacity: 1;
}

#toolbar .filters .btn_ga:active {
    opacity: 1;
}

#toolbar .filters .btn_ga.active {
    background-image: url(img/filter_ga_active.png);
}

#toolbar .filters .btn_all {
    background: transparent url(img/filter_all.png) no-repeat center 9px;
    width: 20px;
    height: 31px;
}

#toolbar .filters .btn_all:hover {
    background-image: url(img/filter_all_active.png);
    opacity: 0.6;
}

#toolbar .filters .btn_all:hover.active {
    opacity: 1;
}

#toolbar .filters .btn_all:active {
    opacity: 1;
}

#toolbar .filters .btn_all.active {
    background-image: url(img/filter_all_active.png);
}

#toolbar .filters .btn_ap {
    background: transparent url(img/filter_ap.png) no-repeat center 9px;
    width: 21px;
    height: 31px;
}

#toolbar .filters .btn_ap:hover {
    background-image: url(img/filter_ap_active.png);
    opacity: 0.6;
}

#toolbar .filters .btn_ap:hover.active {
    opacity: 1;
}

#toolbar .filters .btn_ap.active {
    background-image: url(img/filter_ap_active.png);
}

#toolbar .filters .btn_ap:active {
    opacity: 1;
}

#toolbar .btn_close {
    position: absolute;
    right: 0;
    top: 0;
    height: 31px;
    width: 26px;
    background: transparent url(img/toolbar_btn_close.png) no-repeat center center;
    cursor: pointer;
}

#carousel {
    -moz-box-sizing: border-box;
    background: #fff url(img/bg.png) repeat 0 31px;
    min-height: 189px;
    top: -31px;
    padding-top: 31px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 0;
}

#carousel.ga .outfit_container:not(.ga) {
    display: none;
}

#carousel.ap .outfit_container:not(.ap) {
    display: none;
}

.page_left {
    width: 40px;
    height:59px;
    background: url(img/paging_arrow_left.png) no-repeat center center;
    position: absolute;
    top: 68px;
    left:0;
    bottom:0;
    z-index:9000;
    cursor: pointer;
}

.page_left:hover {
    background-image: url(img/paging_arrow_left_hover.png);
}

.page_left:active {
    background-image: url(img/paging_arrow_left_active.png);
}

.page_right {
    width: 40px;
    height: 59px;
    background: url(img/paging_arrow_right.png) no-repeat center center;
    position: absolute;
    top: 68px;
    right: 0;
    bottom: 0;
    z-index:9000;
    cursor: pointer;
}

.page_right:hover {
    background-image: url(img/paging_arrow_right_hover.png);
}

.page_right:active {
    background-image: url(img/paging_arrow_right_active.png);
}

#spinner {
    display:none;
    float:left;
    width:100px;
    height:173px;
    background: transparent url(../../img/spinner_white.apng) no-repeat center center;
    opacity:0.6;
}

#spinner.in_progress {
    display: block;
}

#outfit_template {
    display: none;
}

.outfit_container {
    float: left;
    width: 100px;
    height: 173px;
    margin-top: 16px;
}

.outfit_container.default img.thumb {
    border: solid 1px #545454;
}

.outfit_container .default-label {
    color: #545454;
    font: 10px arial;
    cursor: default;
    opacity: 0;
}

.outfit_container.default .default-label {
    opacity: 1;
}

.outfit_container:hover img.thumb {
    border: solid 1px grey;
    cursor: pointer;
    z-index:9000;
}

.outfit_container:hover img.info {
    display: block;
}

.outfit_container:hover div.put_on {
    display: inline-block;
}

.outfit_container:hover div.put_on:active, /* mousedown over puton button, highlight puton button */
img.thumb:active + img + img + div.put_on, /* mousedown over thumbnail, also highlight puton button */
img.thumb:active + img + div.put_on {
    display: inline-block;
    background-position: center bottom;
}

.outfit {
    width: 75px;
    height: 165px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    background: transparent url(img/floor_shadow.png) no-repeat bottom center;
}

.outfit .saving {
}

.disabled-outfit {
    width: 75px;
    height: 154px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    background: transparent url(img/floor_shadow.png) no-repeat bottom center;
    color: #AB97B0;
    border: solid 1px transparent;
    white-space: normal;
    font-size:11px;
}

.disabled-outfit div {
    width: 73px;
    height: 150px;
    border: solid 1px transparent;
}

.disabled-outfit:hover div {
    border: solid 1px grey;
    cursor:pointer;
}

.disabled-outfit img {
    margin-top:36px;
}

.more-info {
    color: white;
    text-decoration: underline;
}

img.thumb {
    margin-top: 0;
    width: 73px;
    height: 150px;
    border: solid 1px transparent;
}

img.info {
    position: absolute;
    top: 7px;
    left: -5px;
    display: none;
}

img.info:hover {
    cursor: pointer;
}

img.ap {
    position: absolute;
    top: 14px;
    right: -9px;
    display:none;
}

.outfit_container.ap img.ap {
    display:inline;
}

div.put_on_container {
    position: absolute;
    bottom: -10px;
    left: 43px;
    margin-left: -75px;
    width: 150px;
}
div.put_on {
    position: relative;
    height: 16px;
    display: none;
    cursor: pointer;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

#outfit_list_container {
    position: relative;
    overflow: hidden;
    min-height: 189px;
    padding-top: 16px;
    height: 100%;
    min-width: 100px;
    top: -16px;
    -moz-box-sizing: border-box;
}

#outfit_list_container.tall {
    overflow-y: scroll;
}

#outfit_list {
    position: absolute;
    /*height: 100%;*/
    left: 0;
    -moz-box-sizing: border-box;
    -moz-column-gap: 40px;
    -moz-column-rule-width: 0;
}

#dot_paginator {
    margin-top:3px;
    margin-left:auto;
    margin-right:auto;
    width:160px;
    height:16px;
    position:relative;
    z-index: 1;
}

.dot {
    float:left;
    width:16px;
    height:16px;
    background:transparent url(../../img/paging_dot.png) no-repeat;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
    opacity:0.2;
}

.dot.active {
    cursor:default;
    opacity:1;
}

.hidden {
    display:none;
}

.invisible {
    visibility:hidden;
}

.label {
    white-space:nowrap;
    overflow:hidden;
}

.label .public, .label .friends_only, .label .private {
    font-weight:bold;
}

.progress_bar {
    margin:9px 0 0 16px;
    float:left;
    width:100px;
    height:14px;
    background-color:#444;
}

#percent_outfits_loaded {
    width:0%;
    height:14px;
    background-color:#777;
}

#progress_dial {
    position:absolute;
    left:-20px;
    top:1px;
    width:16px;
    height:15px;
}

svg {
    fill:transparent;
}

svg circle.backdrop {
    fill:rgba(255,255,255,0.2);
}

svg path {
    stroke:white;
}

#try-again {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    opacity: 0;
}

#try-again .message {
    display: inline-block;
    background: transparent url(../../img/icon_24_warning.png) no-repeat left center; /* 28x28 */
    padding-left: 44px; /* 28 + 16 */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px; /* half height */
    margin-left: -141px; /* half width */
    color: white;
}

.try-again #outfit_list {
    opacity:0.2;
}

#click_here_to_save {
    width:179px;
    height:36px;
    background:transparent url(img/click_here_to_save.png) no-repeat center center;
    position:absolute;
    top:28px;
    display:none;
}

#click_here_to_save.cta {
    display:block;
}

#earn_credits {
    background: #fff url(img/bg.png) repeat-x top left;
    height: 189px;
    float: left;
    cursor: default;
    position: relative;
}
#earn_credits .panel {
    text-align: left;
    
    text-shadow: #ff0 0 1px 1px;
    margin: 22px 20px 20px 20px;
    width: 294px;
    height: 146px;
    background: -moz-linear-gradient(top, #f7db00, #eba300);
    -moz-border-radius: 7px;
}
    #earn_credits .panel h2 {
        font-size: 19px;
        margin: 12px 20px 10px 20px;
        padding-top: 12px;
    }
    #earn_credits .panel p {
        font-size: 14px;
        white-space: normal;
        margin: 0 25px 5px 20px;
    }
        #earn_credits .panel p img {
            position: relative;
            top: 6px;
            line-height: 10px;
        }
#close_button {
    width:12px;
    height:12px;
    display:inline-block;
    position:absolute;
    top: 23px;
    right: 22px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -moz-transform:rotate(45deg);
    margin: 14px 10px 10px 10px;
}
    #close_button .h {
        background-color: black;
        position:absolute;
        width:100%;
        height:2px;
        top:5px;
        left:0;
        box-shadow: 1px;
    }
    #close_button .v {
        background-color: black;
        position:absolute;
        width:2px;
        height:100%;
        top:0;
        left:5px;
    }
#close_button_shadow {
    width:12px;
    height:12px;
    display:inline-block;
    position:absolute;
    top: 23px;
    right: 22px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -moz-transform:rotate(45deg);
    margin: 15px 10px 10px 10px;
}
    #close_button_shadow .h {
        background-color: #ff0;
        position:absolute;
        width:100%;
        height:2px;
        top:5px;
        left:0;
        box-shadow: 1px;
    }
    #close_button_shadow .v {
        background-color: #ff0;
        position:absolute;
        width:2px;
        height:100%;
        top:0;
        left:5px;
    }
