@import url(../css/new-visd-dialog.css);

#dialog.imq-connection {
    width: 400px;
    height: 238px;
}

#dialog h1#title {
    color: #ffffff;
}

#content {
    height: 85px;
}

.hidden {
    display: none;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dialog #content p {
    text-align: center;
    font-size: 12px;
    color: #dcdcdc;
    margin-bottom: 15px;
}

footer {
    font-size: 12px;
}

#dialog #button-bar {
    float: none;
}

#dialog .button-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
