@import url(../css/new-visd-base.css);
@import url(../css/paginator.css);

html {
    background: #000000;
    color: white;
    overflow: hidden;
}

#spinner {
    background: url(../img/spinner_white.apng) no-repeat center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
}

#lightbox {
    display: none;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 40;
}

#lightbox img.lightbox-photo {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 40px;
}

    #lightbox .buttons {
        display: block;
        width: 200px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 10px;
        margin: auto;
        text-align: center;
    }

    #lightbox .lightbox-control {
        position: relative;
        display: inline-block;
        color: white;
        cursor: pointer;
        height: 21px;
        padding: 3px;
        margin: 0 10px;
        z-index: 41;
    }
    
    #lightbox .lightbox-control:hover {
         background-color: #333;
        -moz-box-shadow: 0px 0px 10px #fff;
    }
    #lightbox .lightbox-control:active {
        background-color: #555;
        -moz-box-shadow: 0px 0px 10px #fff;
    }

        #lightbox .back, #lightbox .forward {
            width: 27px;
        }

        #lightbox .back { background: url(../img/btn_back_white.png) center no-repeat; }
        #lightbox .forward { background: url(../img/btn_forward_white.png) center no-repeat; }

        #lightbox .play, #lightbox .pause {
            width: 20px;
        }

        #lightbox .play { background: url(../img/btn_play_white.png) center no-repeat; }
        #lightbox .pause { background: url(../img/btn_pause_white.png) center no-repeat; }

    #lightbox .close {
        background: transparent url(../img/icon_16_close.png) no-repeat;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        height: 16px;
        width: 16px;
        top: 10px;
        right: 10px;
        z-index: 41;
    }

    #lightbox .close:hover {
        background: transparent url(../img/icon_16_close_hover.png) no-repeat;
    }
    #lightbox .close:active {
        background: transparent url(../img/icon_16_close_active.png) no-repeat;
    }

li {
    display: inline;
}

.numbers {
    padding-left: 5px;
    padding-right: 5px;
}

div .selected {
    color: #C8C6C7;
}

#back_to_albums{
    background-color: #000000;
    display: none;
}


#top-nav{
    clear: both;
    background-color: #2F2F2F;
    border-bottom: 2px solid black;
    -moz-border-bottom-colors: #181818 #535354;
    margin-bottom: 10px;
    height: 46px;
    z-index: 0;
}

#left-nav-album-view, #left-nav-photo-view, #left-nav-all-photos-view {
    margin-left: 10px;
    margin-right: 20px;
    width: 270px;
    background-color: #2f2f2f;
    background-image: url(../img/background-pattern.png);
    z-index:1;
    border: 1px solid black;
    border-bottom: 2px solid black;
    -moz-border-bottom-colors:#424242 black;
    text-wrap: normal;
    padding: 10px;
}

#breadcrumbs {
   position: relative;
   top: 10px; 
   left: 20px;
   margin-right: 15px;
   cursor: pointer;
   color: #fff;
}

.breadcrumb-0 img {
    position: relative;
    top: 4px;
}

.breadcrumb-image {
    position: relative;
    top: 2px;
}

.breadcrumb-text {
    font: 20px sans-serif;
    border: 0;
    padding: 4px;
    cursor: pointer;
}

.breadcrumb-text:hover {
    opacity: 0.5;
}

.current-breadcrumb .breadcrumb-text:hover {
    opacity: 1;
}

.current-photo {
    background-color: #333333;
    width: 100%;
    height: 100%;
    min-width: 520px;
    min-height: 405px;
    text-align: left;
    padding: 5px 40px 0 40px;
    position: relative;
}

.hires-photo {
    cursor: pointer;
}

.current-breadcrumb {
    color: #FFD200;
}

.current-breadcrumb .breadcrumb-text {
    cursor: default;
}

.pic-id-hidden, .album-id-hidden {
    display: none;
}

.album-id, .album-id-edit{
    display: none;
}

#spinner, .main-div {
    display: none;
    position: absolute;
}

.album-buttons {
    background-color: #2F2F2F;
    background-image: url(../img/background-pattern.png);
}

.photos-tip {
    /* height: 142px; Not sure of the original reasaon for specifying height here, text can exceed height depending on font. */
    padding-top: 10px;
    font: 14px;
    color: #bbb;
    border-top: 2px solid #424242;
    -moz-border-top-colors: #191919 #424242;
}

    .photos-tip .tip-text {
        padding-top: 10px;
        padding-right: 15px;
        font-size: 12px;
        color: #bbb;
        text-wrap: normal;
    }

    .photos-tip .tip-text li {
        list-style: disc outside none;
        display: list-item;
        padding-bottom: 5px;
    }

    .photos-tip .tip-text ul {
        padding-left: 15px;
    }

.upload-button { 
     padding-top: 10px;
     padding-left: 10px;
     display: inline-block;
}

#album-nav-container {
    width: 260px;
    position: fixed;
    top: 58px;
    bottom: 60px;
    background: url("../img/background-pattern.png") repeat scroll;
    background-color: #2f2f2f;
    z-index: 1;
}

.album-view-droppable {
    width: 260px;
    position: fixed;
    top: 93px;
    bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    background: url("../img/background-pattern.png") repeat scroll;
    background-color: #2f2f2f;
    -mdc-background-size: 25px 25px;
    background: -moz-radial-gradient(50% -2px, ellipse, rgba(22, 22, 22, 0.4) 25%, rgba(62, 62, 62, 0));
    border-bottom: 2px solid;
    -moz-border-bottom-colors:  #424242 #191919 ;
}

#button-bar {
    position: absolute;
    bottom: -25px;
    left: 180px;
}

button.done-button {
    position: absolute;
}

#move-photos-view {
    background-color: #232323;
    position: absolute;
    top: 48px;
    left: 273px;
    right: 0;
    bottom: 0;
}

.album-view-header {
    position: absolute;
    width: 240px;   
    margin-left: 10px;
    margin-top: 5px;
    color: #fff;
}

    .album-view-header .text {
        font: 12px sans-serif;
        font-weight: bold;
        display: inline-block;
    }
    
    .album-view-header .album-count {
        background-color: #000000;
        padding-left: 6px; 
        padding-right: 6px;
        margin-bottom: 3px;
        margin-left: 10px;
        font-size: 11px;
        color: white;
        display: inline-block;
    }

#album-view, #photo-view, #photo-detail-view {
    background-color: #232323;
    position: absolute;
    top: 48px;
    left: 273px;
    right: 0;
    bottom: 0px;
}

#album-view {
    left: 303px;
    top: 60px;
}

#refresh-album-list {
    position: relative;
    top: -3px;
    left: 130px;
    font: 12px;
    color: #bbbbbb;
    display: inline;
}

#refresh-album-list .icon {
    cursor: pointer;
}

#refresh-album-list:hover, #refresh-album-list .icon:hover {
    color: #909090;
    background:transparent url(../img/icon_16_refresh_hover.png) no-repeat;
}

    #refresh-album-list .icon {
        background:transparent url(../img/icon_16_refresh.png) no-repeat;
        padding: 0 0 0 20px;
    }

#photo-detail-view {
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
    top: 48px;
}
    #photo-detail-view .container {
        padding-top: 10px;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }
    #photo-detail-view table td {
        text-align: center;
    }

    #photo-detail-view .current-photo {
       -moz-box-shadow: 0px 0px 10px #000;
    }
        #photo-detail-view .current-photo:hover .flag-photo-detail {
            opacity: 0.8;
        }

    #photo-detail-view .flag-photo-detail, .flag-photo-list {
        width:20px;
        height:20px;
        background:transparent url(../img/icon_flag_normal.png) no-repeat;
        position: relative;
        top: 13px;
        left: 22px;
        opacity: 0.0;
        z-index: 5;
        cursor: pointer;
    }
    #photo-detail-view .flag-photo-detail {
        position: absolute;
        top: 25px;
        left: 106px;
    }

        #photo-detail-view .flag-photo-detail:hover, .flag-photo-list.red-flag {
            background:transparent url(../img/icon_flag_hover.png) no-repeat;
        }

    #photo-detail-view .bottom-container {
        margin: 0 auto;
        width: 570px;
        display: block;
    }

        #photo-detail-view .bottom-container .header {
            height: 65px;
            width: 570px;
            background:url(../img/photoview_header.png) no-repeat;
            display: block;
        }
        
        #photo-detail-view .bottom-container .body {
            background:url(../img/photoview_body.png) repeat-y;
            padding-right: 40px;
        }
        
            #photo-detail-view .bottom-container .body .title-div {
                display: block;
                top: -25px;
                position: relative;
                margin-left: 32px;
                
            }

                #photo-detail-view .bottom-container .body .title-div .title {
                    font: 14px;
                    color:  #212121;
                }
                
                    #photo-detail-view .bottom-container .body .title-div .title:hover {
                        background-color: #ffe762;
                    }
            
            #photo-detail-view .bottom-container .body #edit-title-input {
                height: 20px;
                width: 500px;
                display: inline-block;
                outline: 1px solid #696969;
                font: 14px;
                cursor: text;
            }
            
                #photo-detail-view .bottom-container .body #edit-title-input:focus {
                    background-color: #ffe762;
                }
        
            #photo-detail-view .bottom-container .body .description-div {
                display: block;
                top: -15px;
                position: relative;
                margin-left: 32px;
            }
            
                #photo-detail-view .bottom-container .body .description-div .description {
                    width: 500px;
                    font: 12px;
                    color: #212121;
                    word-wrap: break-word;
                }
                
                    #photo-detail-view .bottom-container .body .description-div .description:hover {
                        background-color: #ffe762;
                    }
            
            #photo-detail-view .bottom-container .body #edit-description-input {
                outline: 1px solid #696969;
                display: inline-block;
                width: 500px;
                height: 50px;
                font: 12px;
                cursor: text;
            }
            
                #photo-detail-view .bottom-container .body #edit-description-input:focus {
                    background-color: #ffe762;
                }
            
        
        #photo-detail-view .bottom-container .edit-status-button {
            display: inline-block;
            margin-left: 3px;
            color: #4499fe;
            font: 12px;
            cursor: pointer;
            position: relative;
        }
        
            #photo-detail-view .bottom-container .edit-status-button:hover {
                color: #3373be;
                text-decoration: underline;
            }
        
        #photo-detail-view .bottom-container .footer {
            height: 65px;
            width: 570px;
            background:url(../img/photoview_footer.png) no-repeat;
        }

#photos-mode{
    background-color: #888390;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index:1;
}

.scroll-bar{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0; 
    background-color: #232323;
}

.horizontal-list {
    display: inline-block;
    vertical-align: middle;
}

#photo-list-edit, #photo-list, #album-list {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#album-list {
    top: 33px;
}

.album-template, .photo-template {
    display: none;
}

.thumbnail-widget .pic-title {
    position: relative;
    font: 11px;
    color: #cccccc;
    top: -10px;
    left: 20px;
    height: 0px;
}


.photo-thumbnail, .album-thumbnail{
    background-color: #333333;
    width: 160px;
    height: 120px;
    min-width: 160px;
    min-height: 120px;
    margin-bottom: 10px;
    z-index: 3;
    overflow: hidden;
}

.prev-photo, .next-photo {
    padding: 15px;
    width: 60px;
    text-align: left;
}

.nav {
    width: 60px;
    height: 45px;
    cursor: pointer;
}

.nav-link {
    font: 11px;
    color: #4499fe;
    padding: 8px 0 0 20px;
    cursor: pointer;
}

.nav-container:hover .nav-link {
    color: #3373be;
    text-decoration: underline;
}

.nav-container:hover .nav-thumb {
    outline: 1px solid #ffd200;
}

.photo-thumbnail {
    position: relative;
    top: -9px;
    margin-bottom: 2px;
    margin-left: 20px;
    outline: 1px solid #cccccc;
}

.photo-thumbnail:hover {
    outline: 1px solid #ffd200;
}

.album-thumbnail-no-hover {
    width: 160px;
    height: 120px;
    min-width: 160px;
    min-height: 120px;
    margin-bottom: 10px;
    margin-left: 10px;
    z-index: 1;
    position:relative;
    left: 18px;
    top: 27px;
    cursor: default;
    overflow: hidden;
}

.album-thumbnail {
    width: 160px;
    height: 120px;
    min-width: 160px;
    min-height: 120px;
    margin-bottom: 10px;
    margin-left: 10px;
    z-index: 1;
    position:relative;
    left: 18px;
    top: 27px;
    cursor: pointer;
}

.thumbnail {
    cursor: pointer;
}

.album-thumbnail-no-hover  .thumbnail {
    cursor: default;
}

.album-thumbnail:hover {
    outline: 1px solid #ffd200;
}

.album-thumbnail-droppable {
    outline: 1px solid #ffd200;
}

.add-album, .get-vip {
    padding-left:20px;
    padding-top:20px;
    cursor: pointer;
}
   
.album-description-title {
    border-top: 2px solid;
    -moz-border-top-colors:  #191919 #424242;
    padding-top: 10px;
    font: 14px;
    color: #fff;
    padding-bottom: 12px;
}

.album-description {
    font: 12px;
    color: #bbb;
    padding-bottom: 12px;
    text-wrap: normal;
}

.album-privacy-title {
    padding-top: 10px;
    font: 14px;
    color: #fff;
}

#album-privacy-container, #default-album-privacy-container {
    border-top: 2px solid;
    -moz-border-top-colors:  #191919 #424242;
    margin-bottom: 12px;
}

#album-privacy-warning, #album-privacy-default {
    padding-top: 24px;
    font: 12px;
    color: #fff;
}

.dropdown {
    top: 15px;
    font: 11px;
    color: #bbbbbb;
    position: relative;
    z-index: 4;
    cursor: pointer;
    height: 24px;
    width: 220px;
    border: 1px solid #696969;
    -moz-border-radius: 3px;    
    background: url(../img/select-tic-white.png) no-repeat scroll;
    background-position: 204px 9px;
    background-color: #333333;
    line-height: 22px;
}
    .dropdown:hover {
        border: 1px solid #444444;
        -moz-border-radius: 3px;
        background-color: #222222;
    }
    .dropdown .open {
        border: 1px solid #444444;
        -moz-border-radius: 3px;
        background-color: #222222;
        color: #bbbbbb;
    }
    .dropdown .title {
        padding-left: 10px;
        cursor: pointer;
    }
    .dropdown .selectList {
        padding-left: 00px;
    }
    .dropdown ul {
        background-color: #6a6a69;
        border: 1px solid #444444;
        border-left: 1px solid #afafaf;
    }
    .dropdown .list-item {
        padding-left: 10px;
        color: white; //TODO fix this
        text-decoration: none;
        cursor: pointer;
    }
    .dropdown li {
        cursor: pointer;
        display: block;    
    }    
    .dropdown li:hover {
        background-color: #ffd200;
    }
    .dropdown li:hover .list-item {
        color: #333333;
    }
    
.album-count-drop-down {
    position: absolute;
    top: 0px;
    width: 100px;
    background-position: 84px 9px;
}

.photo-count-drop-down {
    position: absolute;
    top: 60px;
    left: 292px;
    width: 100px;
    background-position: 84px 9px;
}

#album-dropdown {
    width: 150px;
    position: relative;
    display: inline-block;
}

.album-select-drop-down {
    position: absolute;
    top: -10px;
    background-position: 134px 9px;
    width: 150px;
    z-index: 5;
}

.album-select-drop-down .title {
    color: #ffd200;
}

#album-display-count, #photo-display-count {
    margin-left: 10px;
    padding-bottom: 5px;
}

#photo-display-count {
    margin-left: 18px;
}


#left-nav-all-photos-view .action-list {
    border-bottom: 2px solid;
    -moz-border-bottom-colors:  #424242 #191919 ;
}

.container {
    width: 732px;
    min-width: 740px;
    overflow: hidden;
}

.otherThumbnails {
    max-width: 160px;
    max-height: 120px;
}

.imvuLandscape {
    max-height: 120px;
}

.imvuPortrait {
    position: relative;
    clip: rect(30px, 160px ,150px ,0px);
    top: -10px;
}

.nav-thumb {
    outline: 1px solid #cccccc;
    max-height: 45px;
    max-width: 60px;
    cursor: pointer;
}

.delete-widget {
    width:19px;
    height:20px;
    background:transparent url(../img/try_x.png) no-repeat;
    position: relative;
    left: 165px;
    top: 15px;
    opacity: 0.0;
    z-index: 3;
    cursor: pointer;
}

.delete-widget-album{
    width:19px;
    height:20px;
    background:transparent url(../img/try_x.png) no-repeat;
    position: relative;
    left: 180px;
    top: 18px;
    opacity: 0.0;
    z-index: 2;
    cursor: pointer;
}

.delete-widget-photo {
    width:19px;
    height:20px;
    background:transparent url(../img/try_x.png) no-repeat;
    position: relative;
    left: 172px;
    top: 3px;
    opacity: 0.0;
    z-index: 5;
    cursor: pointer;
}

.album-widget {
    margin-top: -20px;
    position: relative;
    width: 227px;
    height: 220px;
    background:url(../img/album-background.png) no-repeat;
    cursor: default;
}

.album-widget-no-hover {
    width: 227px;
    height: 220px;
    background:url(../img/album-background.png) no-repeat;
    cursor: default;
}

.album-widget-hover-droppable {
    width: 227px;
    height: 220px;
    background:url(../img/album-background-hover.png) no-repeat;
    cursor: default;
}

.album-widget:hover {
    margin-top: -20px;
    width: 227px;
    height: 220px;
    background:url(../img/album-background-hover.png) no-repeat;
}

.album-selected {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
    top: 21px;
    left: 22px;
    background: no-repeat url(../dialogs/quests/img/quests_chkbox_unchked.png) 0 0 transparent;
    -moz-background-size: 30px 30px;
}

.photo-selected {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: no-repeat url(../dialogs/quests/img/quests_chkbox_unchked.png) 0 0 transparent;
    -moz-background-size: 30px 30px;
}

.album-selected:hover,
.photo-selected:hover {
    cursor: pointer;
}

.album-widget.deletable:hover .album-selected,
.album-widget.selected.deletable .album-selected,
.photo-thumbnail.deletable:hover .photo-selected,
.photo-thumbnail.selected.deletable .photo-selected {
    display: block;
}

.album-widget.selected .album-selected,
.photo-thumbnail.selected .photo-selected {
    background: no-repeat url(../dialogs/quests/img/quests_chkbox_chked.png) 0 0 transparent;
    -moz-background-size: 30px 30px;
}

.add-album-widget {
    margin-top: -20px;
    width: 227px;
    height: 220px;
    background:url(../img/album-background-plain.png) no-repeat;
    cursor: default;
}

.add-album-widget:hover {
    margin-top: -20px;
    width: 227px;
    height: 220px;
    background:url(../img/album-background-plain-hover.png) no-repeat;
}

.album-widget-get-vip {
    margin-top: -20px;
    width: 227px;
    height: 220px;
    background: url(../img/img_holder_gold.png) no-repeat;
    cursor: default;
}

.album-widget-get-vip:hover {
    margin-top: -20px;
    width: 227px;
    height: 220px;
    background: url(../img/img_holder_goldhover.png) no-repeat;
    cursor: default;
}

.vip-thumbnail {
    margin-top: -25px;
    margin-left: -20px;
}

.create-album-widget {
    width: 227px;
    height: 220px;
    background:url(../img/create-album.png) no-repeat;
    cursor: pointer;
}

.action-list{ 
   color: #4499fe;
   font: 12px;
   padding-bottom: 12px;
   padding-top: 7px;
}


.edit-button, .move-button, .move-button-to, .left-nav-buttons{
    display: inline-block;
    margin-right: 2px;
    color: #4499fe;
    font: 12px;
    cursor: pointer;
    position: relative;
    left: 27px;
    top: 9px;
}

    .edit-button:hover, .move-button:hover, .download-button:hover, .left-nav-buttons:hover{
        color: #3373be;
        text-decoration: underline;
    }
    
.left-nav-buttons { 
    display: block; 
    white-space: nowrap;
    left: 0px;
    top: 0px;
    margin-top: 5px;
}

.left-nav-buttons-inactive {
    display: block; 
    margin-right: 2px;
    color: #bbbbbb;
    font: 12px;
    cursor: default;
    position: relative;
    left: 0px;
    top: 0px;
    width: 0px;
    margin-top: 5px;
    white-space: nowrap;
}

#left-nav-photo-view, #left-nav-all-photos-view {
    display: none;
    width: 240px
}

.photo-count {
    height: 15px;
    font: 12px;
    display: inline-block;
    background: transparent;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    left: 28px;
    bottom: 2px;
    text-align: center;
    color: #fff;
}

.album-title {
    position:relative;
    width: 173px;
    left: 27px;
    top: 13px;
    color: #ccc;
    font: 14px sans-serif;
}

#total-albums ,#breadcrumbs, #total-photos{
    display:inline-block;
}

#total-albums, #total-photos{
    font-size: 11px;
    color: #BBB;
}

#total-albums {
    position: relative;
    top: 8px;
    padding-left:15px; 
}

#total-photos {
    background-color: #000000;
    margin-left: 6px;
    position: relative;
    top: 8px;
    padding:0px 6px; 
}

#main-header {
    position: fixed;
    z-index: 1;
    clear: both;
    top: 25px;
}

.system-button {
    display: inline-block;
    width: 80px; //default
    height: 28px;
    -moz-border-top-colors: #242222 #ffdd01;
    -moz-border-bottom-colors: #242222 #ffdd01;
    -moz-border-left-colors: #242222 #ffdd01;
    -moz-border-right-colors: #242222 #ffdd01;
    -moz-border-radius: 3px;
    background: -moz-linear-gradient(top, #ffe795, #ffd200);
    -moz-box-shadow: 0 0 5px #000;
    cursor: pointer;
    line-height: 25px;
}

.keep-system-button-no-hover {
    display: inline-block;
    width: 80px; //default
    height: 28px;
    -moz-border-top-colors: #242222 #ffdd01;
    -moz-border-bottom-colors: #242222 #ffdd01;
    -moz-border-left-colors: #242222 #ffdd01;
    -moz-border-right-colors: #242222 #ffdd01;
    -moz-border-radius: 3px;
    background: -moz-linear-gradient(top, #ffe795, #ffd200);
    -moz-box-shadow: 0 0 5px #000;
    cursor: default;
    line-height: 25px;
    opacity: 0.5;
}

    .system-button:hover {
        background: -moz-linear-gradient(top, #ffd200, #f9ad37);
    }
    
    .system-button:active {
        background: #f9ad37;
    }
    
    .system-button .contents, .keep-system-button-no-hover .contents {
        height: 15px;
        color: #000;
        font: bold 12px sans-serif;
        vertical-align: middle;
        display: inline-block;
        padding-left: 35px;
    }

button#upload-photo,
button#create-album {
    margin: 0 0 10px 0px;
}
    button .icon {
        background-position: 0 0 0 0;
        background-repeat: no-repeat;
        padding: 2px 0 0px 22px;
    }
    button#upload-photo .icon { background-image: url(../img/upload_icon.png); }
    button#create-album .icon { background-image: url(../img/create_album_button_icon.png); }


/*button#upload-photo,
button#create-album {
    width: 130px;
    margin: 0 0 8px -2px;
}
    button .icon {
        background-position: 0 0 0 -2px;
        background-repeat: no-repeat;
        padding: 0 0 0 20px;
    }
    button#upload-photo .icon { background-image: url(../img/upload_icon.png); }
    button#create-album .icon { background-image: url(../img/create_album_button_icon.png); }*/



.drag-and-drop-hint {
    margin-top: 10px;
    display: inline-block;
    background: url(../img/icon_24_info.png) no-repeat, -moz-linear-gradient(top, #ffffff, #bcbcbc);
    background-position: 5px center;
    height: 36px;
    width: 700px;
    margin-left: 20px;
    border: 1px solid #ffffff;
    -moz-border-radius: 3px;
}

    .drag-and-drop-hint .contents {
        position: relative;
        height: 15px;
        color: #3373be;
        font: 12px;
        font-weight: bold;
        padding-left: 35px;
        line-height: 35px;
    }
    
.drag-and-drop-hint .close {
        background: transparent url(../img/icon_16_close.png) no-repeat;
        cursor: pointer;
        display: inline-block;
        position: relative;
        height: 39px; /* 19 + 10*2 + 5 */
        width: 41px; /* 19 + 10*2 + 5 + 2 */
        top: -12px;
        left: 681px;
    }
    .drag-and-drop-hint .close:hover {
        background: transparent url(../img/icon_16_close_hover.png) no-repeat;
    }
    .drag-and-drop-hint .close:active {
        background: transparent url(../img/icon_16_close_active.png) no-repeat;
    }

.tip-on-hover {
    position: absolute;
    display: inline-block;
    left: 125px;
    top: 15px;
    height: 20px;
    background: url(../img/icon_16_questionMark.png) no-repeat;
    background-position: 7px center;
    z-index: 1;
}
    
    .tip-on-hover .contents {
        color: #bbbbbb;
        font: 12px;
        padding-left: 25px;
        line-height: 19px;
    }
    
#tip-info-block {
    position: absolute;
    top: -35px;
    left: 270px;
    z-index: 99;
}

#tip-info-block div.info-arrow-left {
    position: absolute;
    width: 25px;
    height: 29px;
    top: 45px;
    left: -25px;
    background: url("../dialogs/img/info_arrow_left.png");
}

#tip-info-block div.info-box {
    position: relative;
    max-width: 241px;
    background-color: #CCC;
    border: 3px solid white;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0px 0px 20px #444;
}

#tip-info-block div.header {
    position: relative;
    display: table;
    width: 241px;
    height: 43px;
}

#tip-info-block div.header span.title {
    display: table-cell;
    font: 18px sans-serif;
    padding: 0px 25px 0px 37px;
    vertical-align: middle;
    color: #3373be;
}

#tip-info-block div.header div.icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 13px;
    left: 12px;
    background: url('../img/icon_16_questionMark.png') no-repeat;
}

#tip-info-block div.header div.close {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    background: url('../img/info_close.png');
    cursor: pointer;
}

#tip-info-block div.body {
    position: relative;
    background-color: #DDD;
    padding: 10px;
    margin: 0px 2px 2px 2px;
}

#tip-info-block div.text {
    font-weight: normal;
    font: 12px;
    color: black;
    line-height: 20px;
}