@import url(../../css/new-visd-base.css);
body, html {
    -moz-user-select: -moz-none;
}

body { 
    margin: 0;
}
div#content {
    padding: 30px 35px 0px 35px;
}
body#themed-room div.main-title span,
body#themed-room div.main-title {
    font-size: 18px;
    font-weight: bold;
    padding:0 0 12px 0;
}
div#content .room-name {
    font-style:italic;
}

div.dialog-body {
    padding: 10px 0 0;
    line-height: 16px;
    clear: left;
}

div.dialog-body ul li {
    font-size: 9px;
}

div.dialog-body ul li span {
    font-size: 12px;
}

div.example-image-container {
    width: 100%;
}

div.example-image {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}

div.example-image p {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 12px;
}

div.example-image img {
    width: 250px;
    -moz-box-shadow: 0 0 10px black;
}

div.example-image .image-note {
    font-style: italic;
    font-size: 10px;
}
span.image-note-red {
    color: #FF8888;
}

div#button-bar {
    text-align: right;
    position: relative;
    margin: 10px 0;
}
    div#button-bar div#not-submitted {
        position: absolute;
        color: #a5a5a5;
        font-style: italic;
        font-size: 12px;
        left: 0px;
        width: 128px;
        line-height: 13px;
        top:6px;
    }
div#themes-label {
    padding: 5px 0;
}
div#themes-dropdown {
    height: 38px;
    background-color: #656565;
    -moz-box-shadow: 0 0 5px black;
}
    div#themes-dropdown div.label{
        padding: 0 15px;
        line-height: 38px;
        text-shadow: none;
    }
    div#themes-dropdown img.arrow {
        position: absolute;
        right: 14px;
        top: 15px;
        pointer-events: none;
    }
    div#themes-dropdown option {
        padding: 7px 15px;
    }
