@import url('../../css/new-visd-base.css');
@import url(../../css/new-visd-buttons.css);

body {
    overflow: hidden;
}

#dialog {
    width: 650px;
    height: 400px;      
}

.header {
    font-weight: bold;
    font-size: 22px;    
    color: #FFF;
    background-color: #393939;
    padding: 20px 18px 22px;   
}

.photo-button-header {
    position: absolute;
    display: none;
    top: 20px;
    right: 15px;
}

.bd.photos .photo-button-header {
    display: block;
}

.photo-button-header .back-button {
    margin-right: 4px;
}

.bd {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;    
    color:#ffffff;  
    background-color: #252525;
}

#dialog.select-photo .select-photo { 
    display: block;
}

.container {
    padding: 20px 18px 0;
    overflow-y: scroll;
    height: 278px;
}

.breadcrumb {
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
    margin-bottom: 20px;
}

.photos .breadcrumb .start {
    cursor: pointer;
}

.bd.photos button.action-close {
    display: none;
}

button.action-close {
    position: absolute;
    right: 15px;
    top: 20px;    
}

.album-list li {
    display: inline-block;
}

.album-detail .thumbnail {    
    width: 120px;
    height: 90px;
    margin: 10px 13px 16px;
    background-color: #CDCDCD;
    background-position: center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 1px 4px #000;
}

.photo-detail {
    position: relative;
    display: inline-block;
    margin: 0 5px 6px 0;
}

.check-mark {
    position: absolute;
    width: 40px;
    height: 40px;
    background: no-repeat url(img/SelectedCheck_40x40.png) 0 0 transparent;
    right: -10px;
    top: -10px;
    z-index: 2;
    display: none;
}

.photo-detail.selected .check-mark{
    display: block;
}

.photo-detail.selected {
    border: 1px solid #fff;
    margin: -1px 4px 5px -1px;
}

.photo-thumbnail {
    width: 145px;
    height: 145px;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 13px;
    margin-left: 13px;
    color: #CCC;
    width: 120px;
    overflow-x: hidden;
}

.album-detail {
    width: 145px;
    height: 145px;
    margin: 0 5px 6px 0;
    background: #000 no-repeat url(img/photo_stack_bg_145x145.png) 0 0;
}

.album-detail.album-template {
    display: none;
}
.photo-detail.photo-template {
    display: none;
}
.album-detail:hover,
.photo-detail:hover {
    border: 1px solid #fff;
    margin: -1px 4px 5px -1px;
}

#dialog.take-photo .bd.take-photo { 
    display: block;
    width: 660px;
    height: 400px;
}

.bd.take-photo {
    display: none;
}
.take-photo h1 {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #FFF;
    padding-top: 30px;
}

.take-photo h2 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #FFF;
    padding-top: 20px;
}

.tricol {
    padding-top: 30px;
    width: 680px;
    margin: 0 auto;
}

.tricol .col {
    display: inline-block;
    text-align: center;
    width: 165px;
    vertical-align: top;   
    margin-right: 38px;
}

.tricol .col:first-child {
    margin-left: 40px;
}

.take-photo .tricol .col .text {
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
}

.take-photo button.action-take {
    position: absolute;
    right: 38px;
    top: 356px;    
}

#footer {
    margin: 5px 20px 5px 20px;
}
#footer .disclaimer {
    max-width: 320px;
    line-height: 12px;
    display: inline-block;
}

#footer .disclaimer p,
#footer .disclaimer p a {
    font-weight: 500;
    font-size: 11px;
}
