#performancePanel .perfSlider { 
    width: 100px;
    height: 10px;
}

#performancePanel #breakdown-selector {
    width: 275px;
}

#performancePanel #breakdown-selector span { 
    font: 11px;
    padding: 3px 10px;
    cursor: pointer;
}

#performancePanel .bd { 
    padding: 5px; 10px 10px 10px;
}

#performancePanel #breakdown-selector span.active { 
    background-color: #828282;
    cursor: default;
}

#performancePanel h2 {
    font-size: 13px;
    margin: 10px 0px 5px 0px;
}

#performancePanel .details .metric,
#performancePanel h3 .metric {
    position:absolute;
    right: 10px;
}

#performancePanel h3 { 
    padding: 3px 0px 3px 5px;
    font-weight: bold;
}

#performancePanel #breakdown {
    margin-top: 5px;
}

#performancePanel #breakdown .details { 
    padding: 0px 10px 5px 10px;
}

#performancePanel #breakdown .details div {
    height: 18px;
    width: 253px;
    margin: 0px;
}

#performancePanel .details .alt { 
    background-color: #E0E0E0;
}