#ratingsPanel {
    cursor: default;
}
    #ratingsPanel .hearts,
    #ratingsPanel .closeButton {
        cursor: pointer;
    }

.placeHolder { 
    width: 200px;
    height: 10px;
}

.instructions { 
    font-size: 11px;
    color: #fee87f
}

.averageRating { 
    font-size: 13px;
    font-weight: bold;
    color: #fee87f
}

.ratingDescription { 
    font-size: 13px;
    font-weight: bold;
    height: 15px;/*27px;*/
    padding: 7px 0px 7px;/*5px 0px 5px;*/
    color: #fee87f
}

.userRatingSection {
    background:rgba(0,0,0,0.7);
    border-top:2px solid rgba(0,0,0,0.3);
    -moz-border-radius:0 0 0 0;
    color:white;
    padding:7px 10px 5px;
}

.averageRatingSection {
    background:rgba(0,0,0,0.7);
    border-top:1px solid rgba(255,255,255,0.3);
    min-height:20px;
    -moz-border-radius:0 0 12.5px 12.5px;
    color:white;
    padding:8px 10px 15px;
}

.closeButton {
    background:url(img/button_all_active_hover.png);
    width:21px;
    height:21px;
    top:2px;
    float:right;
    margin-right:5px;
}

.check {
    background:url(img/green_check.png);
    background-repeat:no-repeat;
    background-position:right top;
    width:28px;
    height:21px;
    top:2px;
    padding-left: 18px;
}

.submittedText {
    width:40px;
    height:21px;
    font-size: 11px;
    color:#72a700;
    padding-left: 4px;
}
