.colorPickerSection {
    background:rgba(0,0,0,0.7);
    border-top:1px solid rgba(255,255,255,0.3);
    -moz-border-radius:0 0 12.5px 12.5px;
    color:white;
    padding:12px 15px 14px;
    width: 204px;
}
td.swatch {
    padding: 0px;
}
.colorSwatch {
    width:  17px;
    height: 17px;
    cursor: pointer;
}
/*.colorSwatch:hover,*/
.selected {
    border:1px solid #ffffff;
    width:  15px;
    height: 15px;
}
.closeButton {
    cursor: pointer;
}

.addFavorite {
    display: hide;
}