.chat-ftux-mode {
    display:none;
    position: relative;
}

.chat-as-ftux-hint {
    display: none;
    color: #000;
    width: 232px;
    padding: 10px;
    background: -moz-linear-gradient(center top , #FDD71D, #FBAF0F) repeat scroll 0 0 transparent;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.9);
    position: absolute;
    top: -160px;
    right: 125px;
    font-size: 15px;
    font-weight: bold;
    z-index: 9999;
}

.chat-as-ftux-hint .hint-tail {
    border-color: transparent transparent #FDD71D;
    border-style: solid;
    border-width: 20px;
    height: 0;
    position: absolute;
    top: -38px;
    left: 65px;
}

.chat-as-ftux-hint img {
    float: left;
    margin-top: 5px;
}

.chat-as-ftux-hint .hint-text {
    margin-left: 40px;
}

.chat-as-ftux {
    position: relative;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto; 
    background: url(img/chat_as_ftux_background.png) no-repeat scroll 0 0 transparent;
    width: 563px;
    height: 390px;
    color: #000;
}

.chat-as-ftux .welcome {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 3px;
}

.chat-as-ftux .tagline {
    text-align: center;
    font-size: 19px;
    line-height: 0.7;
}

.chat-as-ftux .chat-ftux {
    position: relative;
    width: 473px;
    height: 240px;
    margin: 25px 45px;
}

.chat-as-ftux .chat-box {
    width: 207px;
    height: 233px;
    border: 4px solid white;
    -moz-border-radius: 10px;
    background-color: #fdb82c;
    font-size: 11px;
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
}

.chat-as-ftux .chat-box img {
    -moz-border-radius: 10px;
}

.chat-as-ftux .chat-box .message {
    padding: 0 10px;
}
.chat-as-ftux .chat-box .message .chat-header {
    font-size: 15px;
    font-weight: bold;
}

.chat-as-ftux .chat-box .imvu-button {
    width: 200px;
    position: absolute;
    top: 200px;
    left:4px;
    color: #FFF;
    -moz-border-image: url("../css/imvu-button-level5.png") 8 8 8 8 stretch;
    border-width: 8px;
    font-size: 14px;
    height: 29px;
    min-width: 106px;
    padding-bottom: 2px;
    text-shadow: 0 -1px 1px #000000;
    -moz-user-select: none;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: 0 8px;
    text-align: center;
    vertical-align: middle;
}

.chat-as-ftux .chat-box .imvu-button:hover {
    -moz-border-image: url("../css/imvu-button-level5-hover.png")  8 stretch; 
}

.chat-as-ftux .one-one {
    position: absolute;
    top: 0px;
    left: 0px;
}

.chat-as-ftux .group {
    position: absolute;
    top: 0px;
    right: 0;
}

#chat-ftux-skip {
    color: #464646;
    font-size: 16px;
    text-decoration: underline;
    text-align: right;
    position: relative;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 563px;
}

#chat-ftux-skip span {
    cursor: pointer;
}
