@import url(../css/font.css);

body,html {
 height: 100%;
 -moz-user-select: -moz-none;
}

body {
 background-color: #131313;
 background-position: center 80px;
 background-repeat: no-repeat;
 color: #FFFFFF;
 margin: 0px;
 padding: 0px;
}

#home-mode {
 min-height: 10em;
 display: table-cell;
 vertical-align: middle;
 line-height: 0;
 position: relative;
 margin-left: auto;
 margin-right: auto;
}

#home-header {
 position: relative;
 margin-top: 0px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0px;
 width: 485px;
 text-align: center;
 overflow: visible;
 z-index: 1;
}

#title {
 margin-top: 16px;
 font-size: 38px;
 font-weight: 100;
 color: #f1bf00;
 cursor: default;
}

#title-container {
 height: 60px;
 overflow: hidden;
 position: relative;
 bottom: 0px;
}

#home-paginator {
 margin-bottom: 5px;
}

#sledgehammer img {
 border: none;
 cursor: pointer;
 position: absolute;
}

#body_with_prev_next {
 width: 610px;
 margin-left: auto;
 margin-right: auto;
 margin-left: auto;
}

#prev-page,#next-page {
 display: inline-block;
 position: relative;
 height: 376px;
 top: -72px;
}

#prev-page {
 left: 20px;
 width: 58px;
}

#next-page {
 right: -12px;
 width: 36px;
}

#prev-page-box,#next-page-box {
 position: relative;
 cursor: pointer;
 height: 376px;
 background-color: #2b2925;
 opacity: 0;
 -moz-border-radius: 10px;
 width: 36px;
}

#next-page-box {
 right: 5px;
}

#prev-page-img,#next-page-img {
 position: absolute;
 top: 158px;
 cursor: pointer;
 width: 31px;
 height: 59px;
}

#prev-page-img {
 left: 4px;
}

#next-page-img {
 right: 9px;
}

#prev-page-img.mousedown {
 background-image: url(img/home_paging_arrow_left_active.png);
}

#next-page-img.mousedown {
 background-image: url(img/home_paging_arrow_right_active.png);
}

.home-body {
 display: inline-block;
 width: 489px;
 margin-bottom: 10px;
 overflow: hidden;
 z-index: 0;
 position: relative;
}

#buttons-container {
 position: relative;
 width: 520px;
 height: 450px;
 margin-top: 10px;
 margin-left: -13px;
 text-align: center;
}

.button-page {
 width: 520px;
 text-align: center;
 display: block;
 top: 1px;
 left: -10000%;
}

.button-page:first-child {
 display: block;
 left: 0px;
}

.page-indicator {
 display: inline-block;
 width: 18px;
 height: 13px;
 background: url(../img/paging_dot.png);
 opacity: 0.4;
 cursor: pointer;
}

.page-indicator.active {
 opacity: 1;
 cursor: default;
}

.button {
 margin: 0px 12px 4px 0px; /* killing the gutter for space reasons */
 padding: 0px;
 cursor: pointer;
 display: inline-block;
 position: relative;
 height: 149px;
 width: 146px;
}

.button .buttonBorder {
 border: 1px solid #C0C0C0;
}

.button:hover .buttonBorder {
 border-color: white;
}

.button .label {
 font-family: arial;
 font-size: 22px;
 line-height: 100%;
 color: #C0C0C0;
 width: 146px;
 max-width: 146px;
 overflow: hidden;
 display: table-cell;
}

.button:hover .label {
 color: white;
}

.birthday-icon {
 background: url(img/cyan-cake.png);
 width: 30px;
 height: 30px;
 position: absolute;
 top: -8px;
 left: -10px;
 z-index: 100;
 display: none;
}

.birthday-icon.visible,.pill0.visible,.pill1.visible {
 display: block;
}

.vip-icon {
  background: url(../img/icon_vip_medium2.png) no-repeat;
  width: 36px;
  height: 26px;
  position: absolute;
  right: 1px;
  top: 1px;
}

.pill0 {
 position: absolute;
 top: -8px;
 left: -10px;
 z-index: 100;
 display: none;
 font-weight: 700;
 font-size: 14px;
}

.pill1 {
 position: absolute;
 top: 20px;
 left: -10px;
 z-index: 100;
 display: none;
 font-weight: 700;
 font-size: 14px;
}

.pill0 .left,
.pill1 .left {
 background: url(img/requests_left_cap.png);
 width: 12px;
 height: 25px;
 float: left;
}

.pill0 .middle,
.pill1 .middle {
 background: url(img/requests_stretch.png) repeat-x;
 height: 25px;
 font: bold 12px;
 color: #0E0007;
 line-height: 25px;
 float: left;
 margin-right: -1px;
 position: relative;
 z-index: 9999;
}

.pill0 .right,
.pill1 .right {
 background: url(img/requests_right_cap.png);
 width: 12px;
 height: 25px;
 float: left;
}

.pill0 .buddy-icon {
 display: inline-block;
 width: 15px;
 height: 10px;
 background: url(img/add_buddy_icon.png);
 margin-left: -5px;
 margin-right: 3px;
}

.pill1 .get-matched-icon {
 display: inline-block;
 width: 19px;
 height: 10px;
 background: url(img/get_matched_pill_icon.png);
 margin-left: -5px;
 margin-right: 3px;
}

.disabled {
 opacity: 0.3;
}

#loading-mask {
 display: none;
 z-index: 999;
 background-color: #000;
 opacity: 0.66;
 position: fixed;
 margin: 0px;
 padding: 0px;
 top: 0px;
 right: 0px;
 bottom: 0px;
 left: 0px;
}

#loading-spinner {
 display: table-cell;
 position: absolute;
 top: 50%;
 left: 50%;
 background: black url(../img/spinner_white.apng) no-repeat center center;
 width: 50px;
 height: 50px;
 opacity: 0.66;
}

#loading-mask.visible {
 display: block;
}

#modeTable {
 display: table;
 height: 100%;
 width: 100%;
}

.pulse-mode-icon {
 position: absolute;
 top: -8px;
 left: -10px;
 z-index: 100;
 display: none;
}

.pulse-mode-icon .left {
 background: url(img/requests_left_cap.png);
 width: 12px;
 height: 25px;
 margin-right: -1px;
 float: left;
}

.pulse-mode-icon .middle {
 background: url(img/requests_stretch.png) repeat-x;
 height: 25px;
 font: bold 12px;
 color: #0E0007;
 line-height: 25px;
 float: left;
 margin-right: -1px;
 position: relative;
 z-index: 9999;
}

.pulse-mode-icon .right {
 background: url(img/requests_right_cap.png);
 width: 12px;
 height: 25px;
 float: left;
}

#avview-holder {
 display: table-cell;
 width: 35%;
 height: 100%;
 min-width: 300px;
 max-width: 300px;
 vertical-align: middle;
}

#avview {
 width: 100%;
 height: 99%;
}

.share-update-button {
 margin-left: auto;
 margin-right: auto;
 display: block;
 padding-top: 5px;
 background: url(img/share_button_client.png) 0 0;
 font: 13px arial;
 text-align: center;
 cursor: pointer;
 width: 67px;
 height: 22px;
}

.share-comment-button {
 margin-left: 6px;
 margin-right: auto;
 display: block;
 padding-top: 3px;
 background: url(img/share_comment_button_client.png) 0 0px;
 font: 13px arial;
 text-align: center;
 cursor: pointer;
 width: 49px;
 height: 22px;
 color: black;
}

.buttonColumn {
 display: inline-block;
 width: 160px;
 text-align: left;
 vertical-align: top;
 font-family: Arial;
}

.buttonColumn ul {
 list-style-type: none;
 line-height: 31px;
}

.buttonColumn li {
 background: url(img/yellow-dot.png) no-repeat;
 padding-left: 10px;
 color: #d3d3d3;
 cursor: pointer;
 position: relative;
 left: -24px;
 top: -10px;
}

.buttonColumn li:hover {
 color: white;
}

.new-button-template {
 display: none;
}

.new-button {
 display: inline-block;
 width: 144px;
 height: 112px;
 cursor: pointer;
 margin: 10px;
 background-repeat: no-repeat;
 position: relative;
 background-image: url(img/btn-blank.png);
 font-size: 18px;
 text-align: center;
 font-weight: 300;
}

.new-button.animated {
 background-image: url(img/btn-blank-animated.apng);
}

.new-button .name {
 color: #c4c4c4;
 line-height: 18px;
 text-align: center;
 text-transform: capitalize;
 width: 130px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 84px;
}

.new-button:not(.locked ):hover .name {
 color: white;
 text-shadow: 0px 0px 2px white;
}

.new-button.locked {
 background-image: url(img/btn-locked.png);
}

.new-button:not(.locked ):hover {
 background-image: url(img/btn-over.png);
}

.new-button img {
 position: absolute;
 left: 0;
 top: 0;
}

.new-button .button-normal {
 display: inline;
}

.new-button .button-over {
 display: none;
}

.new-button .button-locked {
 display: none;
}

.new-button:not(.locked ):hover .button-normal {
 display: none;
}

.new-button:not(.locked ):hover .button-over {
 display: inline;
}

.new-button.locked .button-normal {
 display: none;
}

.new-button.locked .button-locked {
 display: inline;
}

.new-button .spinner {
 display: none;
 position: absolute;
 top: 50%;
 left: 50%;
 background: url(../img/spinner_white.apng) no-repeat center center;
 width: 50px;
 height: 50px;
 margin-left: -25px;
 margin-top: -25px;
}

.new-button.loading .spinner {
    display: table-cell;
}

.new-button.loading {
    opacity: 0.3;
}

.unlock-anim {
 width: 177px;
 height: 144px;
 background: url(img/UnlockAnim_BG.png);
 position: absolute;
 top: -18px;
 left: -13px;
}

.unlock-anim img {
 margin-top: 33px;
 margin-left: 31px;
}

.buttonColumn li .numberSpan {
 color: black;
 background: #F1BF00;
 background: -moz-linear-gradient(top, #FFFF33, #F1BF00);
 
 font-size: 11px;
 font-weight: bold;
 -moz-border-radius: 7px;
 padding: 1px 4px;
 margin-left: 3px;
}

.buttonColumn li span.hidden {
 display: none;
}

.new {
  background: url(img/new_button_icon.png) no-repeat;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 57px;
  height: 56px;
  z-index: 100;
  display: none;
}

.look {
  background: url(img/look_button_icon.png) no-repeat;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 57px;
  height: 56px;
  z-index: 100;
  display: none;
}

.improved {
  background: url(img/improved_button_icon.png) no-repeat;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 57px;
  height: 56px;
  z-index: 100;
  display: none;
}

.our_room_banner {
  background: url(img/our_room_banner.png) no-repeat;
  position: absolute;
  top: -12px;
  left: -10px;
  width: 165px;
  height: 76px;
  z-index: 100;
  display: none;
}

.beta {
  background: url(img/beta_tag.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 6px;
  width: 57px;
  height: 56px;
  z-index: 100;
  display: none;  
}

#start-here {
 width: 232px;
 line-height: 125%;
 background: -moz-linear-gradient(top, #FDD71D, #FBAF0F);
 -moz-border-radius: 13px;
 -moz-box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.9);
 position: absolute;
 top: 36px;
 left: 128px;
 color: black;
 
 font-size: 22px;
 margin-left: 45px;
 padding-top: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
 padding-left: 20px;
 text-shadow: 0px 1px 1px #FEE921;
 display: none;
}

#start-here strong {
 font-weight: normal;
 
}

#start-here #start-here-tail {
 width: 0px;
 height: 0px;
 position: absolute;
 left: -72px;
 top: 28px;
 border-color: transparent #FCC717 transparent transparent;
 border-width: 22px 36px 22px 36px;
 border-style: solid;
}

#gift {
 width: 30px;
 height: 28px;
 background: url(img/home_gift.png) no-repeat;
 cursor: pointer;
 position: absolute;
 left: 305px;
 top: 22px;
}

#sparkle {
 background: url(img/sparkle.png) no-repeat;
 width: 28px;
 height: 28px;
 position: absolute;
 right: -5px;
 top: -12px;
}

.button-bubble-template {
 display: none;
 width: 150px;
 position: absolute;
 top: 131px;
 left: -7px;
 background: -moz-linear-gradient(top, #FDD71D, #FBAF0F);
 -moz-border-radius: 13px;
 -moz-box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.8);
 padding: 4px 4px 5px 4px;
 text-shadow: 0px 1px 1px #FEE921;
 z-index: 9999;
}

.button-bubble-icon {
 background: url(img/yellow-credits-icon.png);
 width: 28px;
 height: 28px;
 float: left;
 margin: 4px 4px 4px 8px;
}

.button-bubble-tail {
 width: 0px;
 height: 0px;
 position: absolute;
 left: 62px;
 top: -28px;
 border-color: transparent transparent #FDD71D transparent;
 border-width: 14px 18px 14px 18px;
 border-style: solid;
}

.button-bubble-msg-1 {
 margin-top: 0px;
 margin-left: 44px;
 color: black;
 font: bold 14px arial;
 text-align: left;
}

.button-bubble-msg-2 {
 margin-top: 2px;
 margin-left: 36px;
 color: black;
 font: bold 14px arial;
 text-align: left;
}
